<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//Tigris//DTD XHTML 1.0 Transitional//EN"
"http://style.tigris.org/tigris_transitional.dtd">
<html>
<head>
 <style type="text/css">
/* <![CDATA[ */ 
@import "css/readyset.css"; 
@import "css/inst.css";
/*  ]]> */
 </style>

<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
 <title>Components</title>
</head>

<body>
<div class="app">
<div class="readyset">
 <h2><a href="design.html">Design</a> &gt; <a
 href="design-architecture.html">Architecture</a> &gt; Components</h2>

 <h3>Release Information</h3>
 <div class="axial">
 <table>
  <tr>
   <th>Project:</th> 
   <td>PROJECTNAME</td> 
  </tr>
  <tr>
   <th>Internal release number:</th> 
   <td>X.Y.Z</td> 
  </tr>
  <tr>
   <th>Related Documents:</th> 
   <td>
    <div>LINKS TO RELEVANT STANDARDS</div>
    <div>LINKS TO OTHER DOCUMENTS</div>
   </td>
  </tr>
 </table>
 </div>


 <div class="sticky">
  TODO: Briefly describe each component in the system.  Focus on
  architectural issues such as communication mechanisms, environmental
  concerns that affect deployment options, and concurrency.  Note key
  aspects of each interface, but avoid duplicating details of
  interfaces that are specified in the UML class diagrams or other
  documents.
 </div>

 <div class="sticky">
  TIP: Use an HTML archor for each component so that a direct URL can
  be used in other documents, issues, and email messages.
 </div>


 <a name="C-00"></a>
 <h3>C-00: COMPONENT NAME</h3>
 <div class="axial">
  <table>
   <tr>
    <th>Description:</th>
    <td>DESCRIPTION</td>
   </tr>
   <tr>
    <th>Environmental Constraints:</th>
    <td>REQUIRED OPERATING SYSTEM, RAM, ETC. </td>
   </tr>
   <tr>
    <th>Available Interfaces:</th>
    <td>BRIEFLY DESCRIBE INTERFACES</td>
   </tr>
  </table>
 </div>


 <a name="C-01"></a>
 <h3>C-01: COMPONENT NAME</h3>
 <div class="axial">
  <table>
   <tr>
    <th>Description:</th>
    <td>DESCRIPTION</td>
   </tr>
   <tr>
    <th>Environmental Constraints:</th>
    <td>REQUIRED OPERATING SYSTEM, RAM, ETC. </td>
   </tr>
   <tr>
    <th>Available Interfaces:</th>
    <td>BRIEFLY DESCRIBE INTERFACES</td>
   </tr>
  </table>
 </div>


 <a name="C-10"></a>
 <h3>C-10: COMPONENT NAME</h3>
 <div class="axial">
  <table>
   <tr>
    <th>Description:</th>
    <td>DESCRIPTION</td>
   </tr>
   <tr>
    <th>Environmental Constraints:</th>
    <td>REQUIRED OPERATING SYSTEM, RAM, ETC. </td>
   </tr>
   <tr>
    <th>Available Interfaces:</th>
    <td>BRIEFLY DESCRIBE INTERFACES</td>
   </tr>
  </table>
 </div>


 <a name="C-11"></a>
 <h3>C-11: COMPONENT NAME</h3>
 <div class="axial">
  <table>
   <tr>
    <th>Description:</th>
    <td>DESCRIPTION</td>
   </tr>
   <tr>
    <th>Environmental Constraints:</th>
    <td>REQUIRED OPERATING SYSTEM, RAM, ETC. </td>
   </tr>
   <tr>
    <th>Available Interfaces:</th>
    <td>BRIEFLY DESCRIBE INTERFACES</td>
   </tr>
  </table>
 </div>


 <a name="C-12"></a>
 <h3>C-12: COMPONENT NAME</h3>
 <div class="axial">
  <table>
   <tr>
    <th>Description:</th>
    <td>DESCRIPTION</td>
   </tr>
   <tr>
    <th>Environmental Constraints:</th>
    <td>REQUIRED OPERATING SYSTEM, RAM, ETC. </td>
   </tr>
   <tr>
    <th>Available Interfaces:</th>
    <td>BRIEFLY DESCRIBE INTERFACES</td>
   </tr>
  </table>
 </div>


 <a name="C-20"></a>
 <h3>C-20: COMPONENT NAME</h3>
 <div class="axial">
  <table>
   <tr>
    <th>Description:</th>
    <td>DESCRIPTION</td>
   </tr>
   <tr>
    <th>Environmental Constraints:</th>
    <td>REQUIRED OPERATING SYSTEM, RAM, ETC. </td>
   </tr>
   <tr>
    <th>Available Interfaces:</th>
    <td>BRIEFLY DESCRIBE INTERFACES</td>
   </tr>
  </table>
 </div>


</div>

 <p> </p>
 <div class="sticky">
  TODO:  Check for <a
  href="http://readyset.tigris.org/words-of-wisdom/design-components.html">words
  of wisdom</a> and discuss ways to improve this template.
 </div>

<div class="footnote">
 Copyright &#169; 2003 Jason Robbins.  All rights reserved. <a href="readyset-license.html">License terms</a>.
 Retain this copyright statement whenever this file is used as a
 template.
</div>

</div>
</body>
</html>
