<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//Tigris//DTD XHTML 1.0 Transitional//EN"
"http://style.tigris.org/tigris_transitional.dtd">
<html>
<head>
 <style type="text/css">
/* <![CDATA[ */ 
@import "http://style.tigris.org/client-side-include/dev/css/tigris.css"; 
@import "css/inst.css";
/*  ]]> */
 </style>
  <link rel="stylesheet" type="text/css" href="http://style.tigris.org/client-side-include/dev/css/print.css" media="print" />
<script src="http://style.tigris.org/client-side-include/dev/scripts/tigris.js" type="text/javascript">
<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
 <title>Select at left</title>
</head>
<body>

<p>Click on the folders on the left-hand panel to expand.</p>

<p>Select a document to display in this panel.</p>



</body>
</html>
