<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//Tigris//DTD XHTML 1.0 Transitional//EN"
"http://style.tigris.org/tigris_transitional.dtd">
<html>
<head>
 <style type="text/css">
/* <![CDATA[ */ 
@import "css/readyset.css"; 
@import "css/inst.css";
/*  ]]> */
 </style>

<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
 <title>Project terms</title>
</head>

<body>
<div class="app">
<div class="readyset">
 <h2>Glossary</h2>

 <div class="tabs">
 <table cellspacing="0" cellpadding="0"><tr>
  <th>Project terms</th>
  <td><a href="glossary-std.html">Standard terms</a></td>
 </tr></table>
 </div>

 <p class="readonly"><strong>Process impact:</strong> This file as a
 dictionary of terms defined as they are used during the project.
 Writing out the definitions of terms and acronyms here helps keep
 other documents more concise and precise.  A shared glossary helps
 prevent misunderstandings and makes it easier for new team members to
 be productive.
 </p>

 <div>Jump to: <a href="#A">A</a> | <a href="#B">B</a> | <a
 href="#C">C</a> | <a href="#D">D</a> | <a href="#E">E</a> | <a
 href="#F">F</a> | <a href="#G">G</a> | <a href="#H">H</a> | <a
 href="#I">I</a> | <a href="#J">J</a> | <a href="#K">K</a> | <a
 href="#L">L</a> | <a href="#M">M</a> | <a href="#N">N</a> | <a
 href="#O">O</a> | <a href="#P">P</a> | <a href="#Q">Q</a> | <a
 href="#R">R</a> | <a href="#S">S</a> | <a href="#T">T</a> | <a
 href="#U">U</a> | <a href="#V">V</a> | <a href="#W">W</a> | <a
 href="#X">X</a> | <a href="#Y">Y</a> | <a href="#Z">Z</a> | <a
 href="#Other">Other</a> </div>




 <h3>Project-specific Terms</h3>

 <div class="sticky">
  TIPs: 
  <ul>
   <li>Add HTML anchors on your terms so that other documents can link
   to the definition of specific terms.  That will also allow links to
   other terms in the definitions.</li>

   <li>If there is any question about the meaning of a term, note it
   here.  If someone (e.g., the customer) gave you a definition to
   use, note that here too.  If something is best defined by using a
   hyperlink to another document or website, include a hyperlink in
   the definition.</li>

   <li>If a term was used, but is no longer going to be used, you
   should keep it in the list and mark it as "deprecated".</li>

   <li>Just define the special terms used in this project, or ones
   that a new team member would not know.  Don't start defining hundreds of
   textbook terms.  You can always find these at <a
   href="http://www.dictionary.com/">dictionary.com</a> or <a
   href="http://www.google.com/">Google</a>.</li>

   <li>Don't waste time alphabetizing, just group terms by first
   letter.  Users can use Control-F to "Find..." the terms when
   needed.</li>
  </ul>
 </div>
<p></p>
 <div class="sticky">
  NOTE: In this template set, there is no formal Domain Model, the
  only representations of the problem domain is the statement of <a
  href="user-needs.html">User Needs</a> and the terms defined here.  So,
  if you do not create a UML analysis model, you should define objects
  found in the problem domain and list their attributes and
  relationships here.  For example, see <a href="#senior">senior</a>.
 </div>


 <dl>

<a name="A"></a>

<a name="B"></a>


<a name="C"></a>

<a name="D"></a>


<a name="E"></a>

<a name="F"></a>


<a name="G"></a>

<div class="sample1">
  <a name="gef"></a>
  <dt>GEF</dt>

  <dd><i>n.</i> The <a href="http://gef.tigris.org/">Graph Editing
  Framework</a>.  An open source library for editing diagrams (boxes
  and arrows).</dd>
</div>

<a name="H"></a>

<a name="I"></a>

<div class="sample1">
  <a name="ics"></a>
  <dt>ICS</dt>

  <dd><i>n.</i> Acronym for the School of Information and Computer
  Science at UC Irvine.  Note: Now that we are a full school, will it
  change to SICS?</dd>
</div>

<a name="J"></a>

<a name="K"></a>

<a name="L"></a>

<a name="M"></a>

<a name="N"></a>

<a name="O"></a>

<a name="P"></a>

<a name="Q"></a>

<a name="R"></a>

<a name="S"></a>

<div class="sample1">
  <a name="student"></a>
  <dt>Student</dt>

  <dd><i>n.</i> A person who attends a school to earn a degree.
  Attributes include: student_id_number, major, and years_at_school.
  Relationships with school and transcript.</dd>
</div>

<div class="sample1">
  <a name="senior"></a>
  <dt>Senior</dt>

  <dd><i>n.</i> A senior is special type of <a
  href="#undergraduate">undergraduate</a> who has a certain number of
  course credits on his or her transcript. Years_at_school does not
  determine senior standing.  TODO: how many credits needed?</dd>
</div>

<a name="T"></a>

  <a name="term1"></a>
  <dt>Term1</dt>

  <dd>Definition1</dd>

  <a name="term2"></a>
  <dt>Term2</dt>

  <dd>Definition2a</dd>

  <dd>Definition2b</dd>


  <a name="term3"></a>
  <dt>Term3</dt>

  <dd>Definition3</dd>

  <a name="term4"></a>
  <dt>Term4</dt>

  <dd>Definition4</dd>

  <a name="term5"></a>
  <dt>Term5</dt>

  <dd>Definition5</dd>

  <a name="term6"></a>
  <dt>Term6</dt>

  <dd>Definition6</dd>

<a name="U"></a>

<div class="sample1">
  <a name="undergraduate"></a>
  <dt>Undergraduate</dt>

  <dd>A type of <a href="#student">student</a>. TODO: add more
  detail.</dd>
</div>

<a name="V"></a>

<a name="W"></a>

<a name="X"></a>

<a name="Y"></a>

<a name="Z"></a>

<a name="Other"></a>





 </dl>


 
 <h3>Additional Standard Terms</h3>
 <p>For addtional standard terms, see the following reference sites:</p>
 <ul>
  <li><a href="http://www.dictionary.com/">Dictionary.com</a></li>
  <li><a href="http://www.whatis.com/">Whatis.com</a></li>
  <li><a href="http://www.nist.gov/dads/">NIST Dictionary of Algorithms and Data Structures</a></li>
  <li><a href="http:/http://foldoc.doc.ic.ac.uk/foldoc/index.html">Free on-line dictionary of computing</a></li>
  <li><a href="http://www-3.ibm.com/ibm/terminology/goc/gocmain.htm">IBM's glossary of computing terms</a></li>
  <li><a href="http://www.jargon.org/">Jargon File</a></li>
 </ul>

 <div class="sticky">
  TODO:  Check for <a
  href="http://readyset.tigris.org/words-of-wisdom/glossary.html">words
  of wisdom</a> and discuss ways to improve this template.
 </div>


</div>

<div class="footnote">
 Copyright &#169; 2003 Jason Robbins.  All rights reserved. <a href="readyset-license.html">License terms</a>.
 Retain this copyright statement whenever this file is used as a
 template.
</div>

</div>
</body>
</html>
