<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//Tigris//DTD XHTML 1.0 Transitional//EN"
"http://style.tigris.org/tigris_transitional.dtd">
<html>
<head>
 <style type="text/css">
/* <![CDATA[ */ 
@import "css/readyset.css"; 
@import "css/inst.css";
/*  ]]> */
 </style>

</script>
 <title>Implementation Documentation</title>
</head>

<body>
<div class="app">
<div class="readyset">
 <h2>Implementation Documentation</h2>

 <h3>HEADING</h3>

 <p>PARAGRAPH</p>

 <p>PARAGRAPH</p>


 <h3>TABLE HEADING</h3>

 <table>
  <tr>
   <th>COLUMN</th> 
   <th>COLUMN</th> 
   <th>COLUMN</th> 
  </tr>
  <tr>
   <td>DATA</td> 
   <td>DATA</td> 
   <td>DATA</td> 
  </tr>
  <tr>
   <td>DATA</td> 
   <td>DATA</td> 
   <td>DATA</td> 
  </tr>
 </table>

 <h3>AXIAL TABLE HEADING</h3>
 <div class="axial">
 <table>
  <tr>
   <th>PARAMETER</th> 
   <td>VALUE</td> 
  </tr>
  <tr>
   <th>PARAMETER</th> 
   <td>VALUE</td> 
  </tr>
  <tr>
   <th>PARAMETER</th> 
   <td>VALUE</td> 
  </tr>
 </table>
 </div>

 </div>

 <p></p>
 <div class="sticky">
    Tip on filling in this template.
 </div>

 <div class="sticky">
  TODO:  Check for <a
  href="http://readyset.tigris.org/words-of-wisdom/implementation.html">words
  of wisdom</a> and discuss ways to improve this template.
 </div>

<div class="footnote">
 Copyright &#169; 2003 Jason Robbins.  All rights reserved. <a href="readyset-license.html">License terms</a>.
 Retain this copyright statement whenever this file is used as a
 template.
</div>

</div>
</body>
</html>
