<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//Tigris//DTD XHTML 1.0 Transitional//EN"
"http://style.tigris.org/tigris_transitional.dtd">
<html>
<head>
 <style type="text/css">
/* <![CDATA[ */ 
@import "css/readyset.css"; 
@import "css/inst.css";
/*  ]]> */
 </style>

<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
 <title>Project Overview</title>

</head>

<body>
 <h2>Project Overview</h2>

 <div class="app">
 <div class="readyset">


 <div id="mission">
 <div id="scope">
 <h3>Mission and Scope</h3>
 <div class="todo">
  TODO: Answer these questions in your own words by filling in each
  &lt;dd> tag.
 </div>

 <dl>

  <dt>What problem does this project address?</dt>

  <dd class="sample1">2-4 SENTENCE PROBLEM</dd>


  <dt>What is the goal of this project?</dt>

  <dd class="sample1">2-4 SENTENCE GOAL</dd>


  <dt>What is the scope of this project?</dt>

  <dd class="sample1">2-4 SENTENCE SCOPE</dd>


  <dt>What development methodology is being used?</dt>

  <dd>See our <a href="sdm.html">software development methodology</a> document.</dd>


  <dt>Where should a new team member start?</dt>

  <dd>For more information, see the <a href="proposal.html">project proposal</a>.</dd>
  
 </dl>
 </div> <!-- /scope -->
 </div> <!-- /mission -->





 <div id="status">
 <h3>Status</h3>

 <div class="todo">
  TODO: Briefly describe the status of this project.  E.g., what phase
  are you in? And, what is your next major milestone?  Detailed project
  status is written in the status reports, not here.
 </div>

 <div class="sample1">
 <p>We have completed our second beta release and are currently working
 on adding more of the functionality described in our product
 <a href="srs.html">specification</a> and fixing defects.</p>

 <p>The next major milestone is a third beta release
 with nearly complete functionality and a wider set of testers.</p>
 </div>

 </div> <!-- /status -->


<div id="projectdocuments">
<h3>Project Documents</h3>


<table class="axial" style="display: inline">
 <tr>
  <th>Inception:</th>
  <td class="linklist">
   <a href="index.html">Project overview</a>
   <a href="proposal.html">Project proposal</a>
   <a href="target-and-benefits.html" class="sub">Target audience and benefits</a>
   <a href="user-needs.html" class="sub">Statement of user needs</a>
  </td>
 </tr>

 <tr>
  <th>Elaboration:</th>
  <td class="linklist">
   <a href="plan.html">Project plan</a>
   <a href="srs.html">Software requirements specification</a>
   <a href="feature-set.html" class="sub">Feature set</a>
   <a href="use-case-suite.html" class="sub">Use case suite</a>
   <a href="design.html">Design</a>
   <a href="qa-plan.html">QA Plan</a>
   <a href="test-suite.html" class="sub">Test suite</a>
  </td>
 </tr>

 <tr>
  <th>Construction:</th>
  <td class="linklist">
   <a href="review-meeting-notes.html">Review meeting notes</a>
   <a href="implementation-notes.html">Implementation notes</a>
   <a href="userguide.html">User guide</a>
   <a href="faq.html">FAQ / Troubleshooting guide</a>
  </td>
 </tr>


  <tr>
  <th>Transition:</th>
  <td class="linklist">
   <a href="install.html">Install / Quick start</a>
   <a href="demo-script.html">Demo script</a>
   <a href="release-notes.html">Release notes</a>
   <a href="release-checklist.html">Release checklist</a>
  </td>
 </tr>

 <tr>
  <th>Continuous:</th>
  <td class="linklist">
   <a href="status-report.html">Status report</a>
  </td>
 </tr>

</table>



<table class="axial" style="display: inline;">
 <tr>
  <th>For Everyone:</th>
  <td class="linklist">
   <a href="index.html">Project overview</a>
   <a href="proposal.html">Project proposal</a>
   <a href="target-and-benefits.html" class="sub">Target audience and benefits</a>
   <a href="user-needs.html" class="sub">Statement of user needs</a>
   <a href="srs.html">Software requirements specification</a>
   <a href="plan.html">Project plan</a>
   <a href="release-checklist.html">Release checklist</a>
  </td>
 </tr>

 <tr>
  <th>For Management:</th>
  <td class="linklist">
   <a href="resource-needs.html">Project resource needs</a>
   <a href="status-report.html">Status report</a>
  </td>
 </tr>

 <tr>
  <th>For Developers:</th>
  <td class="linklist">
   <a href="design.html">Design</a>
   <a href="review-meeting-notes.html">Review meeting notes</a>
  </td>
 </tr>

 <tr>
  <th>For QA:</th>
  <td class="linklist">
   <a href="qa-plan.html">QA Plan</a>
  </td>
 </tr>

 <tr>
  <th>For End Users:</th>
  <td class="linklist">
   <a href="install.html">Install / Quick start</a>
   <a href="userguide.html">User guide</a>
   <a href="release-notes.html">Release notes</a>
  </td>
 </tr>

 <tr>
  <th>For Support<br/> and Ops:</th>
  <td class="linklist">
   <a href="implementation-notes.html">Implementation notes</a>
   <a href="faq.html">FAQ / Troubleshooting guide</a>
  </td>
 </tr>

 <tr>
  <th>For Sales/Legal:</th>
  <td class="linklist">
   <a href="demo-script.html">Demo script</a>
   <a href="legal.html">Legal issues</a>
  </td>
 </tr>
</table>

 </div> <!-- /projectdocuments -->




</div>

 <div class="tip">
  TIP: Internet Explorer users can print all documents from this page
  by selecting the "Print linked documents" option in the IE Print
  dialog.
 </div>

 <div class="todo">
  TODO: Check for <a
  href="http://readyset.tigris.org/words-of-wisdom/overview.html">words
  of wisdom</a> and discuss ways to improve this template.
  Or, evaluate the ReadySET Pro <a title="pro use case template and sample test plan"
  href="http://www.readysetpro.com/">professional project overview template</a>.
 </div>

<div class="legal1">Company Proprietary</div>

<div class="footnote">
 Copyright &#169; 2003-2004 Jason Robbins.  All rights reserved. <a href="readyset-license.html">License terms</a>.
 Retain this copyright statement whenever this file is used as a
 template.
</div>

</div>
</body>
</html>
