<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//Tigris//DTD XHTML 1.0 Transitional//EN"
"http://style.tigris.org/tigris_transitional.dtd">
<html>
<head>
 <style type="text/css">
/* <![CDATA[ */ 
@import "css/readyset.css"; 
@import "css/inst.css";
/*  ]]> */
 </style>

</script>
 <title>Project Overview</title>

</head>

<body>
 <h2>Project Overview</h2>

 <div class="app">


 <h3>Mission and Scope</h3>
 <div class="sticky">
  TODO: Answer these questions in your own words by filling in each
  &lt;dd> tag.
 </div>

 <dl>

  <dt>What problem does this project address?</dt>

  <dd class="sample1">2-4 SENTENCE PROBLEM</dd>

  <dt>What is the goal of this project?</dt>

  <dd class="sample1">2-4 SENTENCE GOAL</dd>

  <dt>What is the scope of this project?</dt>

  <dd class="sample1">2-4 SENTENCE SCOPE</dd>

 </dl>

 <p>For more information, see the <a href="proposal.html">project proposal</a>.</p>




 <h3>Status</h3>

 <div class="sticky">
  TODO: Briefly describe the status of this project.  E.g., what phase
  are you in? And, what is your next major milestone?  Detailed project
  status is written in the status reports, not here.
 </div>

 <div class="sample1">
 <p>We have completed our second beta release and are currently working
 on adding more of the functionality described in our product
 <a href="srs.html">specification</a> and fixing defects.</p>

 <p>The next major milestone is a third beta release
 with nearly complete functionality and a wider set of testers.</p>
 </div>

<h3>Development Documents</h3>
<ul>
 <li>For Everyone
 <ul>
  <li><a href="index.html">Project overview</a></li>
  <li><a href="user-needs.html">Statement of user needs</a></li>
  <li><a href="srs.html">Software requirements specification</a></li>
  <li><a href="plan.html">Project plan</a></li>
  <li><a href="sdm.html">Software development methodology</a></li>
  <li><a href="release-checklist.html">Release checklist</a></li>
 </ul></li>
 <li>For Management
 <ul>
  <li><a href="resource-needs.html">Project resource needs</a></li>
  <li><a href="proposal.html">Project proposal</a></li>
  <li><a href="status-report.html">Status report</a></li>
  <li><a href="status-presentation.html">Status presentation</a></li>
  <li><a href="postmortem.html">Project postmortem report</a></li>
 </ul></li>
 <li>For Sales and Marketing
 <ul>
  <li><a href="target-and-benefits.html">Target audience and benefits</a></li>
  <li><a href="demo-script.html">Demo script</a></li>
 </ul></li>
 <li>For Legal
 <ul>
  <li><a href="legal.html">Legal issues</a></li>
 </ul></li>
 <li>For Development
 <ul>
  <li><a href="design.html">Design</a></li>
  <li><a href="implementation.html">Implementation docs</a></li>
  <li><a href="review-meeting-checklists.html">Review meeting checklists</a></li>
  <li><a href="review.html">Review meeting notes</a></li>
 </ul></li>
 <li>For QA
 <ul>
  <li><a href="qa-plan.html">QA Plan</a></li>
 </ul></li>
 <li>For Tech Support and Operations
 <ul>
  <li><a href="theory-of-operation.html">Theory of operation</a></li>
  <li><a href="faq.html">FAQ / Troubleshooting guide</a></li>
 </ul></li>
 <li>For End Users
 <ul>
  <li><a href="install.html">Installation instructions / Quick start guide</a></li>
  <li><a href="userguide.html">User guide</a></li>
  <li><a href="release-notes.html">Release notes</a></li>
 </ul></li>
</ul>


</div>

 <div class="sticky">
  TIP: Internet Explorer users can print all documents from this page
  by selecting the "Print linked documents" option in the IE Print
  dialog.
 </div>

 <div class="sticky">
  TODO: Check for <a
  href="http://readyset.tigris.org/words-of-wisdom/overview.html">words
  of wisdom</a> and discuss ways to improve this template.
 </div>

<div class="footnote">
 Copyright &#169; 2003 Jason Robbins.  All rights reserved. <a href="readyset-license.html">License terms</a>.
 Retain this copyright statement whenever this file is used as a
 template.
</div>

</body>
</html>
