<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//Tigris//DTD XHTML 1.0 Transitional//EN"
"http://style.tigris.org/tigris_transitional.dtd">
<html>
<head>
 <style type="text/css">
/* <![CDATA[ */ 
@import "css/readyset.css"; 
@import "css/inst.css";
/*  ]]> */
 </style>

<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
 <title>Markup Examples</title>

</head>

<body>
 <h2>Markup Examples</h2>

 <div class="app">
 <div class="readyset">

 <div class="sticky">
  The text below shows examples of very simply HTML markup that
  works with this stylesheet.  For more examples, see <a
  href="http://style.tigris.org/">style.tigris.org</a>.
 </div>



 <h3>Section Heading</h3>

 <p>Paragraph</p>

 <p>Paragraph</p>

 <h4>Sub-section Heading</h4>

 <p>Paragraph</p>

 <p>Paragraph</p>

 <ul>
  <li>Bullet
   <ul>
    <li>Sub-bullet</li>
   </ul>
  </li>
  <li>Bullet</li>
  <li>Bullet</li>
 </ul>

 <p>Paragraph</p>
 <ol>
  <li>Step
   <ol>
    <li>Sub-step</li>
   </ol>
  </li>
  <li>Step</li>
  <li>Step</li>
 </ol>


 <h3>Section Heading</h3>


 <p>Paragraph</p>


 <h3>TABLE HEADING</h3>

 <table border="1" cellpadding="3" cellspacing="2" width="100%">
  <tr>
   <th>Column</th> 
   <th>Column</th> 
   <th>Column</th> 
   <th>Column</th> 
   <th>Column</th> 
  </tr>
  <tr>
   <td>Data</td> 
   <td>Data</td> 
   <td>Data</td> 
   <td>Data</td> 
   <td>Data</td> 
  </tr>
  <tr>
   <td>Data</td> 
   <td>Data</td> 
   <td>Data</td> 
   <td>Data</td> 
   <td>Data</td> 
  </tr>
  <tr>
   <td>Data</td> 
   <td>Data</td> 
   <td>Data</td> 
   <td>Data</td> 
   <td>Data</td> 
  </tr>
 </table>

 <h3>Axial Table Heading</h3>
 <div class="axial">
 <table border="1" cellpadding="3" cellspacing="2">
  <tr>
   <th>Header:</th> 
   <td>Data</td> 
  </tr>
  <tr>
   <th>Header:</th> 
   <td>Data</td> 
  </tr>
  <tr>
   <th>Header:</th> 
   <td>Data</td> 
  </tr>
 </table>
 </div>



</div>


<div class="legal1">Company Proprietary</div>

<div class="footnote">
 Copyright &#169; 2003 Jason Robbins.  All rights reserved. <a href="readyset-license.html">License terms</a>.
 Retain this copyright statement whenever this file is used as a
 template.
</div>

</div>
</body>
</html>
