<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//Tigris//DTD XHTML 1.0 Transitional//EN"
"http://style.tigris.org/tigris_transitional.dtd">
<html>
<head>
 <style type="text/css">
/* <![CDATA[ */ 
@import "css/readyset.css"; 
@import "css/inst.css";
/*  ]]> */
 </style>

<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
 <title>Project Proposal</title>
</head>

<body>
<h2>Project Proposal</h2>

<div class="app">
<div class="readyset">

 <div id="projectinfo">
 <h3>Project Information</h3>
 <table border="1" cellpadding="3" cellspacing="2" class="axial">
  <tr>
   <th>Project:</th> 
   <td><a href="index.html">PROJECTNAME</a></td> 
  </tr>
  <tr>
   <th>Project Time-frame:</th> 
   <td>2003/1/16 to 2003/3/19</td> 
  </tr>
  <tr>
   <th>Summary:</th> 
   <td>2-4 SENTENCE SUMMARY</td> 
  </tr>
  <tr>
   <th>Attached Worksheets:</th> 
   <td>
    <div>Project Proposal &gt; <a href="target-and-benefits.html">Target audience and benefits</a></div>
   </td>
  </tr>
  <tr>
   <th>Related Documents:</th> 
   <td>
    <div><a href="plan.html">Project plan</a> &gt;
         <a href="resource-needs.html">Resource needs</a></div>
    <div><a href="glossary.html">Glossary</a></div>
   </td>
  </tr>
 </table>
 </div> <!-- /projectinfo -->

 <div id="processimpact">
  <strong>Process impact:</strong> This proposal,
  along with drafts of related documents, will be used by management to
  determine whether or not to approve work on this project.  A clear
  and precise project plan helps set expectations that will be used
  later to evaluate the success of the project.
 </div> <!-- /processimpact -->


 
 <div id="background">
 <h3>Background and Motivation</h3>

 <div class="todo">
  TODO: Replace the example text below with text that describes your
  project.  What are the needs or problems that you are trying to
  address?  Why do these needs (still) exist?  Why are these problems
  worth solving?  Who is the customer?  Write 2-4 paragraphs. 
 </div>

 <dl> 

  <dt>What is the setting and history behind this project?</dt> 
 
  <dd class="sample1">Video games were originally designed and built as stand-alone
  systems with the user playing against the machine.  Although many
  advances have been made in game AI, humans still tend to enjoy
  competing against other humans over a network.  There is a social
  aspect to network gaming where people form teams that play and
  leagues that play at scheduled times and keep scores over a prolonged
  period.  This is important to video game vendors because it can
  result in increased revenue and extend the sales life of their
  products.</dd>


  <dt>What is the problem to be addressed?</dt> 
  
  <dd class="sample1">There are 100 million users on the Internet, and hundreds of
  websites dedicated to video game playing teams, called "clans". If
  users have to explore to find the good clans that they can join, it
  takes a lot of their time.  There is a need for a faster way for
  users to find high quality clan websites that interest them and that
  will allow them to join.</dd>


  <dt>What are some current approaches to this problem?</dt> 
 
  <dd class="sample1">Users can tell each other about clan websites, but that is not
  scalable because it depends on manual steps by people who may not be
  motivated or honest in their evaluations.  There are already some
  clan directory web sites, but they are not automated so they are
  always out of date and do not rate the quality of the websites.
 
  <ul>
   <li><a href="#">Example of current manually maintained clan website</a></li>
   <li><a href="#">Link to existing competitor</a></li>
  </ul>
 
  </dd>


  <dt>Why is this problem worth solving or worth solving better?</dt> 
 
  <dd class="sample1">A better clan directory service would
  be valuable because it could greatly increase player satisfaction and
  allow them to spend more time playing and less time searching.
  Implementing a better clan directory would cause players to use that
  website rather than the existing directories.  The benefit to us
  could come in the form of revenue from advertising and service fees
  from video game vendors.</dd>


  <dt>How will this product be better than previous approaches?</dt> 
 
  <dd class="sample1">We add innovative new features.  Our affiliate
  directory will be larger an more detailed.  We will offer built-in
  tools for managing membership and organizing events such as game
  nights or tournaments.</dd>
  
  <dd class="sample2">Our system will have similar functionality, but
  it will have much better maintainability, scalability, and
  security.</dd>

  <dd class="sample3">Our system will have similar functionality, but
  it is specifically aimed at a market segment that is not 
  served by competing products.</dd>

  <dd class="sample4">This is a "me-too" product that will go
  head-to-head with very similar competing products in the same
  market.  The market is large enough that we can be very happy with a
  share of it.  Our unique competitive advantages are in non-product
  area of our business such as sales, marketing, partnerships,
  support, training, etc.  The product will have some simple built-in
  "hooks" that leverage those advantages.</dd>


  <dt>Where is there more information on this problem?</dt> 
 
  <dd>The following pages provide additional background and
  motivation:
 
  <ul class="sample1">
   <li><a href="#">Magazine article on this topic</a></li>
   <li><a href="#">Industry analysis's report on massive-multi-player game market</a></li>
   <li><a href="#">Quotes from game players</a></li>
  </ul>
  </dd> 
 </dl>
 </div> <!-- /background -->


 <div id="goal">
 <h3>Goal</h3>
 <dl>

  <dt>What is the goal of this project?</dt>
 
  <div class="tip">
   TIP: This should be relatively short since you can reference terms
   defined above.
  </div>
 
  <dd class="sample1">This project will produce an engine for clan
  directory websites that allows players to quickly find, evaluate,
  and join clans.</dd>
 
 
  <dt>What are the defining features and benefits of this product?</dt>
 
  <dd>
  <ul class="sample1">
   <li>Reusable website engine with functionality for creating,
   editing, deleting, searching, categorizing, browsing, rating, and
   commenting on clans.  This automates all clan operations and ensures
   that users will always find information that is automatically
   up-to-date.</li>
 
   <li>The reusable website engine will have a highly configurable
   appearance that allows it to match the look and feel of the game.
   This allows the reusable website engine to have a high-quality
   appearance that is just as good as existing clan directories.</li>
 
   <li>The website engine will be secure and only allow users with the
   proper permissions to edit, delete, or join a clan.  This will
   prevent cheating or the submission of false information.</li>
  </ul>
  </dd>


  <dt>Where are other documents that further explain the goal of this
  project?</dt>
  
  <dd class="sample1">
  <ul>
   <li><a href="LINK-TO-MOCKUP">Mock-up</a></li>
   <li><a href="LINK-TO-EARLY-STORIES">Early user stories</a></li>
   <li><a href="LINK-TO-QUOTES">Quotes from potential customers</a></li>
   <li><a href="LINK-TO-COMPARISON">Comparison to existing competitors</a></li>
   <li><a href="LINK-TO-DRAFT-FEATURES">Draft feature list</a></li>
  </ul>
  </dd>
 </dl>
 </div> <!-- /goal -->



 <div id="scope">
 <h3>Scope</h3>
 <div class="todo">
  TODO: Replace the sample text below with a clear statement of the
  scope of your project.  What are the high-level things that you plan
  to do, and that you will not do?  What are your important
  simplifying assumptions?  Try to guard against reasonable
  misunderstandings that might arise if you did not explain the scope.
  It can take the form of a paragraph, bullet list, in/out list, and/or
  UML context diagram.
 </div>

 <p class="sample1">We want to focus on the web application itself,
 and the features of that application that help build a good gaming
 community.</p>

 <p class="sample2">See the <a href="LINK-TO-CONTEXT-DIAGRAM">context
 diagram</a>.</p>

 <ul class="sample3">
  <li>Work with common servers and browsers that we are already
  familiar with.</li>
  <li>Allow easy customizations of fonts and colors, with the same
  basic page layout.</li>
  <li>Enough security to greatly discourage abuse</li>
  <li>The web site content discusses a game, but it will not need to
  actually integrate with any game software</li>
 </ul>



 <table border="1" cellpadding="3" cellspacing="2" class="sample4" width="100%">
  <tr>
   <th>In Scope</th>
   <th>Out of Scope</th>
  </tr>

  <tr>
   <td>Building a web application for use with standard web
   servers and application servers</td> 
   <td>Building a new web server or application server</td>
  </tr>

  <tr>
   <td>Working the most popular browsers (IE6, NN7/Mozilla)</td>
   <td>Working with uncommon or outdated browsers</td>
  </tr>

  <tr>
   <td>Security in the form of user accounts, passwords, and
   permissions</td>
   <td>Special security against hackers.  Finding or patching security
   holes in existing software components.</td>
  </tr>

  <tr>
   <td>One simple sample look-and-feel and instructions for
   customization</td>
   <td>Our own high-quality look-and-feel.  A library of look-and-feel
   options.</td>
  </tr>

  <tr>
   <td>Database and server load and data volume that can be handled by
   one computer.</td>
   <td>Managing a cluster of servers.</td>
  </tr>

  <tr>
   <td>Keeping track of which users are in which
   clans</td>
   <td>Tracking all user activity on the site and
   producing custom reports</td>
  </tr>

  <tr>
   <td>Displaying advertisements to visitors. Billing
   advertisers for impressions.</td>
   <td>Automatically selecting ads that fit the
   visitor's interests.  On-line management of advertising or
   real-time reporting to advertisers.  Participating in existing
   banner advertising affiliate networks.</td>
  </tr>
 </table>
 </div> <!-- /scope -->
  


 <div id="deliverables">
 <h3>Deliverables</h3>
 <div class="todo">
  TODO: Briefly list project deliverables.  When you are done, what will you
  deliver to the customer?  This can be copied from the draft project
  plan and simplified to reduce technical detail.
 </div>

 <ul class="sample1">
  <li>Clan website directory engine</li>
  <li>Customization guide</li>
  <li>Sample look-and-feel</li>
  <li>On-line help for end users</li>
  <li>Command-line advertising configuration tool and report generator</li>
 </ul>
 </div> <!-- /deliverables -->


 
 <div id="risks">
 <h3>Risks and Rewards</h3>
 <dl>

  <div class="todo">
   TODO: Briefly list and rank major risks.  Risks are detailed in the
   draft <a href="plan.html">project plan</a>.  For this proposal
   document, you should select the most important risks from the
   project plan and explain them in non-technical terms.
  </div>

  <dt>What are the main risks of this project?</dt>
 
  <dd class="sample1">
   <ol>
    <li>There is a potential conflict between the goals of a
    high-quality appearance and one that is completely customizable.  We
    can only succeed if players find the web site appealing, and game
    vendors can customize it with no more effort than would be needed to
    build a static website.  We already have a design in mind that will
    address this risk and we will review it with a web site designer who
    worked for a game vendor site.</li>
  
    <li>There are significant technical difficulties in building a web
    site and web application.  This will be a risk because one person on
    our team has much experience with the relevant tools and
    technologies.  Although the others will learn, we will certainly
    make some mistakes and suboptimal choices.  We will address this
    risk by scoping the project such that we have enough time to train
    and to review the design and implementation.</li>
  
    <li>The schedule for this project is very short.  We will manage
    this by planning a conservatively scoped functional core and series
    of functional enhancements that can be individually slipped to later
    releases if needed.</li>
   </ol>
  </dd>

 
  <dt>What are the main rewards if this project succeeds?</dt>

  <dd class="sample1">If we accomplish the elements of our plan, our
  clan directory website engine will replace existing clan directory
  websites and generate traffic which will result in advertising
  revenue and/or hosting fees paid by game vendors.  Our ability to
  overcome the challenges above will determine time to market, the
  speed of adoption, the amount of web traffic, and thus the generated
  revenue over time.</dd>
 </dl>
 </div> <!-- /risks -->



 <div id="projectplan">
 <h3>Project Plan</h3>

 <p>See attached draft of <a href="plan.html">project plan</a> and <a
 href="resource-needs.html">resource needs</a>.</p>

 </div> <!-- /projectplan -->

 <div class="todo">
  TODO:  Check for <a
  href="http://readyset.tigris.org/words-of-wisdom/proposal.html">words
  of wisdom</a> and discuss ways to improve this template.
  Or, evaluate the ReadySET Pro <a title="pro use case template and sample test plan"
  href="http://www.readysetpro.com/">professional project proposal template</a>.
 </div>

</div>

<div class="legal1">Company Proprietary</div>

<div class="footnote">
 Copyright &#169; 2003-2004 Jason Robbins.  All rights reserved. <a href="readyset-license.html">License terms</a>.
 Retain this copyright statement whenever this file is used as a
 template.
</div>

</div>
</body>
</html>
