<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//Tigris//DTD XHTML 1.0 Transitional//EN"
"http://style.tigris.org/tigris_transitional.dtd">
<html>
<head>
 <style type="text/css">
/* <![CDATA[ */
@import "css/readyset.css";
@import "css/inst.css";
/*  ]]> */
 </style>

<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
 <title>Risk List</title>
</head>

<body>
<div class="app">
<div class="readyset">

 <h2><a href="plan.html">Project plan</a> &gt; Risk List</h2>


 <div id="releaseinfo">
 <h3>Release Information</h3>
 <table border="1" cellpadding="3" cellspacing="2" class="axial">
  <tr>
   <th>Project:</th>
   <td><a href="index.html">PROJECTNAME</a></td>
  </tr>
  <tr>
   <th>Internal Release Number:</th>
   <td>X.Y.Z</td>
  </tr>


  <tr>
   <th>Related Documents:</th>
   <td>
    <div><a href="sdm.html">Software development methodology</a></div>
   </td>
  </tr>
 </table>
 </div> <!-- /releaseinfo -->

 <div id="processimpact">
  <strong>Process impact:</strong> This document
  records the major project risks and strategies for controlling them.
  You should review and update it regularly.
 </div> <!-- /processimpact -->

 <div id="risks">

 <div class="todo">
  TODO: If the project fails, what are the most likely reasons why?
  Record the answers here, and then for each risk record a plan for managing it.
 </div>

 <table border="1" cellpadding="3" cellspacing="2" width="100%">
  <tr>
   <th>Description</th>
   <th>Likelihood</th>
   <th>Impact</th>
   <th>Mitigation Strategy</th>
   <th>Status</th>
   <th>Owner</th>
  </tr>

  <tr>
   <td>TBD</td>
   <td>High | Medium | Low</td>
   <td>Catastrophic | Critical | Marginal | Negligible</td>
   <td>TBD</td>
   <td>Red | Amber | Green</td>
   <td>PERSONNAME</td>
  </tr>

  <tr>
   <td>TBD</td>
   <td>High | Medium | Low</td>
   <td>Catastrophic | Critical | Marginal | Negligible</td>
   <td>TBD</td>
   <td>Red | Amber | Green</td>
   <td>PERSONNAME</td>
  </tr>

  <tr>
   <td>TBD</td>
   <td>High | Medium | Low</td>
   <td>Catastrophic | Critical | Marginal | Negligible</td>
   <td>TBD</td>
   <td>Red | Amber | Green</td>
   <td>PERSONNAME</td>
  </tr>

  <tr>
   <td>TBD</td>
   <td>High | Medium | Low</td>
   <td>Catastrophic | Critical | Marginal | Negligible</td>
   <td>TBD</td>
   <td>Red | Amber | Green</td>
   <td>PERSONNAME</td>
  </tr>

  </table>
  
 <div class="tier2">
  <h4>Possible risk status values:</h4>
  <dl>
    <dt>Red</dt><dd>Active &amp; impacting project</dd>
    <dt>Amber</dt><dd>Active but contained without impact to cost &amp; schedule</dd>
    <dt>Green</dt><dd>not yet active</dd>
  </dl>
 </div>

 </div> <!-- /strategy -->


 <div id="checklist">
 <h3>Risk Checklist</h3>

 <dl>

  <dt>Do the mitigation strategies in the risk list provide enough
  assurance that the project succeed?</dt>

  <dd>Yes, if the mitigation activies are carried out as planned, we are
  confident that project can succeed.  We will, of course, adjust this
  plan as needed.</dd>

  <dd>Yes, this plan has risks, but those risks are acknowledged by
  and acceptable to the project stakeholders.</dd>
  
  <dd>No, this plan leaves open several risks that the project
  stakeholders are not aware of, or would not accept.</dd>
  

  <dt>Has this Risk Control Plan been communicated to the development
  team and other stakeholders?</dt>

  <dd>Yes, this document is being posted to the project website.
  It will also be discussed at the first team meeting.
  Feedback is welcome.</dd>

  <dd>No, that is itself a risk.</dd>

 </dl>
 </div> <!-- /checklist -->



</div>

<div class="legal1">Company Proprietary</div>

<div class="footnote">
 Copyright &#169; 2003-2004 Jason Robbins.  All rights reserved. <a href="readyset-license.html">License terms</a>.
 Retain this copyright statement whenever this file is used as a
 template.
</div>

</div>
</body>
</html>

