<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//Tigris//DTD XHTML 1.0 Transitional//EN"
"http://style.tigris.org/tigris_transitional.dtd">
<html>
<head>
 <style type="text/css">
/* <![CDATA[ */ 
@import "css/readyset.css"; 
@import "css/inst.css";
/*  ]]> */
 </style>

<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
 <title>Use Case Suite</title>
</head>

<body>
<div class="app">
<div class="readyset">


<h2><a href="srs.html">SRS</a> &gt; Use Case Suite</h2>

 <h3>Release Information</h3>
 <div class="axial">
 <table>
  <tr>
   <th>Project:</th> 
   <td>PROJECTNAME</td> 
  </tr>
  <tr>
   <th>Internal release number:</th> 
   <td>X.Y.Z</td> 
  </tr>
  <tr>
   <th>Related Documents:</th> 
   <td>
    <div><a href="proposal.html">Project proposal</a></div>
    <div><a href="user-needs.html">User needs</a></div>
    <div>SRS &gt; <a href="feature-set.html">Feature set</a></div>
    <div><a href="use-case-format.html">Use case format</a></div>
    <div><a href="LINK-TO-DIAGRAM">Use case diagram</a></div>
    <div>LINKS TO RELEVANT STANDARDS</div>
    <div>LINKS TO OTHER DOCUMENTS</div>
   </td>
  </tr>
 </table>
 </div>



<p class="readonly"><b>Process impact:</b> A use case suite is simply
a table of contents for the individual use cases.  Much like a test
suite, organizing the suite of use cases by priority, functional area,
actor, business object, or release can help identify parts of the
system that need additional use cases.</p>

<div class="sticky"> 
  TODO: Before writing individual use cases, list the use cases
  that you think you will need.  Organize them in a way that will
  purposely leave visible blanks on this page if you are missing use
  cases.  E.g., see FUNCTIONAL AREA FIVE. Choose one or more of the
  organizations show below.
</div>

<div class="sticky"> 
  TIP: Refer back to the user stories in your <a
  href="user-needs.html">user needs</a> document.  Use them for ideas
  and make sure that you cover all of them.  Remember that use cases
  are more precise than user stories, and there may be several use
  cases for a given user story.
</div>

<div class="sticky"> 
  TIP: The use case suite can be organized into nested lists
  according to other coverage criteria, e.g., by actor.  Or, it
  can be organized into tables that consider two aspects at a time,
  e.g., business objects vs. actor.  If a certain section of the
  tree or table does not need use cases, explicitly mark it "N/A".
  Otherwise, mark it "TODO".
</div>




<h3>Use Cases by Functional Area</h3>

<ul>
 <li>FUNCTIONAL AREA ONE
  <ul>
   <li><a href="use-cases.html#UC-00">UC-00</a> Configure the site</li>
   <li><a href="use-cases.html#UC-01">UC-01</a> Register as a new user</li>
   <li><a href="use-cases.html#UC-02">UC-02</a> NAME OF USE CASE</li>
   <li><a href="use-cases.html#UC-03">UC-03</a> NAME OF USE CASE</li>
  </ul>
 </li>

 <li>FUNCTIONAL AREA TWO
  <ul>
   <li><a href="use-cases.html#UC-10">UC-10</a> NAME OF USE CASE</li>
   <li><a href="use-cases.html#UC-11">UC-11</a> NAME OF USE CASE</li>
   <li><a href="use-cases.html#UC-12">UC-12</a> NAME OF USE CASE</li>
   <li><a href="use-cases.html#UC-13">UC-13</a> NAME OF USE CASE</li>
  </ul>
 </li>

 <li>FUNCTIONAL AREA THREE
  <ul>
   <li><a href="use-cases.html#UC-20">UC-20</a> NAME OF USE CASE</li>
   <li><a href="use-cases.html#UC-21">UC-21</a> NAME OF USE CASE</li>
   <li><a href="use-cases.html#UC-22">UC-22</a> NAME OF USE CASE</li>
   <li><a href="use-cases.html#UC-23">UC-23</a> NAME OF USE CASE</li>
  </ul>
 </li>


 <li>FUNCTIONAL AREA FOUR
  <ul>
   <li>N/A: These features are completely automated and internal,
   users never interact with them</li>
  </ul>
 </li>

 <li>FUNCTIONAL AREA FIVE
  <ul>
   <li>TODO: need to write use cases here</li>
  </ul>
 </li>

 <li>Other functional areas
  <ul>
   <li><a href="use-cases.html#UC-30">UC-30</a> NAME OF USE CASE</li>
   <li><a href="use-cases.html#UC-31">UC-31</a> NAME OF USE CASE</li>
   <li><a href="use-cases.html#UC-32">UC-32</a> NAME OF USE CASE</li>
   <li><a href="use-cases.html#UC-33">UC-33</a> NAME OF USE CASE</li>
  </ul>
 </li>

</ul>


<h3>Use Cases by Stakeholder</h3>

<p>This information is shown in the <a href="LINK-TO-DIAGRAM">use case
diagram</a>, but it is shown here as a list or table so that missing
use cases are more noticeable.</p>


<ul>
 <li>All Stakeholders
  <ul>
   <li><a href="use-cases.html#UC-01">UC-01</a> Register as a new user</li>
   <li><a href="use-cases.html#UC-20">UC-20</a> NAME OF USE CASE</li>
   <li><a href="use-cases.html#UC-23">UC-23</a> NAME OF USE CASE</li>
  </ul>
 </li>

 <li>Players
  <ul>
   <li><a href="use-cases.html#UC-03">UC-03</a> NAME OF USE CASE</li>
  </ul>
 </li>

 <li>Team leaders
  <ul>
   <li><a href="use-cases.html#UC-21">UC-21</a> NAME OF USE CASE</li>
   <li><a href="use-cases.html#UC-22">UC-22</a> NAME OF USE CASE</li>
  </ul>
 </li>

 <li>Administrators
  <ul>
   <li><a href="use-cases.html#UC-00">UC-00</a> Configure the site</li>
   <li><a href="use-cases.html#UC-02">UC-02</a> NAME OF USE CASE</li>
   <li><a href="use-cases.html#UC-32">UC-32</a> NAME OF USE CASE</li>
   <li><a href="use-cases.html#UC-33">UC-33</a> NAME OF USE CASE</li>
  </ul>
 </li>

 <li>Executives
  <ul>
   <li>N/A: this stakeholder never directly interacts with the system</li>
  </ul>
 </li>

 <li>Vendors
  <ul>
   <li>TODO: need to write use cases here</li>
  </ul>
 </li>

</ul>


<h3>Use Cases by Priority</h3>

<ul>
 <li>Essential
  <ul>
   <li><a href="use-cases.html#UC-00">UC-00</a> Configure the site</li>
   <li><a href="use-cases.html#UC-01">UC-01</a> Register as a new user</li>
   <li><a href="use-cases.html#UC-21">UC-21</a> NAME OF USE CASE</li>
   <li><a href="use-cases.html#UC-31">UC-31</a> NAME OF USE CASE</li>
  </ul>
 </li>

 <li>Strongly Desired
  <ul>
   <li><a href="use-cases.html#UC-02">UC-02</a> NAME OF USE CASE</li>
   <li><a href="use-cases.html#UC-03">UC-03</a> NAME OF USE CASE</li>
   <li><a href="use-cases.html#UC-20">UC-20</a> NAME OF USE CASE</li>
   <li><a href="use-cases.html#UC-22">UC-22</a> NAME OF USE CASE</li>
   <li><a href="use-cases.html#UC-23">UC-23</a> NAME OF USE CASE</li>
   <li><a href="use-cases.html#UC-33">UC-33</a> NAME OF USE CASE</li>
  </ul>
 </li>

 <li>Desired
  <ul>
   <li>N/A: There are no use cases with Priority = Desired</li>
  </ul>
 </li>

 <li>Optional
  <ul>
   <li><a href="use-cases.html#UC-30">UC-30</a> NAME OF USE CASE</li>
   <li><a href="use-cases.html#UC-32">UC-32</a> NAME OF USE CASE</li>
  </ul>
 </li>

</ul>


<h3>Use Cases by Business Object and Actor</h3>

<table>
 <tr>
  <th>BO \ Actor</th>
  <th>All</th>
  <th>Player</th>
  <th>Admin</th>
  <th>Other</th>
 </tr>
	
 <tr>
  <th>ObjectDog</th>
  <td>
   <a href="use-cases.html#UC-33">UC-33</a>
  </td>
  <td><div><a href="use-cases.html#UC-02">UC-02</a> <a href="use-cases.html#UC-03">UC-03</a></div>
      <div><a href="use-cases.html#UC-03">UC-13</a></div>
      <div><a href="use-cases.html#UC-03">UC-21</a></div>
  </td>
  <td><a href="use-cases.html#UC-22">UC-22</a></td>
  <td><a href="use-cases.html#UC-22">UC-31</a></td>
 </tr>

 <tr>
  <th>ObjectCat</th>
  <td><a href="use-cases.html#UC-01">UC-01</a></td>
  <td>TODO: need more</td>
  <td><a href="use-cases.html#UC-30">UC-30</a></td>
  <td><a href="use-cases.html#UC-22">UC-32</a></td>
 </tr>

 <tr>
  <th>ObjectFish</th>
  <td>
   <div>
     <div><a href="use-cases.html#UC-00">UC-00</a></div>
     <div><a href="use-cases.html#UC-11">UC-11</a></div>
   </div>
   <div>TODO: need more here</div>
  </td>
  <td><a href="use-cases.html#UC-12">UC-12</a></td>
  <td>N/A</td>
  <td>N/A</td>
 </tr>



</table>


</div>

  <div class="sticky">
  TODO:  Check for <a
  href="http://readyset.tigris.org/words-of-wisdom/use-case-suite.html">words
  of wisdom</a> and discuss ways to improve this template.
  </div>

<div class="footnote">
 Copyright &#169; 2003 Jason Robbins.  All rights reserved. <a href="readyset-license.html">License terms</a>.
 Retain this copyright statement whenever this file is used as a
 template.
</div>

</div>
</body>
</html>
