<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//Tigris//DTD XHTML 1.0 Transitional//EN"
"http://style.tigris.org/tigris_transitional.dtd">
<html>
<head>
 <style type="text/css">
/* <![CDATA[ */ 
@import "css/readyset.css"; 
@import "css/inst.css";
/*  ]]> */
 </style>

<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
 <title>Resumen</title>

</head>

<body>
 <h2>Resumen</h2>

 <div class="app">
 <div class="readyset">


 <a name="mission"></a>
 <a name="scope"></a>
 <h3>Misión y Alcance</h3>

 <div class="sticky">
  TAREAS: Responda estas preguntas con sus propias palabras llenando cada etiqueta
  &lt;dd>.  Este es un resumen condensado del <a href="index.html">resumen</a> del proyecto.
 </div>

 <dl>

  <dt>¿Qué problema resuelve este proyecto?</dt>

  <dd class="sample1">PROBLEMA DE 2 A 4 ORACIONES</dd>

  <dt>¿Cuál es el objetivo de este proyecto?</dt>

  <dd class="sample1">OBJETIVO DE 2 A 4 ORACIONES</dd>

  <dt>¿Cuál es el alcance de este proyecto?</dt>

  <dd class="sample1">ALCANCE DE 2 A 4 ORACIONES</dd>

 </dl>



 <a name="status"></a>
 <h3>Estado</h3>

 <div class="sticky">
  TAREAS: Describa brevemente el estado actual de este proyecto; 
  por ejemplo: ¿en qué etapa se encuentra Ud. o su equipo? o 
  ¿cuál es la siguiente meta a alcanzar? Los detalles del estado del 
  proyecto son escritos en los reportes de avances, no aqui.
 </div>

 <div class="sample1">
 <p>Hemos completado nuestro segundo beta y actualmente estamos 
 trabajando en añadir mas de la funcionalidad descrita en las
 <a href="srs.html">especificaciones</a> de nuestro producto y arreglando 
 defectos.</p>

 <p>Nuestra próxima meta es la liberación del tercer beta con casi toda la 
 funcionalidad y con pruebas en un espectro más amplio de usuarios.</p>
 </div>

 <p>Reportes de Estado:</p>
 <ul class="sample1">
  <li><a href="status-report.html">Reporte de estado 1</a></li>
  <li><a href="status-report2.html">Reporte de estado 2</a></li>
  <li>Etc.</li>
 </ul>

 
 <a name="resources"></a>
 <a name="schedule"></a>
 <h3>Recursos y plan de trabajo</h3>
 <div class="sticky">
  TAREAS: Describa brevemente los recursos y el plan de trabajo de su proyecto. Esto está condensado de
  las plantillas de <a href="plan.html">plan del proyecto</a>, <a
  href="resource-needs.html">recursos necesarios</a> y de <a
  href="legal.html">cuestiones legales</a>.
 </div>



 <dl>
  <dt>¿Cuáles son las fechas límites para este proyecto?</dt>
  <dd>
   <ul class="sample1">
    <li>FECHA: META</li>
    <li>FECHA: META</li>
    <li>FECHA: META</li>
    <li>FECHA: NÚMERO-DE-ENTREGA</li>
   </ul>
  </dd>

  <dt>¿Quién está trabajando en este proyecto?</dt>
  <dd>
   <ul class="sample1">
    <li>100% NOMBRE-DE-LA-PERSONA</li>
    <li>100% NOMBRE-DE-LA-PERSONA</li>
    <li>75%  NOMBRE-DE-LA-PERSONA</li>
    <li>33%  NOMBRE-DE-LA-PERSONA</li>
   </ul>
  </dd>

  <dt>¿Qué recursos importantes están siendo dirigidos para este proyecto?</dt>
  <dd>
   <ul class="sample1">
    <li>HARDWARE</li>
    <li>LICENCIAS DE SOFTWARE</li>
    <li>INSTALACIONES</li>
   </ul>
  </dd>

  <dt>¿Cuáles son sus principales preocupaciones legales sobre este proyecto?</dt>
  <dd>
   <ul class="sample1">
    <li>Propiedad intelectual: DESCRIPCIÓN</li>
    <li>Privacidad y seguridad: DESCRIPCIÓN</li>
    <li>Posible daño: DESCRIPCIÓN</li>
   </ul>
  </dd>

 </dl>


 
 <a name="requirements"></a>
 <h3>Requerimientos</h3>

 <div class="sticky">
  TAREAS: Describa brevemenre los requerimientos más importantes de su sistema  Esto
  está condensado de los documentos de <a href="user-needs.html">requerimientos del usuario</a>, <a
  href="interview-notes.html">notas de entrevistas</a>, <a
  href="srs.html">SRS</a>, <a
  href="use-case-suite.html">conjunto de casos de uso</a> y <a
  href="feature-set.html">conjunto de características</a>.
 </div>


 <dl>
  <dt>¿Quiénes son los inversionistas del proyecto?</dt>
  <dd>
   <ul class="sample1">
    <li>DUEÑO DEL PROYECTO / PATROCINADOR EJECUTIVO</li>
    <li>DEPARTMENTOS DENTRO DE SU COMPAÑIA</li>
    <li>SOCIOS CORPORATIVO</li>
    <li>CLIENTES CLAVE</li>
   </ul>
  </dd>

  <dt>¿Qué requerimientos de usuario ha recopilado?</dt>
  <dd>
   <ul class="sample1">
    <li><a href="LINK-TO-USER-STORIES">Historias de los usuarios</a></li>
    <li><a href="LINK-TO-INTERVIEW-NOTES">Notas de las entrevistas</a></li>
   </ul>
  </dd>

  <dt>¿Cuáles son las especificaciones de los requerimientos?</dt>
  <dd>
   <ul class="sample1">
    <li><a href="LINK-TO-USE-CASES">Casos de uso</a></li>
    <li><a href="LINK-TO-FEATURE-SPECS">Especificaciones de características</a></li>
    <li><a href="LINK-TO-ENV-REQ">Requerimientos ambientales</a></li>
    <li><a href="LINK-TO-OTHER-REQ">Otros requerimientos</a></li>
   </ul>
  </dd>

 </dl>



 <a name="design"></a>
 <h3>Diseño</h3>
 
 <div class="sticky">
  TAREAS: Describa brevemente los aspectos más importantes del diseño.
  Esto está condensado de las plantillas y las formas asociadas de <a href="design.html">diseño</a>.
 </div>

 <dl>
  <dt>¿Cuáles son sus objetivos categorizados de diseño?</dt>
  <dd>
   <ol class="sample1">
    <li>Corrección: El diseño se ajusta correctamente a los
    requerimientos dados.</li>

    <li>Viabilidad: Este diseño puede ser implementado y probado con 
    las cantidades de tiempo y esfuerzo planeadas.</li>

    <li>Comprensibilidad: Los desarrolladores pueden entender este diseño 
    e implementarlo correctamente.</li>

    <li>Guías de Implementación por Etapas: Este diseño divide la implementación
    en componentes o aspectos que pueden corresponder a tareas de implementación
    razonables.</li>

    <li>Modularidad: Los objetivos estan claramente separadaos para que el impacto
    de la mayoría de los cambios del diseño puedan limitarse a solo uno o algunos 
    módulos.</li>

    <li>Extensibilidad: Nuevas características o componentes pueden ser añadidos después fácilmente.</li>

    <li>Capacidad de Prueba: Es fácil probar los componentes de este diseño independientemente, y
    la información está disponible para ayudar a diagnosticar fallas..</li>

    <li>Eficiencia: El diseño permite al sistema realizar funciones con aceptables cantidad de tiempo,
    espacio de almacenamiento, ancho de banda y otros recursos.</li>
   </ol>
  </dd>

  <dt>¿Dónde se encuentran sus documentos de diseño?</dt>
  <dd>
   <ul class="sample1">
    <li><a href="LINK-TO-CLASS-DIAGRAM">Diagrama UML de clases</a></li>
    <li><a href="LINK-TO-CLASS-DIAGRAM">Diagrama UML de clases</a></li>
    <li><a href="LINK-TO-STATE-DIAGRAM">Diagrama UML de estados</a></li>
    <li><a href="LINK-TO-SEQUENCE-DIAGRAM">Diagrama UML de secuencia</a></li>
    <li><a href="LINK-TO-DEPLOYMENT-DIAGRAM">Diagrama UML de entrega</a></li>
    <li><a href="LINK-TO-OTHER-DESIGN">Otros diseños</a></li>
   </ul>
  </dd>

 </dl>




 <a name="qa"></a>
 <h3>Aseguramiento de la Calidad</h3>

 <div class="sticky">
  TAREAS: Describa brevemente sus objetivos de calidad y cómo piensa lograrlos.  Esto
  está condensado de los documentos del <a href="qa-plan.html">plan de QA</a>, <a
  href="test-suite.html">conjunto de pruebas</a> y <a
  href="test-cases.html">casos de pruebas</a>.
 </div>

 <dl>
  <dt>¿Cuáles son sus objetivos categorizados de calidad?</dt>
  <dd>
   <ol class="sample1">
    <li>Corrección</li>
    <li>Robustez</li>
    <li>Exactitud</li>
    <li>Compatibilidad</li>
    <li>Usabilidad</li>
    <li>Seguridad</li>
    <li>Confiabilidad</li>
    <li>Escalabilidad</li>
    <li>Operabilidad</li>
    <li>Capacidad de mantenimiento</li>
   </ol>
  </dd>

  <dt>¿Qué actividades de QA utilizará?</dt>
  <dd>
   <ul class="sample1">
    <li>Precondiciones y aserciones</li>
    <li>Revisión de compañeros</li>
    <li>Juntas de evaluación</li>
    <li>Pruebas por unidades</li>
    <li>Pruebas al sistema</li>
   </ul>
  </dd>

  <dt>-¿Dónde se encuentran los casos de prueba?</dt>
  <dd>
   <ul class="sample1">
    <li><a href="LINK-TO-TEST-CASE">Caso de prueba</a></li>
    <li><a href="LINK-TO-TEST-CASE">Caso de prueba</a></li>
    <li><a href="LINK-TO-TEST-CASE">Caso de prueba</a></li>
    <li><a href="LINK-TO-TEST-CASE">Caso de prueba</a></li>
   </ul>
  </dd>
 </dl>




 <a name="deployment"></a>
 <h3>Empacado y Entrega</h3>

 <dl>
  <dt>¿Donde está la lista de pendientes de la entrega o los documentos de espera?</dt>
  <dd>
   <a href="LINK-TO-RELEASE-CHECKLIST">Lista de pendientes de entrega</a>
  </dd>

  <dt>¿Cómo se empaqueta y entrega el producto?</dt>
  <dd>
   <ul class="sample1">
    <li>Empacado: DESCRIPCIÓN</li>
    <li>Entrega: DESCRIPCIÓN</li>
    <li><a href="LINK-TO-RELEASE-NOTES">Notas de la versión</a></li>
   </ul>
  </dd>

  <dt>¿Cómo se instala el producto?</dt>
  <dd>
   <ul>
    <li>Requerimientos del sistema: DESCRIPCIÓN</li>
    <li>PASO</li>
    <li>PASO</li>
    <li>PASO</li>
   </ul>
  </dd>
 </dl>



 <a name="support"></a>
 <h3>Soporte al Usuario</h3>

 <dl>
  <dt>¿Dónde se encuentra la documentación del usuario?</dt>
  <dd>
   <ul class="sample1">
    <li><a href="LINK-TO-USER-GUIDE">Guía del usuario</a></li>
    <li><a href="LINK-TO-FAQ">Preguntas frecuentes del usuario</a></li>
   </ul>
  </dd>

  <dt>¿Cómo pueden obtener los usuarios soporte técnico o reportar problemas?</dt>
  <dd>
   <ul class="sample1">
    <li>Soporte: DESCRIPCIÓN</li>
    <li>Control de cambios: DESCRIPCIÓN</li>
   </ul>
  </dd>

 </dl>




 <a name="glossary"></a>
 <h3>Glosario de términos</h3>

 <div class="sticky">
  TAREAS: Defina cualquiera de los términos técnicos que utilizó arriba, si un nuevo miembro
  del equipo pudiera no conocerlos.  Esto está condensado de los documentos del
  <a href="glossary.html">glosario de términos</a>.
 </div>

 <dl class="sample1">

  <dt>TÉRMINO TÉCNICO</dt>
  <dd>DEFINICIÓN</dd>

  <dt>TÉRMINO TÉCNICO</dt>
  <dd>DEFINICIÓN</dd>

  <dt>TÉRMINO TÉCNICO</dt>
  <dd>DEFINICIÓN</dd>

  <dt>TÉRMINO TÉCNICO</dt>
  <dd>DEFINICIÓN</dd>

 </dl>


</div>

 <div class="sticky">
  TAREAS: Revisar las <a
  href="http://readyset.tigris.org/words-of-wisdom/overview.html">notas de 
  sabiduría</a> y discutir formas de mejorar esta plantilla.
 </div>

<div class="legal1">Compañía Propietaria</div>

<div class="footnote">
 Copyright &#169; 2003 Jason Robbins.  Todos los derechos reservados. <a href="readyset-license.html">Términos de la Licencia</a>.
 Mantenga esta leyenda derechos donde utilice este archivo como 
 plantilla - Traducción al español por <a href="http://www.interplanet.com.mx">Interplanet</a>, México, D.F.
</div>

</div>
</body>
</html>
