<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//Tigris//DTD XHTML 1.0 Transitional//EN"
"http://style.tigris.org/tigris_transitional.dtd">
<html>
<head>
 <style type="text/css">
/* <![CDATA[ */ 
@import "css/readyset.css"; 
@import "css/inst.css";
/*  ]]> */
 </style>

<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
 <title>Texto para Presentaciones</title>
</head>

<body>
<div class="app">
<div class="readyset">
 <h2>Texto para Presentaciones</h2>

 <a name="releaseinfo"></a>
 <h3>Información de la Versión</h3>
 <div class="axial">
 <table border="1" cellpadding="3" cellspacing="2">
  <tr>
   <th>Proyecto:</th> 
   <td>NOMBREDELPROYECTO</td> 
  </tr>
  <tr>
   <th>Número Interno de Versión:</th> 
   <td>X.Y.Z</td> 
  </tr>
  <tr>
   <th>Documentos Relacionados:</th> 
   <td>
    <div><a href="target-and-benefits.html">Público Objetivo y Beneficios</a></div>
    <div><a href="use-cases.html">Casos de Uso</a></div>
    <div>LIGAS A OTROS ESTÁNDARES RELEVANTES</div>
    <div>LIGAS A OTROS DOCUMENTOS</div>
   </td>
  </tr>
 </table>
 </div>



 <a name="planning"></a>
 <h3>Planeación de la Presentación</h3>

 <div class="sticky">
  TAREAS: Piense bien en los objetivos para esta presentación.  
 </div>

 <dl>
  <dt>¿Cuál es la audiencia objetivo para esta presentación?</dt>

  <dd class="sample1">Inversionistas e inversionistas potenciales</dd>

  <dd class="sample2">Clientes potenciales</dd>

  <dd class="sample3">Administración, otros desarrolladores o socios</dd>

  <dd class="sample4">Usuarios finales como parte de una capacitación</dd>


  <dt>¿Cuál es el objetivo principal para esta presentación?</dt>

  <dd class="sample1">Convencer a la audiencia para tomar una decisión y
  realizar una acción.  Por ejemplo, una llamada de ventas.</dd>

  <dd class="sample2">Para informar a la audiencia sobre el producto y
  generar discusiones en el futuro.  Por ejemplo, mostrar a otro equipo donde
  su producto tendría que integrarse con el suyo.</dd>

  <dd class="sample3">Para mostrar evidencia de progreso. Por ejemplo, mostrar
  a su jefe lo que ha hecho con la UI.</dd>


  <dt>¿Que puntos principales utilizará para alcanzar su objetivo?</dt>

  <dd class="sample1">
   <ul>
    <li>Este producto automatiza muchas de las tareas del usuario, por lo que
    incrementa la productividad y reduce costos.</li>

    <li>Este producto es muy fácil de usar, lo cual estimulará una
    rápida adopción.</li>

    <li>Este producto soporta casos de uso que son clave para el proceso general
    de negocio del cliente o le permitirá habilitar nuevas oportunidades de
    negocio.</li>
   </ul>
  </dd>

  <dd class="sample2">
   <ul>
    <li>Hemos construido solo 4 de las 10 pantallas, pero las pantallas restantes
    son más fáciles de construir.</li>

    <li>Hemos construido 7 de las 10 características, y encontramos que una
    de las caracterñisticas restantes no podrá trabajar como
    las otras.</li>
   </ul>
  </dd>


  <dt>¿De cuánto tiempo se dispone para hacer la presentación?</dt>

  <dd class="sample1">10 minutos, sin preguntas</dd>
  <dd class="sample2">10 minutos, más preguntas</dd>
  <dd class="sample3">30 minutos, incluyendo preguntas</dd>


  <dt>¿Qué equipo y configuración necesita para realizar la presentación?</dt>

  <dd class="sample1">Una persona. Cualquier computadora con un navegador
  web.</dd>

  <dd class="sample2">Una persona.  Cualquier computadora donde  pueda instalar
  desde un CD o desde Internet.</dd>

  <dd class="sample3">Dos personas.  Dos laptops de última generación con
  software específico y datos preinstalados, una estación con base en red inalámbrica
  y una handheld con una tarjeta de red inalámbrica.</dd>
 </dl>



 <a name="script"></a>
 <h3>Texto de la Presentación</h3>

 <div class="sticky">
  TAREAS: Defina los pasos de la presentación.  Planee lo que hará y lo que
  dirá.  Practique tres veces para estar seguro de que todas las características del sistema funcionan
  como deben y que tiene suficiente tiempo.
 </div>

 <div class="sticky">
  SUGERENCIA: Imagine que Ud. está en la audiencia. ¿Entiende lo que
  está mostrando en cada paso? ¿La presentación va demasiado rápido? ¿O lento?
  ¿Es muy larga? ¿Le parece interesante? ¿Cuáles son sus preguntas
  o preocupaciones? ¿Está en desacuerdo con alguno de los puntos?
 </div>

 <dl>

 <dt>Inicio</dt>

 <dd class="sample1">
  <ul>
   <li>EXPONGA LAS EXPECTATIVAS</li>
   <li>EXPONGA EL ESCENARIO</li>
   <li>PUNTO CLAVE
    <ul>
     <li>PASO DE LA PRESENTACIÓN</li>
     <li>PASO DE LA PRESENTACIÓN</li>
    </ul>
   </li>
  </ul>
 </dd>

 <dt>Mitad</dt>

 <dd class="sample1">
  <ul>
   <li>PUNTO CLAVE
    <ul>
     <li>PASO DE LA PRESENTACIÓN</li>
     <li>PASO DE LA PRESENTACIÓN</li>
    </ul>
   </li>
   <li>PUNTO CLAVE
    <ul>
     <li>PASO DE LA PRESENTACIÓN</li>
     <li>PASO DE LA PRESENTACIÓN</li>
    </ul>
   </li>
   <li>PUNTO CLAVE (si hay tiempo)
    <ul>
     <li>PASO DE LA PRESENTACIÓN</li>
     <li>PASO DE LA PRESENTACIÓN</li>
    </ul>
   </li>
  </ul>
 </dd>

 <dt>Final</dt>

 <dd class="sample1">
  <ul>
   <li>PUNTO FINAL
    <ul>
     <li>PASO DE LA PRESENTACIÓN</li>
     <li>PASO DE LA PRESENTACIÓN</li>
    </ul>
   </li>
   <li>CONCLUSIÓN O RESUMEN</li>
   <li>INVITACIÓN A LA ACCIÓN O SIGUIENTES PASOS</li>
  </ul>
 </dd>


 </dl>




 <a name="questions"></a>
 <h3>Preguntas Anticipadas</h3>
 
 <div class="sticky">
  TAREAS: Escriba una cuantas preguntas comunes que espere que le hagan,
  y buenas respuestas.
 </div>

 <div class="sticky">
  SUGERENCIA: Puede dejar fuera de la presentación algunos puntos menos críticos y
  usarlos solo si alguien hace una pregunta relacionada.
 </div>

 <dl>
   <dt>¿Cómo se compara este PRODUCTO con OTRO-PRODUCTO?</dt>

   <dd class="sample1">RESPUESTA</dd>


   <dt>¿Qué pasa si hace X o Y?</dt>

   <dd class="sample1">Resultaría Z.</dd>

   <dt>¿Cuándo estará listo el producto?</dt>

   <dd class="sample1">Tenemos una fecha de liberación anunciada de Julio 17.</dd>
   <dd class="sample2">Estamos planeando hacer laliberación en invierno, pero
   aún no tenemos una fecha específica.</dd>
   <dd class="sample3">Aún no tenemos una fecha de liberación específica.</dd>

 </dl>




 <a name="checklist"></a>
 <h3>Lista de Pendientes de la Presentación</h3>

 <div class="sticky">
  TAREAS: Use las siguientes preguntas para ayudarse a evaluar su presentación
 </div>

 <dl>
   <dt>¿Esta utilizando los puntos adecuados en el orden adecuado?</dt>

   <dd class="sample1">Sí, sentimos que así podemos alcanzar nuestros objetivos.</dd>

   <dd class="sample2">No, necesitamos priorizar mejor nuestros puntos.</dd>


   <dt>¿Puede ser presentado en el tiempo disponible?</dt>

   <dd class="sample1">Sí, podríamos incluso agregar más o terminar antes.</dd>

   <dd class="sample2">Sí, tenemos secciones opcionales que pueden ser
   saltadas para ahorrar tiempo si es necesario.</dd>

   <dd class="sample3">No, necesitamos presentar los mismo puntos más
   rápido o presentar menos puntos.</dd>

   <dd class="sample4">No, necesitamos cambiar la cantidad de tiempo disponible.</dd>


   <dt>¿Todas las características del sistema funcionan según lo planeado?</dt>

   <dd class="sample1">Sí, todo está terminado y funcionando.</dd>

   <dd class="sample2">Sí, aún hay defectos, pero no son relevantes para esta
   presentación.</dd>

   <dd class="sample3">No sabemos, necesitamos planear pasos alternativos para la
   presentación en caso de que algo falle.</dd>

   <dd class="sample4">No, necesitamos arreglar rápidamente el sistema y/o
   cambiar la presentación para presentar nuestros puntos sin exponer los errores.</dd>


   <dt>¿La presentación termina satisfactoriamente?</dt>

   <dd class="sample1">Sí, los asistentes estarán satisfechos y convencidos.</dd>

   <dd class="sample2">No, necesitamos de asegurarnos de que los pasos de la presentación terminan
   de forma natural como parte de una historia pequeña pero completa, y que los miembros de la audiencia
   entiendan nuestros puntos principales.</dd>


   <dt>¿La presentación genera preguntas que no se puedan contestar?</dt>

   <dd class="sample1">No, la presentación es muy completa.</dd>

   <dd class="sample1">Sí, pero anticipamos esas preguntas y podemos
   manejarlas la fase de Q&amp;A.</dd>

   <dd class="sample1">Sí, el objetivo de esta presentación es generar
   preguntas y cuestiones en las que trabajaremos para su solución.</dd>
   

 </dl>


</div>



 <div class="sticky">
  TAREAS: Revisar las <a
  href="http://readyset.tigris.org/words-of-wisdom/overview.html">notas de 
  sabiduría</a> y discutir formas de mejorar esta plantilla.
  
 </div>


<div class="legal1">Compañía Propietaria</div>

<div class="footnote">
 Copyright &#169; 2003 Jason Robbins.  Todos los derechos reservados. <a href="readyset-license.html">Términos de la Licencia</a>.
 Mantenga esta leyenda derechos donde utilice este archivo como 
 plantilla - Traducción al español por <a href="http://www.interplanet.com.mx">Interplanet</a>, México, D.F.
</div>

</div>
</body>
</html>
