<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//Tigris//DTD XHTML 1.0 Transitional//EN"
"http://style.tigris.org/tigris_transitional.dtd">
<html>
<head>
 <style type="text/css">
/* <![CDATA[ */ 
@import "css/readyset.css"; 
@import "css/inst.css";
/*  ]]> */
 </style>

<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
 <title>Preguntas Frecuentes del Usuario</title>
</head>

<body>
<div class="app">
<div class="readyset">
 <h2>Preguntas Frecuentes del Usuario</h2>

 <div class="sticky">
  TAREAS: Responda estas preguntas comunes.  Se muestran algunas respuestas de
  ejemplo.  Añada nuevas preguntas y nuevas secciones para ajustarse a las
  necesidades de sus usuarios.
 </div>

 <div class="sticky">
  SUGERENCIA: Esta sección de preguntas frecuentes (FAQ) es para usuarios finales, Ud. puede desear escribir respuestas para
  otro tipo de inversionistas como clientes potenciales, colaboradores de open source,
  miembros de una red de desarrollo o administradores.
 </div>



 <a name="general"></a>
 <h3>Información General</h3>

 <dl>
  <dt>¿Qué es NOMBREDELPRODUCTO?</dt>
  <dd class="sample1">Es un/a XXXXX.  Lea nuestro <a href="/">resumen de NOMBREDELPRODUCTO</a>.</dd>

  <dt>¿Quién debería usar NOMBREDELPRODUCTO?</dt>
  <dd class="sample1">Cualquiera que desee XXXXXXX.  Lea más sobre nuestro <a
  href="target-and-benefits.html">público objetivo y beneficios</a>.</dd>

 </dl>



 <a name="download"></a>
 <a name="install"></a>
 <h3>Instalación y Descarga</h3>

 <dl>
  <dt>¿Cómo puedo obtener NOMBREDELPRODUCTO?</dt>

  <dd class="sample1">Ud. puede <a href="#">descargar NOMBREDELPRODUCTO</a>.</dd>

  <dd class="sample2">Ud. puede <a href="#">solicitar NOMBREDELPRODUCTO</a>.</dd>


  <dt>¿Qué necesito para utilizar NOMBREDELPRODUCTO?</dt>

  <dd class="sample1">Los requerimientos del sistema están descritos en las <a
  href="release-notes.html">notas de la versión</a>.</dd>

  <dd class="sample2">Los requerimientos del sistema son para PC Intel-compatibles con velocidad de procesador
  de al menos XXX MHz, XXX MB de RAM. XXX MB de espacio libre en disco,
  y al menos uno de los siguientes sistemas operativos: Windows 98/2000/XP, Mac
  OSX o Linux.</dd>


  <dt>¿Cómo instalo NOMBREDELPRODUCTO?</dt>

  <dd><a href="install.html">Las instrucciones de instalación</a> se encuentran disponibles en línea.</dd>


  <dt>¿Cómo actualizo de una versión vieja de NOMBREDELPRODUCTO?</dt>

  <dd><a href="install.html">Las instrucciones de instalación</a> se encuentran disponibles en línea.</dd>

 </dl>


 <a name="gettingstarted"></a>
 <h3>Para empezar</h3>

 <dl class="sample1">
  <dt>¿Qué es TÉRMINO-TÉCNICO?</dt>

  <dd>Significa XXXXX.  Para términos técnicos adicionales, vea el <a
  href="glossary.html">glosario de términos</a>.</dd>

  <dt>¿Qué es un ELEMENTO-DE-LA-GUI?</dt>
  <dd>Es un/a XXXXX. Es usado/a para YYYYY.</dd>

  <dt>¿Cómo realizo TAREA-COMÚN?</dt>

  <dd>Debe comprender XXX.  Una vez que esté listo:
   <ol>
    <li>Paso uno</li>
    <li>Paso dos</li>
    <li>Paso tres</li>
   </ol>
  </dd>

 </dl>


 <h3>NOMBRE DE LA SECCIÓN</h3>

 <dl class="sample1">
  <dt>PREGUNTA?</dt>
  <dd>RESPUESTA.</dd>

  <dt>PREGUNTA?</dt>
  <dd>RESPUESTA.</dd>

  <dt>PREGUNTA?</dt>
  <dd>RESPUESTA.</dd>

  <dt>PREGUNTA?</dt>
  <dd>RESPUESTA.</dd>

 </dl>


 <a name="troubleshooting"></a>
 <h3>Solución de Problemas</h3>

 <dl class="sample1">
  <dt>Veo un mensjae de error que dice "MENSAJE-DE-ERROR".  ¿Qué está mal?</dt>
  <dd>RESPUESTA.</dd>

  <dt>No puedo realizar TAREA-COMÚN.  ¿Qué está mal?</dt>
  <dd>RESPUESTA.</dd>

 </dl>



 <a name="other"></a>
 <h3>Otras Preguntas</h3>

 <dl>
  <dt>Mi duda no está en esta página.  ¿Cómo puedo encuentrar una respuesta?</dt>

  <dd class="sample1">Primero lea la <a href="users-guide.html">guía del
  usuario</a> y la ayuda en línea.  Su pregunta puede que ya haya sido hecha y respondida.
  Revise <a href="#">los archivos de correo</a> y <a href="#">el sistema de control
  de cambios</a>.  Si aún así no encuentra respuesta a su pregunta, puede publicar su duda en
  la <a href="#">lista de correo de usuarios</a> o en la <a
  href="#">lista de correo de desarrolladores</a> o puede <a href="#">enviar
  su duda</a>.
  </dd>

  <dt>¿A dónde debo enviar mis comentarios sobre esta guía?</dt> 

  <dd class="sample1">Puede escribir a <a
  href="mailto:#">DIRECCIÓN-DE-EMAIL</a> o a cualquiera de los programadores en <a
  href="mailto:#">lista de correo de desarrolladores</a>.</dd>

 </dl>

</div>

 <div class="sticky">
  TAREAS: Revisar las <a
  href="http://readyset.tigris.org/words-of-wisdom/overview.html">notas de 
  sabiduría</a> y discutir formas de mejorar esta plantilla.
  
 </div>


<div class="legal1">Compañía Propietaria</div>

<div class="footnote">
 Copyright &#169; 2003 Jason Robbins.  Todos los derechos reservados. <a href="readyset-license.html">Términos de la Licencia</a>.
 Mantenga esta leyenda derechos donde utilice este archivo como 
 plantilla - Traducción al español por <a href="http://www.interplanet.com.mx">Interplanet</a>, México, D.F.
</div>

</div>
</body>
</html>
