<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//Tigris//DTD XHTML 1.0 Transitional//EN"
"http://style.tigris.org/tigris_transitional.dtd">
<html>
<head>
 <style type="text/css">
/* <![CDATA[ */ 
@import "css/readyset.css"; 
@import "css/inst.css";
/*  ]]> */
 </style>

<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
 <title>Términos del Proyecto</title>
</head>

<body>
<div class="app">
<div class="readyset">
 <h2>Glosario de términos</h2>

 <div class="tabs">
 <table border="0" cellspacing="0" cellpadding="0"><tr>
  <th>Términos del Proyecto</th>
  <td><a href="glossary-std.html">Términos estándar</a></td>
 </tr></table>
 </div>

 <a name="processimpact"></a>
 <p class="readonly"><strong>Impacto del proceso:</strong> Este archivo es un diccionario
 de términos diseñado según se usen durante el proyecto.
 Documentar las definiciones de términos y acrónimos aqui ayuda a 
 otros documentos a ser más concisos y precisos.  Un glosario compartido ayuda
 a prevenir malos entendidos y hace más fácil a miembros nuevos del equipo a ser 
 productivos.
 </p>

 <div>Vaya a: <a href="#A">A</a> | <a href="#B">B</a> | <a
 href="#C">C</a> | <a href="#D">D</a> | <a href="#E">E</a> | <a
 href="#F">F</a> | <a href="#G">G</a> | <a href="#H">H</a> | <a
 href="#I">I</a> | <a href="#J">J</a> | <a href="#K">K</a> | <a
 href="#L">L</a> | <a href="#M">M</a> | <a href="#N">N</a> | <a
 href="#O">O</a> | <a href="#P">P</a> | <a href="#Q">Q</a> | <a
 href="#R">R</a> | <a href="#S">S</a> | <a href="#T">T</a> | <a
 href="#U">U</a> | <a href="#V">V</a> | <a href="#W">W</a> | <a
 href="#X">X</a> | <a href="#Y">Y</a> | <a href="#Z">Z</a> | <a
 href="#Other">Otros</a> </div>




 <h3>Términos específicos del proyecto</h3>

 <div class="sticky">
  SUGERENCIAS: 
  <ul>
   <li>Añada anclas de HTML a sus términos para que los otros documentos puedan ligarse
   a la definición de términos específicos.  ESto permitirá también ligas a 
   otros términos en las definiciones.</li>

   <li>Si existe alguna pregunta sobre el significado de un término, anótelo
   aquí.  Si alguien (por ejemplo, el cliente) le envía una definición para ser usada,
   anótela también aquí.  So algo se define mejor utilizando una
   hiperliga hacia otro documento o sitio web, incluya la hiperliga en
   la definición.</li>

   <li>si un término fue usado, pero ya no va a volver a ser utilizado, 
   debería mantenerlo en la lista y marcarlo como "desaprobado".</li>

   <li>Sólo defina los términos especiales usados en este proyecto, o los que
   un miembro nuevo del equipo pueda no conocer.  No empiece definiendo cientos de
   términos técnicos.  Siempre puede encontrar términos así en <a
   href="http://www.dictionary.com/">dictionary.com</a> o en <a
   href="http://www.google.com/">Google</a>.</li>

   <li>No pierda tiempo alfabetizando, sólo agrupe los términos por su
   primera letra.  Los usuarios pueden usar Control-F para "Encontrar..." los términos cuando
   los necesiten.</li>
  </ul>
 </div>

 <div class="sticky">
  NOTA: En este conjunto de plantillas no hay un Modelo de Dominio formal,
  la única representación del dominio del problema son las sentencias de las <a
  href="user-needs.html">Necesidades del Usuario</a> y los términos definidos aquí.  Así que,
  si Ud. no crea un modelo de análisis en UML, debería entonces definir los objetos
  encontrados en el dominio del problema y enumerar sus atributos y
  relaciones aquí.  Por ejemplo, vea <a href="#estudiante">estudiante</a>.
 </div>


 <dl>

<a name="A"></a>

<a name="B"></a>


<a name="C"></a>

<a name="D"></a>


<a name="E"></a>

  <dt><a name="estudiante"></a>Estudiante</dt>

  <dd class="sample1"><i>n.</i> Una persona que va a la escuela para obtener una título.
  Sus atributos incluyen: id_estudiante, semestre, y
  años_de_estudio.  Sus relaciones son escuela e grupo.</dd>

<a name="F"></a>


<a name="G"></a>

  <dt><a name="gef"></a>GEF</dt>

  <dd class="sample1"><i>n.</i> <a
  href="http://gef.tigris.org/">Graph Editing Framework (Entorno de Edición de Gráficos)</a>.  Una librería
  open source para editar diagramas (cajas y flechas).</dd>

<a name="H"></a>

<a name="I"></a>

  <dt><a name="ics"></a>ICS</dt>

  <dd class="sample1"><i>n.</i> Acrónimo para la Escuela de Informática
  y Ciencias Computacionales en UC Irvine. </dd>

<a name="J"></a>

<a name="K"></a>

<a name="L"></a>

<a name="M"></a>

<a name="N"></a>

<a name="O"></a>

<a name="P"></a>


  <dt><a name="pasante"></a>Pasante</dt>

  <dd class="sample1">Un tipo de <a href="#student">Estudiante</a>. TAREAS:
  añadir más detalles.</dd>

<a name="Q"></a>

<a name="R"></a>

<a name="S"></a>

<a name="T"></a>

  <dt><a name="term1"></a>Término 1</dt>

  <dd>Definición 1</dd>

  <dt><a name="term2"></a>Término 2</dt>

  <dd>Definición 2a</dd>

  <dd>Definición 2b</dd>


  <dt><a name="term3"></a>Término 3</dt>

  <dd>Definición 3</dd>

  <dt><a name="term4"></a>Término 4</dt>

  <dd>Definición 4</dd>

  <dt><a name="term5"></a>Término 5</dt>

  <dd>Definición 5</dd>

  <dt><a name="term6"></a>Término 6</dt>

  <dd>Definición 6</dd>

<a name="U"></a>

<a name="V"></a>

<a name="W"></a>

<a name="X"></a>

<a name="Y"></a>

<a name="Z"></a>

<a name="Otros"></a>





 </dl>


 

 <div class="sticky">
  TAREAS: Revisar las <a
  href="http://readyset.tigris.org/words-of-wisdom/overview.html">notas de 
  sabiduría</a> y discutir formas de mejorar esta plantilla.
 </div>



<div class="legal1">Compañía Propietaria</div>

<div class="footnote">
 Copyright &#169; 2003 Jason Robbins.  Todos los derechos reservados. <a href="readyset-license.html">Términos de la Licencia</a>.
 Mantenga esta leyenda derechos donde utilice este archivo como 
 plantilla - Traducción al español por <a href="http://www.interplanet.com.mx">Interplanet</a>, México, D.F.
</div>

</div>
</body>
</html>
