<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//Tigris//DTD XHTML 1.0 Transitional//EN"
"http://style.tigris.org/tigris_transitional.dtd">
<html>
<head>
 <style type="text/css">
/* <![CDATA[ */ 
@import "css/readyset.css"; 
@import "css/inst.css";
/*  ]]> */
 </style>

<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
 <title>Resumen del Proyecto</title>

</head>

<body>
 <h2>Resumen del Proyecto</h2>

 <div class="app">
 <div class="readyset">


 <a name="mission"></a>
 <a name="scope"></a>
 <h3>Misión y Alcance</h3>
 <div class="sticky">
  TAREAS: Responder estas preguntas en sus propias palabras llenando cada etiqueta
  &lt;dd>.
 </div>

 <dl>

  <dt>¿Qué problema resuelve este proyecto?</dt>

  <dd class="sample1">2-4 DESCRIBA EL PROBLEMA</dd>

  <dt>¿Cuál es el objetivo de este proyecto?</dt>

  <dd class="sample1">2-4 DESCRIBA EL OBJETIVO</dd>

  <dt>¿Cuál es el alcance de este proyecto?</dt>

  <dd class="sample1">2-4 DESCRIBA EL ALCANCE</dd>

 </dl>

 <p>Para más información, vea la <a href="proposal.html">propuesta del proyecto</a>.</p>




 <a name="status"></a>
 <h3>Estado</h3>

 <div class="sticky">
  TAREAS: Describa brevemente el estado actual de este proyecto; por ejemplo: ¿en qué etapa
  se encuentra Ud. o su equipo? o ¿cuál es la siguiente meta a alcanzar? Los detalles del estado del 
  proyecto son escritos en los reportes de avances, no aqui.
 </div>

 <div class="sample1">
 <p>Hemos completado nuestro segundo beta y actualmente estamos trabajando
 en añadir mas de la funcionalidad descrita en las
 <a href="srs.html">especificaciones</a> de nuestro producto y arreglando defectos.</p>

 <p>Nuestra próxima meta es la liberación del tercer beta
 con casi toda la funcionalidad y con pruebas en un espectro más amplio de usuarios.</p>
 </div>



<a name="projectdocuments"></a>
<h3>Documentos del proyecto</h3>

<ul>
 <li>Para Todos
 <ul>
  <li><a href="index.html">Resumen del proyecto</a></li>
  <li><a href="user-needs.html">Descripción de las necesidades del usuario</a></li>
  <li><a href="srs.html">Especificación de los requerimientos de software</a></li>
  <li><a href="plan.html">Plan del proyecto</a></li>
  <li><a href="sdm.html">Metodología de desarrollo de software</a></li>
  <li><a href="release-checklist.html">Lista de pendientes para liberación</a></li>
 </ul></li>
 <li>Para Administración
 <ul>
  <li><a href="resource-needs.html">Recursos necesarios para el proyecto</a></li>
  <li><a href="proposal.html">Propuesta del proyecto</a></li>
  <li><a href="status-report.html">Reporte de estado (avances)</a></li>
  <li><a href="postmortem.html">Reporte postmortem del proyecto</a></li>
 </ul></li>
 <li>Para Ventas y Mercadotecnia
 <ul>
  <li><a href="target-and-benefits.html">Público objetivo y beneficios</a></li>
  <li><a href="demo-script.html">Descripción del proyecto para presentaciones</a></li>
 </ul></li>
 <li>Para Jurídico
 <ul>
  <li><a href="legal.html">Cuestiones legales</a></li>
 </ul></li>
 <li>Para Desarrollo
 <ul>
  <li><a href="design.html">Diseño</a></li>
  <li><a href="review-meeting-checklists.html">Revisión de minutas de juntas</a></li>
  <li><a href="review-meeting-notes.html">Revisión de notas de juntas</a></li>
 </ul></li>
 <li>Para QA (Aseguramiento de la Calidad)
 <ul>
  <li><a href="qa-plan.html">Plan de QA</a></li>
 </ul></li>
 <li>Para Soporte Técnico y Operaciones
 <ul>
  <li><a href="implementation-notes.html">Notas de implementación</a></li>
  <li><a href="faq.html">Preguntas frecuentes / Guía para resolver problemas</a></li>
 </ul></li>
 <li>Para Usuarios Finales
 <ul>
  <li><a href="install.html">Instrucciones para instalación / Guía rápida del usuario</a></li>
  <li><a href="userguide.html">Guía del usuario</a></li>
  <li><a href="release-notes.html">Notas sobre la versión</a></li>
 </ul></li>
</ul>


</div>

 <div class="sticky">
  SUGERENCIA: Los usuarios de Internet Explorer pueden imprimir todos los documentos desde esta página
  seleccionando la opción "Imprimir documentos relacionados" en la caja de diálogo de la opción 
  "Imprimir"
 </div>

 <div class="sticky">
  TAREAS: Revisar las <a
  href="http://readyset.tigris.org/words-of-wisdom/overview.html">notas de 
  sabiduría</a> y discutir formas de mejorar esta plantilla.
 </div>

<div class="legal1">Compañía Propietaria</div>

<div class="footnote">
 Copyright &#169; 2003 Jason Robbins.  Todos los derechos reservados. <a href="readyset-license.html">Términos de la Licencia</a>.
 Mantenga esta leyenda derechos donde utilice este archivo como 
 plantilla - Traducción al español por <a href="http://www.interplanet.com.mx">Interplanet</a>, México, D.F.
</div>

</div>
</body>
</html>
