<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//Tigris//DTD XHTML 1.0 Transitional//EN"
"http://style.tigris.org/tigris_transitional.dtd">
<html>
<head>
 <style type="text/css">
/* <![CDATA[ */ 
@import "css/readyset.css"; 
@import "css/inst.css";
/*  ]]> */
 </style>

<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
 <title>Notas de Entrevistas</title>
</head>

<body>
<div class="app">
<div class="readyset">

<h2><a href="user-needs.html">Requerimientos del usuario</a> &gt; Notas de Entrevistas</h2>

 <a name="projectinfo"></a>
 <h3>Información del Proyecto</h3>
 <div class="axial">
 <table border="1" cellpadding="3" cellspacing="2">
  <tr>
   <th>Proyecto:</th> 
   <td>NOMBRE DEL PROYECTO</td>
  </tr>
  <tr>
   <th>Entrevistador(es):</th> 
   <td>NOMBRE DE LA PERSONA(S)</td>
  </tr>
  <tr>
   <th>Entrevistado(s):</th> 
   <td>NOMBRE DE LA PERSONA(S)</td>
  </tr>
  <tr>
   <th>Fecha de la Entrevista:</th> 
   <td>FECHA</td>
  </tr>
  <tr>
   <th>Lugar de la Entrevista:</th> 
   <td>LUGAR</td>
  </tr>
  <tr>
   <th>Documentos Relacionados:</th> 
   <td>
    <div><a href="proposal.html">Propuesta del Proyecto</a> &gt; <a href="target-and-benefits.html">Público objetivo y beneficios</a></div>
    <div><a href="glossary.html">Glosario de términos</a></div>
   </td>
  </tr>
 </table>
 </div>

 <div class="sticky">
  TAREAS: Copie este archivo por cada entrevista hecha. COmplete los detalles.
  Haga una liga de este archivo a la sección de "Notas de Entrevistas y Lluvias de Ideas"
  de user-needs.html.
 </div>

 <a name="processimpact"></a>
 <p class="readonly"><strong>Impacto del proceso:</strong> La planeación
 de preguntas para las entrevistas con inversionistas es la clave para un levantamiento
 de datos efectivo.  Los buenos requerimientos son necesarios para construir el
 sistema correctamente.  Estas notas deberán ser guardadas como parte de la
 documentación en <a href="user-needs.html">requerimientos del usuario</a> para ser
 referenciadas cuando la <a href="srs.html">especificación de requerimientos de 
 software</a> sea redactada o actualizada. </p>



 <a name="questions"></a>
 <h3>Preguntas y Respuestas de la Entrevista</h3>

 <div class="sticky">
  TAREAS: Antes de la entrevista, planee las preguntar que va a hacer.
  Después, escriba las respuestas que recibió y cualquier otra pregunta o respuesta
  adicional que pueda surgir.  
 </div>


 <dl>

  <dt>¿Cómo se dió cuenta de la necesidad de este producto?</dt>

  <dd>RESPUESTA</dd>
 

  <dt>¿Qué tipos de usuarios podrían utilizar este producto?</dt>

  <dd>RESPUESTA</dd>
 

  <dt>¿Podría dar un ejemplo de cómo un usuario podría utilizar el producto?</dt>

  <dd>RESPUESTA</dd>
 

  <dt>¿Existe algún riesgo por utilizar este producto?</dt>

  <dd>RESPUESTA</dd>
 

  <dt>PREGUNTA1</dt>

  <dd>RESPUESTA1</dd>
 

  <dt>PREGUNTA2</dt>

  <dd>RESPUESTA2</dd>


  <dt>PREGUNTA3</dt>

  <dd>RESPUESTA3</dd>


  <dt>PREGUNTA4</dt>

  <dd>RESPUESTA4</dd>



 </dl>



 <a name="notes"></a>
 <h3>Otras Notas de la Entrevista</h3>
 
 <div class="sticky">
  TAREAS: Anote todo lo demás que haya surgido de la entrevista, ya sea
  explícita o implicitamente.  REcuerde confirmar los datos que
  recabó implícitamente si tuviera dudas sobre ellos.  Por ejemplo, tome notas de
  que el entrevista utiliza un significado poco usual para cierto término. Añada
  ligas a cualquier documento que le entregue el entrevistado.
 </div>

 <ul>
  <li>NOTA</li>

  <li>NOTA</li>

  <li>NOTA</li>
 </ul>



 <a name="checklist"></a>
 <h3>Lista de Pendientes de la Entrevista</h3>

 <ul>
  <li>Antes de la entrevista
   <ol>
    <li>Decida que objetivos desea cumplir</li>
    <li>Prepare una lista de preguntas
     <ul>
      <li>Pregunte sobre las cosas que conoce y que desea conocer, basado en
      su entendimiento actual de los requerimientos</li>

      <li>Mantenga las preguntas simples.  No utilice preguntas con muchas partes,
      rompa los temas complejos en preguntas individuales.</li>

      <li>Confirme las suposiciones más importantes. Por ejemplo: "Ud. es la persona
      que utilizará este programa, cierto?" "El total necesita ser
      impreso y actualizado por cada elemento que se escanea, verdad?"</li>

      <li>Evite sugerir o hacer preguntas de muchas partes, porque la respuesta correcta
      podría ser una que Ud. no conozca todavía. Por ejemplo, INCORRECTO:
      "Ud. entraría al sistema desde su escritorio aquí o desde su
      casa?"  CORRECTO: "Cuáles son algunos de los lugares de donde entraría
      al sistema?" "Desde aquí en mi oficina, pero también cuando trabajo
      con otras personas algunas veces me conecto desde las computadoras en sus oficinas o desde
      una computadora en el laboratorio o en la sala de juntas... así que no quisiera una cookie
      guardada aquí."</li>

      <li>TRate de encontrar la prioridad para cada requerimiento: esencial,
      esperado, deseado u opcional.</li>

      <li>Escriba más preguntas abiertas para ver si nuevos requerimientos de importancia
      salen a la luz.</li>

      <li>No haga muchas preguntas que parezcan fuera del tema., podría
      accidentalmente cambiar el enfoque o hacer especulaciones incorrectas.
      Por ejemplo, "¿Le gustaría que el sistema hiciera también estas otras 
      diez características?" "¡Claro!"</li>
     </ul>
    </li>

    <li>Seleccione a los entrevistados que representen a todos los inversionistas importantes.</li>

    <li>Revise sus preguntas.  ¿Cree que pueden ser contestadas?
    ¿Le ayudarán a alcanzar sus objetivos?  Si no es así, redáctelas de nuevo.</li>

    <li>Decida si desea hacer esta entrevista via email,
    teléfono o en persona</li>

    <li>Programe una entrevista según la conveniencia del entrevistado.
    Planee que la entrevista dure no más de una hora.</li>

   </ol>
  </li>

  <li>Durante la entrevista
   <ol>
    <li>Sea atento, cortés y profesional</li>
    <li>Presentese Ud. mismo y explique por qué está Ud. ahi.</li>

    <li>ASegúrese que está entrevistando a la persona que fue a entrevistar.
    Consiga su información de contacto (por ejemplo, su dirección de email) si aún no
    la tiene.</li>

    <li>Pida permiso para tomar notas. No grabe en cinta o video.</li>

    <li>Confirme el tiempo disponible con el que cuentan Ud. y el entrevistado para esta sesión.</li>

    <li>Dé una indicación rápida del tipo y número de preguntas que va a hacer</li>

    <li>Haga todas las preguntas.</li>

    <li>Escuche.  Es para eso que esta Ud. ahi.</li>

    <li>Si el entrevistado se refiere a documentos e xistente, sistemas,
    equipo o personas, asegúrese de entender de el o ella está hablando.
    Si es importante, pregunte si puede conseguir una copia o
    una pantalla (pero no solicite nada que pueda ser confidencial),
    o tome nota de los aspectos importantes de los elementos a los que
    se refiere.  Apunte las URLs de cualquier sitio web público existente que
    salga en la entrevista.</li>

    <li>Intente no responder las preguntas Ud. mismo, o reaccionar a las
    solicitudes del entrevistado haciendo promesas de resolver sus problemas.
    La entrevistas son para entender los problemas, no para resolverlos o
    programar fechas de entrega.</li>

    <li>Anote los elementos de los puede obtener más información más tarde.
    Por ejemplo, si el entrevistado empieza a explicarle con detalle
    algo que Ud. sabe que puede aprender por su cuenta, o si el entrevistado no
    conoce la respuesta y empieza a especular, debería intentar seguir
    con la siguiente pregunta.</li>

    <li>Si se da cuenta que ha preparado mal las preguntas, concéntrese
    en obtener información que le ayudará a preparar las siguientes preguntas
    correctamente.</li>

    <li>Termine puntualmente.  Si necesita más tiempo continúe via email o
    en una reunión posterior.</li>

    <li>Resuma los elementos de acción que investigará más tarde</li>

    <li>Pregunte si el entrevistado tiene preguntas para Ud., o si
    hay algo más que desea que Ud. le pregunte.</li>

    <li>Asegúrese de dejar sus datos de contacto</li>
    <li>Agradeza al entrevistado por su tiempo</li>
   </ol>
  </li>

  <li>Después de la entrevista
   <ol>

    <li>En las primeras 24 horas, lea sus notas y complete los detalle
    importantes que fueron mencionados pero que no anotó</li>
 
    <li>Capture sus notas para que las pueda compartir con su equipo y
    archivadas</li>

    <li>Formule cualquier pregunta importante que desee hacer después</li>

    <li>Dentro de 2 o 3 días después, envíe un mensaje por email para
     <ul>
      <li>Agradecer al entrevistado de nuevo</li>

      <li>Confirmar que tiene la dirección de correo correcta, y facilitar
      a sus entrevistados la comunicación con Ud.</li>

      <li>Pregunte cualquier pregunta que tenga aún</li>

      <li>Asigne estado a sus elementos de acción, si los tiene.  Por ejemplo, "Busque en
      Google por el producto que mencionó y no pude encontrar el 
      manual del usuario, pero encontre una revista con un artículo sobre él."  O
      "Después de la entrevista, hable con Roberto, y el me confirmó
      que algunos productos cuestan actualmente $0.00."</li>
     </ul>
    </li>
   </ol>
  </li>
 </ul>

</div>


 <div class="sticky">
  TAREAS: Revisar las <a
  href="http://readyset.tigris.org/words-of-wisdom/overview.html">notas de 
  sabiduría</a> y discutir formas de mejorar esta plantilla.
 </div>

<div class="legal1">Compañía Propietaria</div>

<div class="footnote">
 Copyright &#169; 2003 Jason Robbins.  Todos los derechos reservados. <a href="readyset-license.html">Términos de la Licencia</a>.
 Mantenga esta leyenda derechos donde utilice este archivo como 
 plantilla - Traducción al español por <a href="http://www.interplanet.com.mx">Interplanet</a>, México, D.F.
</div>

</div>
</body>
</html>
