<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//Tigris//DTD XHTML 1.0 Transitional//EN"
"http://style.tigris.org/tigris_transitional.dtd">
<html>
<head>
 <style type="text/css">
/* <![CDATA[ */ 
@import "css/readyset.css"; 
@import "css/inst.css";
/*  ]]> */
 </style>

<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
 <title>Cuestiones Legales</title>
</head>

<body>
 <h2>Cuestiones Legales</h2>

 <div class="app">
 <div class="readyset">


 <a name="projectinfo"></a>
 <h3>Project Information</h3>
 <div class="axial">
 <table border="1" cellpadding="3" cellspacing="2">
  <tr>
   <th>Projecto:</th> 
   <td>NOMBREDELPROYECTO</td>
  </tr>
  <tr>
   <th>Número Interno de Versión:</th> 
   <td>X.Y.Z</td>
  </tr>
  <tr>
   <th>Audiencia de la Entrega:</th> 
   <td>
    <div>Disponibilidad general de la entrega</div>
    <div>Entrega para clientes específicos: CLIENTE(S)</div>
    <div>Entrega para desarrolladores (Uso interno únicamente)</div>
    <div>Entrega preliminar (Acceso externo controlado)</div>
   </td>
  </tr>
  <tr>
   <th>Licencia a Usar para el Producto:</th> 
   <td>Licencia Comercial</td>
  </tr>
  <tr>
   <th>Documentos Relacionados:</th> 
   <td>
    <div><a href="proposal.html">Propuesta del proyecto</a></div>
    <div><a href="resource-needs.html">Recursos Necesarios para el Proyecto</a></div>
    <div><a href="target-and-benefits.html">Público Objetivo y Beneficios</a></div>
    <div><a href="glossary.html">Glosario de Términos</a></div>
   </td>
  </tr>
 </table>
 </div>

 <a name="processimpact"></a>
 <p class="readonly"><strong>Impacto del proceso:</strong> Este documento
 define las cuestiones legales que pudieran afectar esta entrega.  No considerar
 cuidadosamente estas cuestiones puede poner a la organización de desarrollo 
 en riesgo de una acción legal.</p>



 <div class="sticky">
  TAREAS: Llene la informaci? que se lñe pide arriba y abajo.  añada o quite renglones
  según necesite. Use la tabla para ayudar a identificar cuestiones legales. Busque
  consejo profesional si es necesario.
 </div>



 <a name="ip"></a>
 <h3>Propiedad Intelectual</h3>

 <table border="1" cellpadding="3" cellspacing="2" width="100%" class="sample1">
  <tr>
   <th>Componente</th> 
   <th>Dueño</th> 
   <th>Licencia</th> 
   <th>Estado</th> 
   <th>Comentarios</th> 
  </tr>
  <tr>
   <td>Nombre del producto</td>
   <td>Nosotros</td>
   <td>Marca Registrada</td>
   <td>Registro pendiente</td>
   <td>debemos usar "(TM)", no "(R)"</td>
  </tr>
  <tr>
   <td>Base de datos</td>
   <td>DISTRIBUIDOR</td>
   <td>Licencia Comercial</td>
   <td>En conformidad, cobra cuota estándar</td>
   <td>Se limita a 2 procesadores/servidores</td>
  </tr>
  <tr>
   <td>Librería de encriptación</td>
   <td>DISTRIBUIDOR</td>
   <td>Licencia comercial</td>
   <td>En conformidad, por un acuerdo de sociedad</td>
   <td></td>
  </tr>
  <tr>
   <td>Imagenes de clip-art</td>
   <td>Ninguna</td>
   <td>Dominio público</td>
   <td>En conformidad</td>
   <td></td>
  </tr>
  <tr>
   <td>Librería de controladores de sonido</td>
   <td>OS del Proyecto</td>
   <td>BSD</td>
   <td>En conformidad</td>
   <td></td>
  </tr>
  <tr>
   <td>Indexador de la máquina de búsqueda</td>
   <td>OS del Proyecto</td>
   <td>GPL</td>
   <td>En conformidad</td>
   <td>El indexador correo en un proceso aparte, no hace nuestro código GPL</td>
  </tr>
  <tr>
   <td>Otras librerías</td>
   <td>OS del Proyecto</td>
   <td>BSD</td>
   <td>En conformidad</td>
   <td></td>
  </tr>
  <tr>
   <td>Otros datos</td>
   <td>Nosotros</td>
   <td>Con copyright</td>
   <td>En conformidad</td>
   <td></td>
  </tr>
  <tr>
   <td>Patente de algoritmo especial</td>
   <td>Nosotros</td>
   <td>Patente pendiente</td>
   <td>En conformidad</td>
   <td>Búsqueda de patente terminada, aplicación de patente en revisión</td>
  </tr>
 </table>



 <a name="compliance"></a>
 <h3>Normatividad</h3>

 <table border="1" cellpadding="3" cellspacing="2" width="100%" class="sample1">
  <tr>
   <th>Tipo</th> 
   <th>Competencia</th> 
   <th>Estado</th> 
   <th>Comentarios</th> 
  </tr>
  <tr>
   <td>Exportación</td>
   <td>Exportación con encriptación fuerte debe ser declarada</td>
   <td>En conformidad</td>
   <td>No distribuiremos fuera del país</td>
  </tr>
  <tr>
   <td>Privacidad</td>
   <td>No puede recolectar información personal de menores</td>
   <td>En conformidad</td>
   <td>Preguntamos por la edad de los usuarios antes de solicitar cualquier otro dato</td>
  </tr>
  <tr>
   <td>Certificación de la Industria</td>
   <td>Clasificación de la industria de juegos</td>
   <td>En conformidad</td>
   <td>Seguimos los lineamientos para la clasificación "Para todo público"</td>
  </tr>
 </table>

 <div class="tier2">
 <h4>Posibles Valores del Estado</h4>
 <ul>
  <li>En conformidad: estamos listos para seguir adelante con esta entrega</li>
  <li>Ignorado: hemos decidido no considerar este aspecto para esta entrega</li>
  <li>En violación: no cumplimos de conformidad.  Los comentarios deberán describir el impacto de esta situación.</li>
 </ul>
 </div>



 <a name="checklist"></a>
 <h3>Lista de Pendientes Legales</h3>

 <p>El objetivo de esta lista es ayudar a determinar las cuestiones legales que
 pudieran de oitra forma ser ignorados.  Esta lista no ayuda con la administración de 
 las cuestiones legales.</p>

 <div class="sticky">
  TAREAS: Responda las pregunta que se encuentran abajo.  Si existen respuestas en el ejemplo,
  elimine las que no aplican. Edite las que ya existen según considere necesario.
 </div>


 <dl>

  <dt>¿La organización que hace el desarrollo tiene derechos sobre el nombre del producto
      y cualquier otros nombres usados en la mercadotecnia del producto?</dt>
  <dd>Sí.  Estamos seguros de nuestra propiedad de marca.</dd>
  <dd>No.  Asegurarse de infirngir la propiedad de alguien mas.</dd>

  <dt>¿La organización que hace el desarrollo tiene derechos o patentes sobre
  la propiedad intelectual que es usada en el producto?</dt> 
  <dd>Sí.  Estamos seguros de nuestra propiedad de marca.</dd>
  <dd>No.  Asegurarse de infirngir la propiedad de alguien mas.</dd>

  <dt>¿La organización que hace el desarrollo tiene derechos o patentes sobre 
  el código fuente que es usado en el producto?</dt> 
  <dd>Sí.  Estamos seguros de nuestra propiedad de marca.</dd>
  <dd>No.  Asegurarse de infirngir la propiedad de alguien mas.</dd>

  <dt>Para cada componente en el producto, ¿es ese componente siendo utilizado
  en alguna forma que haga conflicto con su licencia?</dt>
  <dd>Llene los detalles en la tabla que se encuentra arriba.</dd>

  <dt>¿Para cada pieza de información información registrada en el producto, ¿son estos datos usados
  en forma que hagan conflicto con su licencia?</dt>
  <dd>Llene los detalles en la tabla que se encuentra arriba.</dd>

  <dt>¿Fue algún componente o información producido por otra organización bajo
  contrato?</dt>
  <dd>Sí.  Revise los detalles del contrato para derechos de propiedad y licenciamiento.</dd>
  <dd>No.  No se requiere hacer nada al respecto.</dd>

  <dt>¿El producto usa tecnologias que se encuentre bajo control de exportación?</dt>
  <dd>Sí, pero no  tenemos planes para exportación.</dd>
  <dd>Sí.  Tome los pasos necesarios para obtener los permisos de exportación.</dd>
  <dd>No.  No se requiere hacer nada al respecto.</dd>

  <dt>¿El producto necesita cubrir regulaciones industriales específicas?</dt>
  <dd>Sí.  Tome los pasos necesarios para obtenerlos, especialmente....</dd>
  <dd>No.  No se requiere hacer nada al respecto.</dd>

  <dt>¿El producto satisface las políticas de la organización (por ejemplo, de privacidad
  y seguridad)?</dt>
  <dd>Sí.  Describa cómo se satisfacen cada una de estas políticas..</dd>
  <dd>No.  Describa los pasos a tomar para hacer que el producto las cumpla.</dd>
  <dd>No.  No hay políticas que apliquen.</dd>

 </dl>

 </div>

 <div class="sticky">
  TAREAS: Revisar las <a
  href="http://readyset.tigris.org/words-of-wisdom/overview.html">notas de 
  sabiduría</a> y discutir formas de mejorar esta plantilla.
 </div>



<div class="legal1">Compañía Propietaria</div>

<div class="footnote">
 Copyright &#169; 2003 Jason Robbins.  Todos los derechos reservados. <a href="readyset-license.html">Términos de la Licencia</a>.
 Mantenga esta leyenda derechos donde utilice este archivo como 
 plantilla - Traducción al español por <a href="http://www.interplanet.com.mx">Interplanet</a>, México, D.F.
</div>

</div>
</body>
</html>
