<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//Tigris//DTD XHTML 1.0 Transitional//EN"
"http://style.tigris.org/tigris_transitional.dtd">
<html>
<head>
 <style type="text/css">
/* <![CDATA[ */ 
@import "css/readyset.css"; 
@import "css/inst.css";
/*  ]]> */
 </style>

<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
 <title>Ejemplos de Etiquetado</title>

</head>

<body>
 <h2>Ejemplos de Etiquetado</h2>

 <div class="app">
 <div class="readyset">

 <div class="sticky">
  El texto a continuación muestra ejemplos de etiqueta HTML muy simple que
  funciona con esta página de estilo.  Para ver más ejemplos, vea <a
  href="http://style.tigris.org/">style.tigris.org</a>.
 </div>



 <h3>Sección de Encabezado</h3>

 <p>Párrafo</p>

 <p>Párrafo</p>

 <h4>Encabezado de Sub-sección</h4>

 <p>Párrafo</p>

 <p>Párrafo</p>

 <ul>
  <li>Viñeta
   <ul>
    <li>Sub-viñeta</li>
   </ul>
  </li>
  <li>Viñeta</li>
  <li>Viñeta</li>
 </ul>

 <p>Párrafo</p>
 <ol>
  <li>Paso
   <ol>
    <li>Sub-paso</li>
   </ol>
  </li>
  <li>Paso</li>
  <li>Paso</li>
 </ol>


 <h3>Encabezado de sección</h3>


 <p>Párrafo</p>


 <h3>ENCABEZADO DE TABLA</h3>

 <table border="1" cellpadding="3" cellspacing="2" width="100%">
  <tr>
   <th>Columna</th> 
   <th>Columna</th> 
   <th>Columna</th> 
   <th>Columna</th> 
   <th>Columna</th> 
  </tr>
  <tr>
   <td>Datos</td> 
   <td>Datos</td> 
   <td>Datos</td> 
   <td>Datos</td> 
   <td>Datos</td> 
  </tr>
  <tr>
   <td>Datos</td> 
   <td>Datos</td> 
   <td>Datos</td> 
   <td>Datos</td> 
   <td>Datos</td> 
  </tr>
  <tr>
   <td>Datos</td> 
   <td>Datos</td> 
   <td>Datos</td> 
   <td>Datos</td> 
   <td>Datos</td> 
  </tr>
 </table>

 <h3>Encabezado de Tabla Axial</h3>
 <div class="axial">
 <table border="1" cellpadding="3" cellspacing="2">
  <tr>
   <th>Encabezado:</th> 
   <td>Datos</td> 
  </tr>
  <tr>
   <th>Encabezado:</th> 
   <td>Datos</td> 
  </tr>
  <tr>
   <th>Encabezado:</th> 
   <td>Datos</td> 
  </tr>
 </table>
 </div>



</div>


<div class="legal1">Compañía Propietaria</div>

<div class="footnote">
 Copyright &#169; 2003 Jason Robbins.  Todos los derechos reservados. <a href="readyset-license.html">Términos de la Licencia</a>.
 Mantenga esta leyenda derechos donde utilice este archivo como 
 plantilla - Traducción al español por <a href="http://www.interplanet.com.mx">Interplanet</a>, México, D.F.
</div>

</div>
</body>
</html>
