<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//Tigris//DTD XHTML 1.0 Transitional//EN"
"http://style.tigris.org/tigris_transitional.dtd">
<html>
<head>
 <style type="text/css">
/* <![CDATOS[ */ 
@import "css/readyset.css"; 
@import "css/inst.css";
/*  ]]> */
 </style>

<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
 <title>Reporte Postmortem del Proyecto</title>
</head>

<body>
<div class="app">
<div class="readyset">
 <h2>Reporte Postmortem del Proyecto</h2>

 <h3>ENCABEZADO</h3>

 <p>PÁRRAFO</p>

 <p>PÁRRAFO</p>


 <h3>ENCABEZADO DE LA TABLA</h3>

 <table border="1" cellpadding="3" cellspacing="2">
  <tr>
   <th>COLUMNA</th> 
   <th>COLUMNA</th> 
   <th>COLUMNA</th> 
  </tr>
  <tr>
   <td>DATOS</td> 
   <td>DATOS</td> 
   <td>DATOS</td> 
  </tr>
  <tr>
   <td>DATOS</td> 
   <td>DATOS</td> 
   <td>DATOS</td> 
  </tr>
 </table>

 <h3>ENCABEZADO AXIAL DE LA TABLA</h3>
 <div class="axial">
 <table border="1" cellpadding="3" cellspacing="2">
  <tr>
   <th>PARÁMETRO</th> 
   <td>VALOR</td> 
  </tr>
  <tr>
   <th>PARÁMETRO</th> 
   <td>VALOR</td> 
  </tr>
  <tr>
   <th>PARÁMETRO</th> 
   <td>VALOR</td> 
  </tr>
 </table>
 </div>

 </div>

 <div class="sticky">
  Sugerencias para el llenado de esta plantilla
 </div>

 <div class="sticky">
  TAREAS: Revisar las <a
  href="http://readyset.tigris.org/words-of-wisdom/overview.html">notas de 
  sabiduría</a> y discutir formas de mejorar esta plantilla.
  
 </div>


<div class="legal1">Compañía Propietaria</div>

<div class="footnote">
 Copyright &#169; 2003 Jason Robbins.  Todos los derechos reservados. <a href="readyset-license.html">Términos de la Licencia</a>.
 Mantenga esta leyenda derechos donde utilice este archivo como 
 plantilla - Traducción al español por <a href="http://www.interplanet.com.mx">Interplanet</a>, México, D.F.
</div>

</div>
</body>
</html>
