<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//Tigris//DTD XHTML 1.0 Transitional//EN"
"http://style.tigris.org/tigris_transitional.dtd">
<html>
<head>
 <style type="text/css">
/* <![CDATA[ */ 
@import "css/readyset.css"; 
@import "css/inst.css";
/*  ]]> */
 </style>

<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
 <title>Propuesta del Proyecto</title>
</head>

<body>
<h2>Propuesta del Proyecto</h2>

<div class="app">
<div class="readyset">

 <a name="projectinfo"></a>
 <h3>Información del proyecto</h3>
 <div class="axial">
 <table border="1" cellpadding="3" cellspacing="2">
  <tr>
   <th>Projecto:</th> 
   <td>NOMBRE DEL PROYECTO</td> 
  </tr>
  <tr>
   <th>Ventana de tiempo para el proyecto:</th> 
   <td>DÍA/MES/AÑO al DÍA/MES/AÑO</td> 
  </tr>
  <tr>
   <th>Resumen:</th> 
   <td>2-4 DESCRIPCIÓN EN UNA ORACIÓN</td> 
  </tr>
  <tr>
   <th>Formas Anexas:</th> 
   <td>
    <div>Propuesta del proyecto &gt; <a href="target-and-benefits.html">Público objetivo y beneficios</a></div>
   </td>
  </tr>
  <tr>
   <th>Documentos relacionados:</th> 
   <td>
    <div><a href="plan.html">Plan del proyecto</a></div>
    <div><a href="resource-needs.html">Recursos necesarios para el proyecto</a></div>
    <div><a href="target-and-benefits.html">Público objetivo y beneficios</a></div>
    <div><a href="glossary.html">Glosario de términos</a></div>
   </td>
  </tr>
 </table>
 </div>

 <a name="processimpact"></a>
 <p class="readonly"><strong>Impacto del proceso:</strong> esta propuesta,
 junto con los preliminares de los documentos relacionados serán usados por Administración para
 determinar si se aprobará o no trabajar en este proyecto.  Una plan de proyecto claro
 y preciso ayuda a definir las espectativas que serán usadas mas tarde
 para evaluar el éxito del proyecto.</p>


 
 <a name="background"></a>
 <h3>Entorno y fundamentos</h3>

 <div class="sticky">
  TAREAS: Reemplace el texto de ejemplo que se encuentra abajo con el texto que describe su
  proyecto.  ¿Cuáles son las necesidades o problemas que está tratando de resolver?
  ¿Por qué esas necesidades o problemas (aún) existen? ¿Por qué vale la pena resolver estos problemas?
  ¿Quiénes se beneficiarían? Escriba de 2 a 4 párrafos 
 </div>

 <dl> 

  <dt>¿Cuáles son los antecedentes y la historia detrás de este proyecto?</dt> 
 
  <dd class="sample1">Los juegos de video fueron diseñados y construidos originalmente como 
  sistemas autónomos e independientes donde el usuario jugaba contra la máquina. A pesar de que
  se han hecho muchos avances en IA para juegos, las personas aún tienden a disfrutar
  más competir contra otras personas en una red. Existe un aspecto social
  a los juegos en red donde las personas forman equipos y/o ligas que juegan 
  en horarios determinados y guardan puntuaciones por periodos prolongados.
  Este factor es importante para los fabricantes de videojuegos porque puede 
  incrementar sus ventas y extender el ciclo de vida de sus productos.</dd>
 
  <dt>¿Cuál es el problema que se está atacando?</dt> 
  
  <dd class="sample1">Existen 100 millones de usuarios en Internet, y cientos de
  sitios dedicados a videojuegos para grupos, llamdos "clanes". Si
  los usuarios tienen que investigar para encontrar los clanes buenos a los que se pueden suscribir, les
  tomaría mucho de su tiempo.  Existe la necesidad de una forma mas rápida para que
  los usuarios puedan encontrar sitios de clanes de alta calidad que les sean de interés y 
  que les permita unírseles.</dd>
 
  <dt>¿Cuáles son los acercamientos actuales a este problema?</dt> 
 
  <dd class="sample1">Los usuarios pueden recomendarse sitios de clanes, pero este no es
  algo escalable porque depende de personas que puede no tener motivos u objetivos honestos 
  en sus evaluaciones.  Existen algunos directorios de sitios de clanes en la Web, 
  pero no están automatizados, por lo que casi siempre se encuentran
  desactualizados y no miden la calidad de los sitios
 
  <ul>
   <li><a href="#">Ejemplo de un sitio de clanes mantenido de forma manual</a></li>
   <li><a href="#">Liga a un competidor</a></li>
  </ul>
 
  </dd>
 
  <dt>¿Por qué este problema vale la pena ser resuelto o su solución actual mejorada?</dt> 
 
  <dd class="sample1">Un mejor servicio de directorio de clanes sería
  valioso porque podría incrementar la satisfacción de los jugadores y
  permitirles dedicar más tiempo jugando y menos buscando.
  La implementación de un mejor directorio de clanes podría convencer a los jugadores de usar ese
  sitio en lugar de los directorio actuales. El beneficio para nosotros
  podría venir de los ingresos por venta de publicidad y tarifas de servicio
  de los distribuidores de videojuegos.</dd>
 
  <dt>¿Dónde hay más información sobre este problema?</dt> 
 
  <dd>Las siguientes páginas contienen información adicional:
 
  <ul class="sample1">
   <li><a href="#">Artículo de revista sobre este tema</a></li>
   <li><a href="#">Reportes de análisis de la industria sobre el mercado masivo de los juegos para grupo.</a></li>
   <li><a href="#">Citas de jugadores y usuarios</a></li>
  </ul>
  </dd> 
 </dl>


 <a name="goal"></a>
 <h3>Objetivo</h3>
 <dl>

  <dt>¿Cuál es el objetivo de este proyecto?</dt>
 
  <div class="sticky">
   SUGERENCIA: Esto debería ser relativamente corto ya que puede hacer referencia a los términos
   definidos arriba
  </div>
 
  <dd class="sample1">Este proyecto producirá una aplicación para un directorio de
  sitios de clanes que permita a los jugadores rápidamente encontrar, evaluar y unirse a otros clanes.</dd>
 
 
  <dt>¿Cuáles son las características definitivas y los beneficios de este producto?</dt>
 
  <dd>
  <ul class="sample1">
   <li>Una aplicación para web reutilizable con funcionalidad para crear,
   editar, borrar, buscar, categorizar, navegar, calificar y
   comentar clanes. Esto automatiza todos las operaciones de los clanes y asegura
   que los usuarios podrán encontrar siempre información que de forma automática se encuentre actualizada.</li>
 
   <li>La aplicación del sitio deberá tener una apariencia altamente configurable
   que le permita ajustarse a la apariencia y caracter del juego.
   Esto permite reutilizar la aplicación del sitio para que tenga una apariencia
   de alta calidad que pueda ser tan buena como la de los directorios de clanes actuales.</li>
 
   <li>La aplicación del sitio deberá ser segura y solo permitir usuarios con los
   permisos adecuados para editar, borrar o unirse a un clan. Esto
   para prevenir trampas o la publicación de información falsa.</li>
  </ul>
  </dd>
 
  <dt>¿Dónde existen otros documentos que ayuden a explicar el objetivo de este
  proyecto?</dt>
  
  <dd class="sample1">
  <ul>
   <li><a href="LINK-TO-MOCKUP">Maqueta</a></li>
   <li><a href="LINK-TO-EARLY-STORIES">Otras historias</a></li>
   <li><a href="LINK-TO-QUOTES">Citas de clientes potenciales</a></li>
   <li><a href="LINK-TO-COMPARISON">Comparación con competidores existentes</a></li>
   <li><a href="LINK-TO-DRAFT-FEATURES">Lista preliminar de características</a></li>
  </ul>
  </dd>
 </dl>



 <a name="scope"></a>
 <h3>Alcance</h3>
 <div class="sticky">
  TAREAS: Reemplace el texto de ejemplo que se encuentra abajo con una frase clara del alcance
  de su proyecto. ¿Cuáles son los objetivos de alto nivel que planea realizar,
  y cuáles no? ¿Cuáles son sus supuestos o simplificaciones más importantes?
  Intente ser claro contra posibles malentendidos 
  que puedan surgir su no explica claramente el alcance.
  Puede ser en forma de párrafo, lista o diagrama.
 </div>

 <p class="sample1">Queremos enfocarnos a la aplicación web en sí,
 y a las características de esa aplicación que ayudarán a construir una mejro comunidad de
 jugadores.</p>

 <p class="sample2">Vea el <a href="LINK-TO-CONTEXT-DIAGRAM">
 diagrama contextual</a>.</p>

 <ul class="sample3">
  <li>Trabajar con servidores y navegadores comunes con los que ya estamos
  familiarizados.</li>
  <li>Permitir la fácil personalización de fuentes y colores, con el mismo
  esquema básico de diseño de página.</li>
  <li>Suficiente seguridad para evitar y desalentar el abuso</li>
  <li>El contenido del sitio web discute juegos, pero no necesitar?
  integrar o incluir software de para jugar.</li>
 </ul>



 <table border="1" cellpadding="3" cellspacing="2" class="sample4" width="100%">
  <tr>
   <th>En el Alcance</th>
   <th>Fuera del Alcance</th>
  </tr>

  <tr>
   <td>Crear una aplicación web para usar con servidores estándar 
   para web y aplicaciones</td> 
   <td>Crear un nuevo servidor web o de aplicaciones</td>
  </tr>

  <tr>
   <td>Que funcione en los navegadores más populares (IE6, NN7/Mozilla)</td>
   <td>Que funcione en navegadores poco comunes o antiguos</td>
  </tr>

  <tr>
   <td>Seguridad para cuentas de usuario, contraseñas y
   permisos</td>
   <td>Seguridad especial contra hackers.  Instalar o parchar agujeros
   de seguridad en los componentes de software utilizados.</td>
  </tr>

  <tr>
   <td>Una única muestra de dise?o e instrucciones para
   personalización</td>
   <td>Nuestro propio diseño de alto impacto.  Una librería con opciones de
   diseño.</td>
  </tr>

  <tr>
   <td>Un volumen de datos de carga de aplicación de datos que pueda ser manejado por una sola
   computadora.</td>
   <td>Instalar un cluster de servidores.</td>
  </tr>

  <tr>
   <td>Llevar registro de qué usuarios se encuentran en cuáles
   clanes</td>
   <td>Llevar registro de toda la actividad de los usuarios en el sitio y
   reportes personalizados de navegación</td>
  </tr>

  <tr>
   <td>Mostrar anuncios a visitantes. Cobrar a los 
   clientes de estos anuncios por impresiones.</td>
   <td>Seleccionar automáticamente anuncios para que se ajusten
   a los intereses de los visitantes. Administración en línea de la publicidad o
   reportes en tiempo real a los clientes.  Participar en servicios existentes
   de publicidad por banners.</td>
  </tr>
 </table>
  


 <a name="deliverables"></a>
 <h3>Deliverables</h3>
 <div class="sticky">
  TAREAS: Enliste brevemente las entregas del proyecto. Cuando termine, ¿qué entregará 
  a sus clientes?  Esto puede ser copiado del borrador del <a href="plan.html">plan del proyecto</a>
  y simplificado para reducir los detalles técnicos.
 </div>

 <ul class="sample1">
  <li>La aplicación para el sitio de directorio de clanes</li>
  <li>Guía de personzalición</li>
  <li>Diseño de muestra</li>
  <li>Ayuda en línea para usuarios finales</li>
  <li>Herramienta de línea de comandos pata configuración de la publicidad y generador de reportes</li>
 </ul>


 
 <a name="risks"></a>
 <h3>Riesgos y Recompensas</h3>
 <dl>

  <div class="sticky">
   TAREAS: Enliste brevemente y califique los mayores riesgos.  Los Riesgos son detallados en el
   borrador del <a href="plan.html">plan del proyecto</a>.  Para este documento de 
   propuesta, se le sugiere sleccionar los riesgos más importantes del
   plan del proyecto y explíquelos en términos no-técnicos.
  </div>

  <dt>¿Cuáles son los principales riesgos de este proyecto?</dt>
 
  <dd class="sample1">
   <ol>
    <li>Existe un conflicto potencial entre los objetivos de una
    apariencia de alta calidad y el de una que es completamente personalizable.
    Solo podemos tener éxito si los jugadores encuentran el sitio llamativo, y
    los distribuidores de juegos pueden personalizarlos sin más esfuerzo del necesario
    para construir un sitio web estático.  ya contamos con un un diseño en mente que permitirá
    resolver este problema y lo revisaremos con un diseñador de sitios web que tiene experiencia
    en sitios para juegos.</li>
  
    <li>Existen importantes dificultades técnicas entre construir un
    sitio web y una aplicación web.  Este es un riesgo debido a que una persona
    nuestro equipo tiene mucha experiencia con herramientas y tecnologías relevantes,
    mientras que aunque el resto aprenderá, seguramente cometerán
    algunos errores.  Resolveremos esto
    analizando el proyecto para tener una ventana de tiempo lo suficientemente grande
    para revisar y corregir el diseño y la implementación.</li>
  
    <li>La tiempo con el que se cuenta es poco. Manejaremos este problema
    planeando una aplicación conservadoramente funcional y otras
    funcionalidades serán añadidas después en futuras versiones si es necesario.
    </li>
   </ol>
  </dd>

 
  <dt>¿Cuáles son las principales recompensas si este proyecto tiene éxito?</dt>

  <dd class="sample1">Si logramos con éxito los elementos de nuestro plan, nuestro 
  sitio de directorio de clanes website reemplazará a los directorios actuales
  y generará trafico que nos reportará ingresos por conceptos de publicidad de 
  anunciantes y/o cuotas de hosteo pagadas por los distribuidores de videojuegos. Nuestra habilidad para 
  superar los obstáculos mencionados arriba determinará tiempos de mercadeo, velocidad de 
  adopción, cantidad de tráfico web, y por consiguiente el beneficio económico 
  proyectado.</dd>
 </dl>



 <a name="projectplan"></a>
 <h3>Plan del Proyecto</h3>

 <p>Vea el borrador anexo del <a href="plan.html">plan del proyecto</a> y los <a
 href="resource-needs.html">recursos necesarios para el proyecto</a>.</p>

 <div class="sticky">
  TAREAS: Revisar las <a
  href="http://readyset.tigris.org/words-of-wisdom/overview.html">notas de 
  sabiduría</a> y discutir formas de mejorar esta plantilla.
 </div>



<div class="legal1">Compañía Propietaria</div>

<div class="footnote">
 Copyright &#169; 2003 Jason Robbins.  Todos los derechos reservados. <a href="readyset-license.html">Términos de la Licencia</a>.
 Mantenga esta leyenda derechos donde utilice este archivo como 
 plantilla - Traducción al español por <a href="http://www.interplanet.com.mx">Interplanet</a>, México, D.F.
</div>

</div>
</body>
</html>
