<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//Tigris//DTD XHTML 1.0 Transitional//EN"
"http://style.tigris.org/tigris_transitional.dtd">
<html>
<head>
 <style type="text/css">
/* <![CDATA[ */ 
@import "css/readyset.css"; 
@import "css/inst.css";
/*  ]]> */
 </style>

<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
 <title>Lista de Pendientes de la Entrega</title>
</head>

<body>
 <h2>Lista de Pendientes de la Entrega</h2>

 <div class="app">
 <div class="readyset">

 <div class="sticky">
  TAREAS: Para cada entrega, copie este archivo y conteste las preguntas.  En los casos donde
  existan múltiples respuestas ya escritas, elimine aquellas respuestas que no apliquen.
 </div>

 <a name="releaseinfo"></a>
 <h3>Información de la versión</h3>
 <div class="axial">
 <table border="1" cellpadding="3" cellspacing="2">
  <tr>
   <th>Projecto:</th> 
   <td>NOMBREDELPROYECTO</td> 
  </tr>
  <tr>
   <th>Número Interno de Versión:</th> 
   <td>X.Y.Z</td> 
  </tr>
  <tr>
   <th>Número Externo de Versión:</th> 
   <td>X.Y.Z</td> 
  </tr>
  <tr>
   <th>Audiencia de la Entrega:</th> 
   <td>
    <div>Disponibilidad general de la entrega</div>
    <div>Entrega para clientes específicos: CLIENTE(S)</div>
    <div>Entrega para desarrolladores (Uso interno únicamente)</div>
    <div>Entrega preliminar (Acceso externo controlado)</div>
   </td> 
  </tr>
 </table>
 </div>

 <a name="processimpact"></a>
 <p class="readonly"><strong>Impacto del proceso:</strong> El proceso de 
 realizar esta lista de pendientes ayuda a descubrir cualquier preocupación existente
 antes de la entrega, y sirve para recordar a los inversionistas internos de sus
 responsabilidades por venir.  Una vez que esta lista de pendientes ha sido satisfecha,
 esta entrega puede ser enviada a producción y ser vendida a clientes con
 todo el soporte de la organización.</p>

 <p></p>
 <div class="sticky">
   TAREAS: Discuta cada elemento con el inversionista involucrado y actualice
   su estado.  Añada comentarios según necesite para documentar decisiones importantes
   o haga ligas a los documentos que se generen. Añada nuevos elementos para su
   proyecto o proceso en particular.  Cualquier problema o tarea no cubierto/a 
   debería ser seguida desde control de cambios.
 </div>


 
 <a name="marketing"></a>
 <h3>Mercadotecnia / Manejo de Producto</h3>

 <table border="1" cellpadding="3" cellspacing="2" width="100%">
  <tr>
   <th>Elemento</th> 
   <th>Estado</th> 
   <th>Comentarios</th> 
  </tr>

  <tr>
   <td>Todos los nuevos requirimientos para esta entrega han sido analizados</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>Todos los defectos anteriores que necesitaban solución en esta entrega han sido analizados</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>Todos los documentos de mercadotecnia han sido actualidos</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>Mercadotecnia / Manejo de Producto está satisfecho con esta entrega</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
 </table>



 <a name="development"></a>
 <h3>Desarrollo</h3>

 <table border="1" cellpadding="3" cellspacing="2" width="100%">
  <tr>
   <th>Elemento</th> 
   <th>Estado</th> 
   <th>Comentarios</th> 
  </tr>

  <tr>
   <td>Todo el trabajo de diseño ha sido terminado</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>Todo el trabajo de diseño ha sido revisado</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>Todo el trabajo de desarrollo ha sido terminado</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>Todo el trabajo de desarrollo ha sido revisado</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>Todos lso defectos asignados a esta entrega han sido reparados</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>toda la documentación de desarrollo ha sido actualizada</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>Todas las pruebas unitarias de código han sido actualizadas</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>El equipo de desarrollo está satisfecho con esta entrega</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
 </table>


 
 <a name="qa"></a>
 <h3>Aseguramiento de la Calidad</h3>

 <table border="1" cellpadding="3" cellspacing="2" width="100%">
  <tr>
   <th>Elemento</th> 
   <th>Estado</th> 
   <th>Comentarios</th> 
  </tr>

  <tr>
   <td>El plan de QA y los casos de prueba han sido actualzados</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>El plan de QA ha sido completamente implementado</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>Todos los defectos descubiertos han sido analizados</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>Todos los defectos reparados han sido verificados y reparados</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>El equipo de QA está satisfecho con esta entrega</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
 </table>


 <a name="releng"></a>
 <h3>Ingeniería de la Entrega / Configuración de la Administración</h3>

 <table border="1" cellpadding="3" cellspacing="2" width="100%">
  <tr>
   <th>Elemento</th> 
   <th>Estado</th> 
   <th>Comentarios</th> 
  </tr>

  <tr>
   <td>Todos los componentes han sido etiquetados apropiadamente para esta entrega y
   la configuración de la entrega está claramente definida</td>
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>Se han seguido las prácticas de control de cambios, lo que significa que el
   producto entregado no contiene cambios sin aprovación</td>
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>El equipo de Ingeniería de la Entrega esta satisfecho con esta entrega</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
 </table>


 
 <a name="ue"></a>
 <h3>Experiencia del Usuario</h3>

 <table border="1" cellpadding="3" cellspacing="2" width="100%">
  <tr>
   <th>Elemento</th> 
   <th>Estado</th> 
   <th>Comentarios</th> 
  </tr>

  <tr>
   <td>Se ha juzgado que alguna funcionalidad nueva o modificada sea útil</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>La documentación impresa y en línea ha sido actualizada</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>El equipo de UE está satisfecho con esta entrega</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
 </table>


 
 <a name="support"></a>
 <a name="ops"></a> 
 <h3>Soporte Técnico / Operaciones</h3>

 <table border="1" cellpadding="3" cellspacing="2" width="100%">
  <tr>
   <th>Elemento</th> 
   <th>Estado</th> 
   <th>Comentarios</th> 
  </tr>

  <tr>
   <td>El documento de teoría de operaciones ha sido actualizado</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>Soporte técnico / Operaciones ha instalado, actualizado,
   y usado con éxito esta entrega</td>
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>Cualquier programa en "Acceso temprano" o "Beta" a sido conducido con éxito
   y todos los pendientes han sido documentados</td>
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>El impacto de cualquier cambio en las ofertas de operación ha sido
   identificado y analizado</td>
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>La guía de solución de problemas ha sido actualizada</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>Los equipos de soporte técnico / operaciones están satisfechos con esta entrega</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
 </table>


 
 <a name="services"></a>
 <a name="training"></a>
 <h3>Servicios / Capacitación</h3>

 <table border="1" cellpadding="3" cellspacing="2" width="100%">
  <tr>
   <th>Elemento</th> 
   <th>Estado</th> 
   <th>Comentarios</th> 
  </tr>

  <tr>
   <td>Servicios / Capacitación a tenido acceso a esta entrega</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>El impacto de cualquier cambio en la oferta de servicios ha sido
   identificada y analizada</td>
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>El material de cpacitación ha sido actualizado</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>Servicios / Capacitación está satisfecho con esta entrega</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
 </table>


 
 <a name="legal"></a>
 <h3>Jurídico</h3>

 <table border="1" cellpadding="3" cellspacing="2" width="100%">
  <tr>
   <th>Elemento</th> 
   <th>Estado</th> 
   <th>Comentarios</th> 
  </tr>

  <tr>
   <td>Los riesgos legales asociados con esta entrega han sido identificados y actualizados</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>Tenemos las licencias adecuadas para todos los componentes reusados y la propiedad intelectual</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>Estamos en regla con todas las leyes y regulaciones relevantes (por ejemplo, de exportación, de seguridad, etc.)</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
  <tr>
   <td>El equipo jurídico está satisfecho con esta entrega</td> 
   <td class="sample1">Pendiente</td> 
   <td class="sample1"></td> 
  </tr>
 </table>

 <div class="tier2">
 <h4>Posibles valores del estado</h4>
 <ul>
  <li>Pendiente: aún hay trabajo por hacer</li>
  <li>N/A: Este elemento no aplica</li>
  <li>Ignorado: Este elemento podría aplicar, pero los inversionistas lo consideran poco relevante</li>
  <li>Terminado: Los inversionistas acuerdan que el elemento ha sido completado satisfactoriamente</li>
  <li>Fallo: Este elemento no ha forzado a abandonar esta entrega</li>
 </ul>
 </div>

 <div class="sticky">
   SUGERENCIA: Si un inversionista encuentra dificultades con esta entrega después de
   su liberación, añada esos problemas en la plantilla de la lista de pendientes para que así
   todos conozcan que serán administrados explícitamente en la siguiente
   entrega.  Haga una <a href="postmortem.html">Revisión Postmortem</a>
   para ayudar a exponer las dificultades en lugar de repetirlas.
 </div>

 <div class="sticky">
   SUGERENCIA: Tal vez desee considerar algunos de los siguientes grupos de inversionistas
   en su organización: Otros grupos de ingeniería (por ejemplo,
   diseño de hardware), Producción y Embarque, Mejora de Procesos de Software,
   Clientes Clave y Socios, Desarrolladores Externos, Administración de
   Riesgos, Desarrollo del Negocio y Alta Gerencia, entre otros.
 </div>

 <div class="sticky">
  TAREAS: Revisar las <a
  href="http://readyset.tigris.org/words-of-wisdom/overview.html">notas de 
  sabiduría</a> y discutir formas de mejorar esta plantilla.
  
 </div>


<div class="legal1">Compañía Propietaria</div>

<div class="footnote">
 Copyright &#169; 2003 Jason Robbins.  Todos los derechos reservados. <a href="readyset-license.html">Términos de la Licencia</a>.
 Mantenga esta leyenda derechos donde utilice este archivo como 
 plantilla - Traducción al español por <a href="http://www.interplanet.com.mx">Interplanet</a>, México, D.F.
</div>

</div>
</body>
</html>
