<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//Tigris//DTD XHTML 1.0 Transitional//EN"
"http://style.tigris.org/tigris_transitional.dtd">
<html>
<head>
 <style type="text/css">
/* <![CDATA[ */ 
@import "css/readyset.css"; 
@import "css/inst.css";
/*  ]]> */
 </style>

<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
 <title>NOMBREDEPRODUCTO X.Y.Z: Notas de la Versión</title>
</head>

<body>
 <h2>NOMBREDEPRODUCTO X.Y.Z: Notas de la Versión</h2>

<div class="app">
<div class="readyset">

 <div class="sticky">
  TAREAS: Para cada entrega copie este archivo y lléne la
  información necesaria.
 </div>

 <div class="sticky">
  NOTA: Asegúrese de usar el nombre del <strong>producto</strong> y
  el número <strong>externo</strong> de versión, no la información interna.
 </div>

 <a name="releaseinfo"></a>
 <h3>Información de Entrega del Producto</h3>
 <div class="axial">
 <table border="1" cellpadding="3" cellspacing="2">
  <tr>
   <th>Producto:</th> 
   <td>NOMBREDELPRODUCTO</td> 
  </tr>
  <tr>
   <th>Número de versión:</th> 
   <td>
     X.Y.Z
   </td> 
  </tr>
  <tr>
   <th>Fecha de Liberación:</th> 
   <td>
     DÍA/MES/AÑO
   </td> 
  </tr>
  <tr>
   <th>Soporte a Clientes:</th> 
   <td class="sample1">Para más información o soporte, por favor visite nuestro 
      <a href="http:www.COMPANY.com/products/PRODUCTNAME/">sitio web</a>
       o escríbanos un e-mail
       <a href="mailto:soporte@COMPANIA.com">soporte@COMPANIA.com</a>
   </td> 
  </tr>
 </table>
 </div>


 <a name="introduction"></a>
 <h3>Introducción</h3>

 <p>Este documento contiene las notas de entrega para la versión
 X.Y.Z. de PRODUCTO. Las siguientes secciones describen en detalle la entrega y
 proveen información de última hora y otros datos que complementan
 la documentación principal.</p>

 <div class="sticky">
  TAREAS: Considere en usar uno de los siguientes párrafos.
 </div>

 <p class="sample1">Esta es una versión de desarrollo únicamente para evaluación interna .  Por favor
 reporte cualquier problema utilizando el sistema de control de cambios.</p>

 <p class="sample2">Esta es una versión previa para evaluación y uso para socios
 seleccionados.  Su retroalimentación es importante para nosotros, por favor ayúdenos a hacer de este
 el mejor producto posible.</p>

 <p class="sample3">Esta es una versión previa para evaluación y uso público.
 Su retroalimentación es importante para nosotros, por favor ayúdenos a hacer de este
 el mejor producto posible.  Recuerde que seguimos trabajando en
 este producto y que podría cambiar en el futuro.</p>

 <p class="sample4">Este es la primer entrega completa de este producto.  Visite el sitio web del producto
 para una descripción completa.</p>

 <p class="sample1">(CUANDO EL NÚMERO X EN LA VERSIÓN CAMBIA) Esta es una entrega mayor con
 muchas nuevas características.  Los usuarios de entregas anteriores deberían de revisar la sección de
 "Compatibilidad de Versión" más abajo por instrucciones en cómo usar la
 información existente con esta nueva versión.</p>

 <p class="sample2">(CUANDO EL NÚMERO Y EN LA VERSIÓN CAMBIA) Esta es una actualización con
 algunas correcciones importantes.  Los usuarios de entregas anteriores deberían de
 actualizar su sistema.</p>

 <p class="sample3">(CUANDO EL NÚMERO Z EN LA VERSIÓN CAMBIA) Esta es una entrega de mantenimiento
 que mejora la calidad, confiabilidad y desempeño sin añadir
 ninguna nueva funcionalidad.  Todos los usuarios de las entregas X.Y anteriores deberían actualizarse
 a esta nueva entrega.</p>
 
 <p class="sample4">(CUANDO LA CORRECCIÓN DE UN ERROR CIERRA AGUJEROS DE SEGURIDAD IMPORTANTES) Esta es
 una actualización crítica que resuelve agujeros de seguridad recientemente
 descubiertos.  Todos los usuarios de las entregas X.Y anteriores deberían actualizarse
 inmediatamente a esta entrega.</p>
 



 <a name="whatsnew"></a>
 <h3>Novedades</h3>

 <div class="sticky">
  TAREAS: Ennumere brevemente las mejoras visibles al usuario más importantes. O anote que
  no ha habido cambios importantes.  Los problemas técnicos deberán ser mencionados solo
  si este es un componente de software reutilizable que será
  usado para construir productos más grandes. No incluya números de problemas.
  Las ligas a información detallada pueden ser muy útiles.
 </div>

 <div class="sample1">
 <ul>
  <li>Se añadieron 4 nuevos modos de reproducción</li>

  <li>La velocidad de reproducción se ha incrementado hasta un 30%</li>

  <li>(SOLO PARA COMPONENTES REUTILIZABLES) Proceso de compilado delineado</li>

  <li>(SOLO PARA COMPONENTES REUTILIZABLES) Se ha casi duplicado la covertura de pruebas unitarias</li>

  <li>Muchas mejoras a la calidad, confiabilidad, facilidad de
  uso y desempeño. Vea "Cambios Recientes" abajo para más detalles.</li>
 </ul>

 <p>Se han hecho muchas mejoras a la calidad del producto.  Vea
 ""Cambios Recientes" abajo para más detalles.</p>
 </div>



 <a name="installation"></a>
 <h3>Notas para Instalación y Actualización</h3>

 <div class="sticky">
  TAREAS: Llene las siguientes secciones. El texto que se encuentra ahí es solo de ejemplo
 </div>

 <div class="sample1">
 <p>Vea las <a href="install.html">instrucciones de instalación</a> para
 más detalles.  Por favor observe que en esta entrega, ...</p>

 <p>IMPORTANTE: Debe desinstalar por completo cualquier versión previa de "desarrollo",
 o "de prueba" de este producto antes de instalar esta
 versión.</p>

 <p><strong>Manifesto.</strong> Esta netrega consiste de los siguientes
 elementos:</p>
 <ul>
  <li>Notas de la versión (este archivo)</li>
  <li>Instrucciones de instalación / Guía de inicio rápido</li>
  <li>Programa de instalación</li>
  <li>Guía del usuario</li>
  <li>Código fuente del producto e instrucciones de compilación</li>
 </ul>
 

 <p><strong>Requerimientos Mínimos del Sistema.</strong></p>
 <div class="axial">
  <table border="1" cellpadding="3" cellspacing="2">
   <tr><th>Precesador de Sistema:</th><td>800MHz</td></tr>
   <tr><th>Memoria de Sistema:</th><td>256MB</td></tr>
   <tr><th>Espacio Libre en Disco:</th><td>10MB</td></tr>
   <tr><th>Sistema Operativo:</th><td>Windows 2000, Windows XP, Mac OS X, Linux (kernel 2.4)</td></tr>
   <tr><th>Acceso a Red:</th><td>Acceso a Internet</td></tr>
   <tr>
    <th>Software Existente:</th>
    <td>
     <div>Cliente de correo estándar</div>
     <div>Navegador web popular (IE6, NN7)</div>
     <div>SuperWaveEdit(TM) 2.0.2 (Necesario para modos de reproducción personalizados)</div>
    </td>
   </tr>
  </table>
 </div>

 
 <p><strong>Compatibilidad de Versiones.</strong> Los archivos guardados por versiones
 previas de este producto pueden ser usadas con esta versión.  Sin embargo,
 los archivos de audio guardados en la versión W.Y.Z beden ser actualizados usando
 la utilería WaveUpgrade.</p>
 </div>




 <a name="recentchanges"></a>
 <h3>Cambios Recientes</h3>
 <div class="sticky">
  TAREAS: Consulte con su sistema público de control de cambios para producir un reporte
  de cambios en esta entrega.  INcluya el número del problema, tipo y
  un resumen de una línea.  Incluya problemas que fueron destacados en la
  sección "Novedades" más arriba.  Puede revisar los resúmenes de una sola línea en
  el administrador de control de cambios antes de generar el reporte si nota
  que son incorrectos.  Puede excluir o resumir los cambios
  que puedan divulgar información confidencial de valor.
 </div>

 <ul class="sample1">
  <li>REPARADO <a href="#">09823</a> La pantalla se congela cuendo caps-lock está encendido</li>
  <li>REPARADO <a href="#">09912</a> Se escucha estática mientras se descarga</li>
  <li>REPARADO <a href="#">10923</a> El modo de repetición no puede reproducir más de 99 veces</li>
  <li>MEJORA <a href="#">08237</a> Modo de escratcheo para DJ</li>
  <li>MEJORA <a href="#">08238</a> Modo DJ Chill</li>
  <li>MEJORA <a href="#">08259</a> Modo retro stereo</li>
  <li>MEJORA <a href="#">10202</a> Modo Techno</li>
 </ul>




 <a name="knownproblems"></a>
 <h3>Problemas Conocidos y Soluciones</h3>
 <div class="sticky">
  TAREAS: Consulte con su sistema público de control de cambios para generar un reporte
  de los defectos descubiertos en esta entrega o en entregas previas que aún
  no son resueltos. Incluya la información para solucionarlos.
  De otra forma, haga lo mismo que arriba.
 </div>

 <ul class="sample1">
  <li>ERROR <a href="#">07293</a> El reproductor salta en canciones con volumen muy alto.
   <ul>
    <li>SOLUCIÓN: Limite la configuración de volumen de 1 a 9.</li>
   </ul>
  </li>
  <li>ERROR <a href="#">10509</a> No es posible cambiar directamente del modo de reproducción aleatoria
  a lista de Internet.
   <ul>
    <li>SOLUCIÓN: Cambie a lista de reproducción local primero.  Haga click <a
   href="#">aquí</a> para instrucciones detalladas.</li>
   </ul>
  </li>
  <li>ERROR <a href="#">10589</a> Se escucha estática mientras inicia</li>
  <li>ERROR <a href="#">10944</a> El modo de repetición no puede reproducir más de
  999 veces</li>
 </ul>

 <div class="sticky">
  TAREAS: Revisar las <a
  href="http://readyset.tigris.org/words-of-wisdom/overview.html">notas de 
  sabiduría</a> y discutir formas de mejorar esta plantilla.
  
 </div>


<div class="legal1">Compañía Propietaria</div>

<div class="footnote">
 Copyright &#169; 2003 Jason Robbins.  Todos los derechos reservados. <a href="readyset-license.html">Términos de la Licencia</a>.
 Mantenga esta leyenda derechos donde utilice este archivo como 
 plantilla - Traducción al español por <a href="http://www.interplanet.com.mx">Interplanet</a>, México, D.F.
</div>

</div>
</body>
</html>
