<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//Tigris//DTD XHTML 1.0 Transitional//EN"
"http://style.tigris.org/tigris_transitional.dtd">
<html>
<head>
 <style type="text/css">
/* <![CDATA[ */ 
@import "css/readyset.css"; 
@import "css/inst.css";
/*  ]]> */
 </style>

<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
 <title>Recursos Necesarios para el Proyecto</title>
</head>

<body>
<div class="app">
<div class="readyset">
 <h2><a href="plan.html">Plan</a> &gt; Recursos Necesarios para el Proyecto</h2>

 <a name="projectinfo"></a>
 <h3>Información del Proyecto</h3>
 <div class="axial">
 <table border="1" cellpadding="3" cellspacing="2">
  <tr>
   <th>Projecto:</th> 
   <td>NOMBREDELPROYECTO</td>
  </tr>
  <tr>
   <th>Número Interno de Versión:</th> 
   <td>X.Y.Z</td>
  </tr>
  <tr>
   <th>Ventana de tiempo para el proyecto:</th> 
   <td>FECHADEINICIO - FECHADEFIN</td>
  </tr>
  <tr>
   <th>Documentos Relacionados:</th> 
   <td>
    <div><a href="proposal.html">Propuesta del proyecto</a></div>
    <div><a href="plan.html">Plan del proyecto</a></div>
    <div><a href="qa-plan.html">Plan de QA (Aseguramiento de la Calidad)</a></div>
    <div><a href="sdm.html">Metodología de desarrollo de software</a></div>
    <div><a href="glossary.html">Glosario de términos</a></div>
   </td>
  </tr>
 </table>
 </div>

 <a name="processimpact"></a>
 <p class="readonly"><strong>Impacto del Proceso:</strong> 
 Basado en el plan del proyectoy la tabla que se encuentra abajo, 
 este proyecto necesitará los siguientes recursos
 para lograr sus objetivos.  Si los recursos disponibles son menores,
 el alcance de la entrega deberá ser reconsiderado o el proceso
 cambiado.</p>



 <div class="sticky">
  TAREAS: Llene la información que se le pide arriba y abajo.  Añada o remueva renglones según
  necesite. Use la tabla para identificar y medir los recursos necesarios
 </div>

 <div class="sticky">
  NOTA: Estas líneas son solo ejemplos.  El esfuerzo total listado en este ejemplo puede no
  concordar con los totales dados en los ejemplos
  de los otros documentos.
 </div>

 <a name="humanresources"></a>
 <h3>Necesidades de Recursos Humanos</h3>
 <table border="1" cellpadding="3" cellspacing="2" width="100%">
  <tr>
   <th>Necesidad</th> 
   <th>Recurso</th> 
   <th>Cantidad</th> 
   <th>Estado</th> 
   <th>Comentarios/Responsabilidades</th> 
  </tr>
  <tr>
   <td>Administración del Proyecto</td>
   <td>NOMBREDELAPERSONA</td>
   <td>20 horas</td>
   <td>Pendiente</td>
   <td></td>
  </tr>
  <tr>
   <td>Requerimientos</td>
   <td>NOMBREDELAPERSONA</td>
   <td>20 horas</td>
   <td>Asignada</td>
   <td></td>
  </tr>
  <tr>
   <td>Requerimientos</td>
   <td>NOMBREDELAPERSONA, NOMBREDELAPERSONA, NOMBREDELAPERSONA</td>
   <td>10 horas</td>
   <td>Asignadas</td>
   <td></td>
  </tr>
  <tr>
   <td>Consultoría y dominio experto</td>
   <td>NOMBREDELAPERSONA</td>
   <td>2 horas</td>
   <td>Pendiente</td>
   <td></td>
  </tr>
  <tr>
   <td>Consultoría con experto en el tema</td>
   <td>NOMBREDELAPERSONA</td>
   <td>4 horas</td>
   <td>Pendiente</td>
   <td></td>
  </tr>
  <tr>
   <td>Capacitación en el uso de un componente/tecnología</td>
   <td>NOMBREDELAPERSONA</td>
   <td>8 horas</td>
   <td>Asignadas</td>
   <td></td>
  </tr>
  <tr>
   <td>Diseño General</td>
   <td>NOMBREDELAPERSONA, NOMBREDELAPERSONA, NOMBREDELAPERSONA</td>
   <td>20 horas</td>
   <td>Asignadas</td>
   <td></td>
  </tr>
  <tr>
   <td>Diseño Detallado de la Interfaz para Usuario</td>
   <td>NOMBREDELAPERSONA</td>
   <td>5 horas</td>
   <td>Pendiente</td>
   <td></td>
  </tr>
  <tr>
   <td>Diseño Detallado de la Base de Datos</td>
   <td>NOMBREDELAPERSONA</td>
   <td>5 horas</td>
   <td>Pendiente</td>
   <td></td>
  </tr>
  <tr>
   <td>Desarrollo</td>
   <td>NOMBREDELAPERSONA, NOMBREDELAPERSONA, NOMBREDELAPERSONA</td>
   <td>40 horas</td>
   <td>Asignadas</td>
   <td></td>
  </tr>
  <tr>
   <td>Desarrollo</td>
   <td>NOMBREDELAPERSONA, NOMBREDELAPERSONA</td>
   <td>80 horas</td>
   <td>Asignadas</td>
   <td></td>
  </tr>
  <tr>
   <td>Desarrollo</td>
   <td>NOMBREDELAPERSONA</td>
   <td>20 horas</td>
   <td>Pendiente</td>
   <td></td>
  </tr>
  <tr>
   <td>Documentación Técnica</td>
   <td>NOMBREDELAPERSONA, NOMBREDELAPERSONA</td>
   <td>10 horas</td>
   <td>Asignadas</td>
   <td></td>
  </tr>
  <tr>
   <td>Planeación de QA</td>
   <td>NOMBREDELAPERSONA</td>
   <td>10 horas</td>
   <td>Asignadas</td>
   <td></td>
  </tr>
  <tr>
   <td>Pruebas de QA</td>
   <td>NOMBREDELAPERSONA, NOMBREDELAPERSONA, NOMBREDELAPERSONA</td>
   <td>40 horas</td>
   <td>Asignadas</td>
   <td></td>
  </tr>
  <tr>
   <td>Control de Cambios y Liberación</td>
   <td>NOMBREDELAPERSONA</td>
   <td>4 horas</td>
   <td>Asignadas</td>
   <td></td>
  </tr>
 </table>


 <a name="capitalneeds"></a> 
 <h3>Necesidades Primarias</h3>
 <table border="1" cellpadding="3" cellspacing="2" width="100%">
  <tr>
   <th>Necesidad</th> 
   <th>Fuente</th> 
   <th>Cantidad</th> 
   <th>Estado</th> 
   <th>comentarios</th> 
  </tr>
  <tr>
   <td>Materiales de Entrenamiento</td>
   <td>Libro/Curso en una tecnología específica</td>
   <td>1</td>
   <td>Localizado</td>
   <td>Libro solicitado</td>
  </tr>
  <tr>
   <td>Estaciones de Trabajo para Desarrollo</td>
   <td>PC 800MHz, 256MB RAM</td>
   <td>4</td>
   <td>Cumplen</td>
   <td>El grupo de desarrollo utilizará equipo existente</td>
  </tr>
  <tr>
   <td>Servidor de DB para Desarrollo</td>
   <td>PC CPU Dual 1GHz, 512MB RAM: NOMBREDELSERVIDOR.empresa.com</td>
   <td>1</td>
   <td>Localizado</td>
   <td></td>
  </tr>
  <tr>
   <td>Estaciones de Trabajo para pruebas</td>
   <td>PC 800MHz, 256MB RAM</td>
   <td>2</td>
   <td>Localizado</td>
   <td></td>
  </tr>
  <tr>
   <td>Servidor de Prueba</td>
   <td>PC 800MHz, 256MB RAM: NOMBREDELSERVIDOR.empresa.com</td>
   <td>1</td>
   <td>Pendiente</td>
   <td></td>
  </tr>
  <tr>
   <td>Clients para Carga de Prueba</td>
   <td>PC o Macintosh 500MHz, 128MB RAM</td>
   <td>4</td>
   <td>Cumplen</td>
   <td>El grupo de QA usará estos equipos</td>
  </tr>
  <tr>
   <td>Esclavo para Pruebas Automáticas</td>
   <td>PC 800MHz, 256MB RAM: NOMBREDELSERVIDOR.empresa.com</td>
   <td>1</td>
   <td>Cumple</td>
   <td>El grupo de QA usará este equipo que ya existe</td>
  </tr>
  <tr>
   <td>Servidor de Pruebas para DB</td>
   <td>PC CPU Dual 1GHz, 512MB RAM: NOMBREDELSERVIDOR.empresa.com</td>
   <td>1</td>
   <td>Rechazado</td>
   <td>El grupo de desarrollo utilizará el servidor de desarrollo para DB</td>
  </tr>
  <tr>
   <td>Licencias de IDE</td>
   <td>Licencias de desarrollo estándar</td>
   <td>N/A</td>
   <td>Cumple</td>
   <td>Utilizaremos herramientas de open source</td>
  </tr>
  <tr>
   <td>Licencias de SCM</td>
   <td>Licencias de desarrollo estándar</td>
   <td>N/A</td>
   <td>Cumple</td>
   <td>Utilizaremos herramientas de open source</td>
  </tr>
  <tr>
   <td>Licencias de Herramientas para Pruebas</td>
   <td>Licencias de desarrollo estándar</td>
   <td>N/A</td>
   <td>Cumple</td>
   <td>Utilizaremos herramientas de open source</td>
  </tr>
  <tr>
   <td>Licencias para DB</td>
   <td>Licencias de desarrollo estándar</td>
   <td>6</td>
   <td>Pendiente</td>
   <td></td>
  </tr>
  <tr>
   <td>Licencias para DB</td>
   <td>Licencias para Producción</td>
   <td>Para 4 CPUs</td>
   <td><div>2 Pendientes</div><div>2 Rechazadas</div></td>
   <td>El grupo de desarrollo utilizará el servidor de desarrollo para DB y hará pruebas fuera de horario de producción</td>
  </tr>
  <tr>
   <td>Componentes de Software</td>
   <td>Librería GIS con código fuente</td>
   <td>1</td>
   <td>Pendiente</td>
   <td>Tarifa única, aprox. USD $10,000</td>
  </tr>
  <tr>
   <td>Componentes de Software</td>
   <td>Librería para encriptación</td>
   <td>1</td>
   <td>Pendiente</td>
   <td>Tarifa de uso compartida del 2%</td>
  </tr>
 </table>

 <div class="tier2">
 <h4>Posibles Valores del Estado</h4>
 <ul>
  <li>Pendiente: la solicitud está esperando una decisión administrativa</li>
  <li>Asignado: la tarea ha sido asignada a una persona el administrador de tareas</li>
  <li>Localizado: solicitud primaria aprobada por administración, pero el recurso no está disponible</li>
  <li>Cumple: la solicitud ha sido satisfecha, y el recurso está disponible</li>
  <li>Rechazado: la solicitud no será atendida, el plan deberña ajustarse a trabajar sin este recurso</li>
 </ul>
 </div>


 <a name="checklist"></a> 
 <h3>Lista de Recursos Necesarios</h3>

 <p>El objetivo de esta lista es ayudar a identificar necesidades que
 podrían de otra forma ser ignorados.  Esta lista no afecta el número estimado
 de horas necesarias.  Ese estimado debería estar basado en el 
 plan del proyecto.</p>

 <div class="sticky">
  TAREAS: Responsa a las pregunta a continuación. Si existen respuestas mútliples,
  <a class="def" href="glossary-std.html#chipaway">esculpa</a>
  las que no apliquen.  Edite cualquier respuesta segñun sea necesario.
  Use este ejercicio para ayudarse a llenar las tablas arriba.
 </div>


 <dl>

  <dt>¿Este proyecto necesita más de unos cuantos días de trabajo?</dt>
  <dd>Sí. Se necesita un director de proyecto para administrar el proyecto.</dd>
  <dd>No.  Los desarrolladores pueden manejarlo solos.</dd>

  <dt>¿Los requerimientos ya se encuentran completamente definidos y validados?</dt>
  <dd>Sí.  No es necesario más tiempo para requerimientos.</dd>
  <dd>No.  Es necesario trabajar más en los requerimientos.</dd>

  <dt>¿Qué aspectos del sistema necesitan ser diseñados?</dt>
  <dd>Diseño general.  Se necesita de apoyo del Grupo de Desarrollo.</dd>
  <dd>Interfaz del Usuario.  Se necesita de apoyo del diseñador de UI y del experto en la materia.</dd>
  <dd>Diseño de Base de Datos.  Se ncesita de apoyo del Desarrollador y del DBA.</dd>
  <dd>Diseño de Seguridad.  Se necesita de apoyo del Desarrolladore y del experto en la materia.</dd>
  <dd>Otros diseños.  Se necesita apoyo del Diseñados y de expertos en la materia.</dd>

  <dt>¿Este plán de proyecto incluye algún nuevo desarrollo?</dt>
  <dd>Sí. Se necesitan apoyos para Desarrollo.</dd>
  <dd>No. No se necesitan más desarrolladores</dd>

  <dt>¿El plan de proyecto incluye configuraciones complejas de componentes
  existentes?</dt>
  <dd>Sí. Es necesario conocimiento experto en componentes. También es necesario tiempo para coordinarlo
  con los equipos de desarrollo y operaciones.</dd>
  <dd>No. No se necesita de conocimiento experto en componentes.</dd>

  <dt>¿Todo el equipo de desarrollo conoce todas las herramientas,
  componentes, y tecnologías que serán usadas?</dt>
  <dd>Sí.  No hay necesidad de tiempo para capacitación.</dd>
  <dd>No.  Es necesario capacitar.  Se necesitarán material para capacitación,
  cursos, o tiempo con expertos o tutores.  Liste las necesidades específicas de entrenamiento
  individuales.</dd>

  <dt>¿Todo el equipo de desarrollo está de acuerdo con la la metodología
  de desarrollo de software?</dt>
  <dd>Sí.  No es necesario tiempo para definir una metodología.</dd>
  <dd>Sí, pero es necesario tiempo para definir la metodología del proyecto presente.</dd>
  <dd>No.  Es necesario definir y documentar la metodología y capacitar a 
  los miembros del equipo.  Es necesario además tiempo para ajustes 
  dentro del proyecto.</dd>

  <dt>¿El plan del proyecto incluye documentación para el usuario final?</dt>
  <dd>Sí. Es necesario asignar recursos para esta tarea.</dd>
  <dd>No. </dd>

  <dt>¿Cuál es la complejidad de la documentación interna?</dt>
  <dd>Importante. Es necesario asignar recursos para esta tarea.</dd>
  <dd>Normal. Los desarrolladores pueden producir documentos técnicos mientras trabjan.</dd>

  <dt>¿Tendrán los grupos de soportre, capacitación, operaciones o servicios que trabajar con
  el producto de este proyecto?</dt>
  <dd>Sí. Debe capacitarse a las personas en esos grupos.</dd>
  <dd>No, pero otros desarrolladores necesitarán entrenamiento para reutilizar estos componentes.</dd>
  <dd>No.  Concentrarnos en producir buena documentación técnica deberá
  será suficiente.</dd>

  <dt>¿El producto de este proyecto será vendido directa o inderectamente a sus clientes?</dt>
  <dd>Sí.  Todo el SDM debe ser seguido, incluyendo iniciativas por un
  grupo de control de cambios e ingeniería de control de versiones.</dd>
  <dd>No, es para uso interno únicamente pero será usado repetidamente
  para ayudar a contruir un producto de venta.  Control de Versiones y Control de Cambios
  aún son necesarios.dd>
  <dd>No, es para uso interno únicamente y solo será utilizado una sola vez.
  Control de versiones y CCB no son necesarios.</dd>

  <dt>¿El plan de QA incluye correr pruebas automatizadas?</dt>
  <dd>Sí.   Será necesario que desarrollo implemente unidades automatizadas
  para pruebas.</dd>
  <dd>No.  Será necesario que QA realice las pruebas manualmente.</dd>

  <dt>¿El plan de QA plan necesita algo extra a las pruebas automatizadas?</dt>
  <dd>Sí.  Es necesario más trabajo por parte de QA.</dd>
  <dd>No.  Las unidades de prueba serán más que suficientes para este componente, un análisis completo de QA puede
  ser realizado con los productos que usen este componente.</dd>




  <dt>¿Cuántas estaciones de trabajo para desarrollo se necesitarán?</dt>
  <dd>1 por desarrollador. </dd>
  <dd>1 por desarrollador, además de... </dd>

  <dt>¿Cuántos servidores para desarrollo serán necesarios?</dt>
  <dd>Ninguno. </dd>
  <dd>Uno para cada el equipo.</dd>
  <dd>Uno para cada aspecto del desarrollo, otro para otro aspecto.</dd>
  <dd>Uno para una rama del desarrollo, otro para otra rama.</dd>

  <dt>¿Que servidores de base de datos se necesitarán?</dt>
  <dd>Ninguno. No se está trabajando con bases de datos.</dd>
  <dd>Ninguno. La base de datos está integrada en el producto y no requiere un
  servidor aparte.</dd>
  <dd>Uno para todo el equipo.</dd>
  <dd>Uno para desarrollo, una para QA.</dd>
  <dd>Uno para una rama de desarrollo, otro para otra rama.</dd>
  <dd>Uno para los desarrolladores, una para QA y otra para pruebas de carga.</dd>
  <dd>Uno para cada desarollador o personal de prueba, y otro adicional para pruebas de carga.</dd>

  <dt>¿Qué equipo se necesita para las pruebas automatizadas?</dt>
  <dd>Ninguno. No se realizarán pruebas automátizadas.</dd>
  <dd>Ninguno. Las pruebas automátizadas se realizarán en las estaciones de trabajo.</dd>
  <dd>Uno para todas las pruebas automatizadas nocturnas.</dd>
  <dd>Uno para cada aspecto de las pruebas nocturnas, otra para otro aspecto.</dd>
  <dd>Uno para cada rama de desarrollo, otra para otrra rama.</dd>

  <dt>¿Qué equipo será necesario para pruebas de carga?</dt>
  <dd>Ninguno. No se realizarán pruebas de carga.</dd>
  <dd>Ninguna. las pruebas de carga se realizarán en las estaciones de trabajo.</dd>
  <dd>Un equipo hará todas las pruebas de carga.</dd>
  <dd>Varios equipos son necesarios para actuar como clientes y servidores.</dd>
  <dd>Un cluster de equipos de prueba de carga para cada rama del desarrollo.</dd>

  <dt>¿Qué herramientas de desarrollo deben ser licenciadas para este proyecto?</dt>
  <dd>Ninguna. Todo es implementado por nosotros.</dd>
  <dd>Ninguna. Todas las herramientas de desarrollo son open-source.</dd>
  <dd>Algunas herramientas: IDE, base de datos, herramientas de pruebas.  Estas herramientas ya han sido
  compradas, instaladas, y configuradas.</dd>
  <dd>Algunas herramientas: IDE, base de datos, herramientas de pruebas.  Debe apartarse presupuesto y 
  buscar proveedores de estas herramientas.  Debe de programarse tiempo para
  investigar y seleccionar herramientas para comprarlas, instalarlas y configurarlas.</dd>

  <dt>¿Qué componentes de software deben ser licenciados para este proyecto?</dt>
  <dd>Ninguno. Todo es implementado por nosotros.</dd>
  <dd>Ninguno. Todos los componentes reusados son open-source.</dd>
  <dd>Algunos componentes: base de datos, software de servidor, librerías. Estos
  componentes ya han sido seleccionados, comprados, instalados, y
  configurados.</dd>
  <dd>Algunos componentes: base de datos, software de servidor, librerías. Debe de programarse
  tiempo para investigar, seleccionar, instalar y configurar estos componentes.
  Debe de apartarse presupuesto para comprarlos.</dd>


  <dt>¿Las asignaciones de personal necesario se encuentran condicionadas de alguna forma?</dt>

  <dd>Sí. Todas estas condiciones están escritas en la columna de comentarios
  arriba. Tenemos un plan de contigencia que aún conseguirá los objetivos del proyecto.</dd>

  <dd>No. Administración ha eliminado estos recursos como se había proyectado, y
  las necesidades de este proyecto tienen prioridad sobre cualquier otro proyecto
  que pueda necesitar los mismos recursos.</dd>


 </dl>

 <div class="sticky">
  TAREAS: Revisar las <a
  href="http://readyset.tigris.org/words-of-wisdom/overview.html">notas de 
  sabiduría</a> y discutir formas de mejorar esta plantilla.
 </div>



<div class="legal1">Compañía Propietaria</div>

<div class="footnote">
 Copyright &#169; 2003 Jason Robbins.  Todos los derechos reservados. <a href="readyset-license.html">Términos de la Licencia</a>.
 Mantenga esta leyenda derechos donde utilice este archivo como 
 plantilla - Traducción al español por <a href="http://www.interplanet.com.mx">Interplanet</a>, México, D.F.
</div>

</div>
</body>
</html>
