<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//Tigris//DTD XHTML 1.0 Transitional//EN"
"http://style.tigris.org/tigris_transitional.dtd">
<html>
<head>
 <style type="text/css">
/* <![CDATA[ */ 
@import "css/readyset.css"; 
@import "css/inst.css";
/*  ]]> */
 </style>

<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
 <title>Especificación de Requerimientos de Software</title>
</head>

<body>
<div class="app">
<div class="readyset">
 <h2>Especificación de Requerimientos de Software (SRS)</h2>

 <a name="releaseinfo"></a>
 <h3>Información de la versión</h3>
 <div class="axial">
 <table border="1" cellpadding="3" cellspacing="2">
  <tr>
   <th>Proyecto:</th> 
   <td>NOMBREDELPROYECTO</td> 
  </tr>
  <tr>
   <th>Número Interno de Versión:</th> 
   <td>X.Y.Z</td> 
  </tr>
  <tr>
   <th>Formas Anexas:</th> 
   <td>
    <div>SRS &gt; <a href="use-case-suite.html">Conjunto de casos de uso</a></div>
    <div>SRS &gt; <a href="feature-set.html">Conjunto de características</a></div>
   </td>
  </tr>
  <tr>
   <th>Documentos Relacionados:</th> 
   <td>
    <div><a href="proposal.html">Propuesta de proyecto</a></div>
    <div><a href="user-needs.html">Conjunto de características</a></div>
    <div>LIGAS A OTROS ESTÁNDARES RELEVANTES</div>
    <div>LIGAS A OTROS DOCUMENTOS</div>
   </td>
  </tr>
 </table>
 </div>


 <a name="processimpact"></a>
 <p class="readonly"><strong>Impacto del proceso:</strong> Especificación de Requerimientos de Software (SRS)
 define de forma precisa el producto de software que se va a construir. Las decisiones
 hechas escribiendo la SRS están basados en información de los documentos de la <a
 href="proposal.html">propuesta del proyecto</a> y <a
 href="user-needs.html">requerimientos del usuario</a>.  El conjunto de requerimientos de SRS
 deben ser satisfechos en el <a
 href="design.html">diseño del sistema</a>.  La SRS es verificada y validada
 por la actividades marcadas en el <a href="qa-plan">plan de QA</a>.
 </p>


 <a name="introducción"></a>
 <h3>Introducción</h3>

 <div class="sticky">
  TAREAS: Proveer un breve resumen de esta entrega del producto. Puede
  copiar el texto de la propuesta del proyecto, pegarla aquí, y resumirlo.
 </div>

 <p>PÁRRAFO</p>

 <p>PÁRRAFO</p>

 <p>Para más información, vea la <a
 href="proposal.html">propuesta del proyecto</a>.</p>


 <a name="usecases"></a>
 <h3>Casos de Uso</h3>

 <p>RESUMEN DE UN PÁRRAFO</p>

 <p>Detalles:</p>
 <ul>
  <li>Los actores son descritos en el documento de <a href="user-needs.html">requerimientos
  del usuario</a>.</li>
  
  <li>El <a href="use-case-suite.html">conjunto de casos de usouse case suite</a> enumera
  los casos de uso en una forma organizada.</li>

 </ul> 


 <a name="functional"></a>
 <h3>Requerimientos Funcionales</h3>

 <p>RESUMEN DE UN PÁRRAFO</p>

 <p>Detalles:</p>
 <ul>
  <li>El <a href="feature-set.html">conjunto de características</a> enumera
   todas las características en una forma organizada.</li>
 </ul>


 <a name="nonfunctional"></a>
 <h3>Requerimientos No-Funcionales</h3>

 <div class="sticky">
  TAREAS: Describa los requerimientos no funcionales para esta entrega.
  Abajo se pueden ver algunos ejemplos.
 </div>

 <dl>

  <dt>¿Cuáles son los requerimientos de usabilidad?</dt>

  <dd class="sample1">
   <p>Nuestro principal criterio para hacer el sistema usable es la dificultad
   de realizar cada caso de uso de alta frecuencia. La dificultad depende de
   el número de pasos, el conocimiento que el usuario debe tener en cada
   paso, las decisiones que el usuario debe realizar en cada paso, y la
   mecánica de cada paso (por ejemplo, escribir el título de un libro de forma exacta es difícil,
   hacer click en una lista es fácil).</p>
  
   <p>La interfaz del usuario deberá ser tan familiar como sea posible a los usuarios
   que han usado otras aplicaciones web y aplicaciones de escritorio en Windows.
   Por ejemplo, seguiremos las guías de la UI para nombrar
   los menus, botones y las cajas de diálogo siempre que sea posible.
   </p>

   <p>PÁRRAFO</p>

   <p>Detalles:</p>

   <ul>
    <li>Los clientes de gobierno exigirán la<a
    href="http://www.section508.gov/">norma section508</a></li>

    <li>Apoyar la comprensibilidad usando principios de <a
    href="http://www.foruse.com/articles/instructive.htm">Interacción 
    Instructiva</a></li>

    <li>El cliente desea una ayuda en línea extensa, pero no ha solicitado
    un manual impreso.</li>

   </ul>
  </dd>


  <dt>¿Cuál es la confiabilidad y los requerimientos de último minuto?</dt>

  <dd class="sample1">
   <p>PÁRRAFO</p>

   <p>PÁRRAFO</p>

   <p>Detalles:</p>

   <ul>
    <li>DETALLE</li>
    <li>DETALLE</li>
    <li>DETALLE</li>
   </ul>
  </dd>


  <dt>¿Cuáles son los requerimientos de precaución?</dt>

  <dd class="sample1">
   <p>PÁRRAFO</p>

   <p>PÁRRAFO</p>

   <p>Detalles:</p>

   <ul>
    <li>DETALLE</li>
    <li>DETALLE</li>
    <li>DETALLE</li>
   </ul>
  </dd>


  <dt>¿Cuáles son los requerimientos de seguridad?</dt>

  <dd class="sample1">
   <p>El acceso será controlado con nombres de usuario y contraseñas.</p>

   <p>solo los usuarios con derechos de administrador podrán accesar las funciones
   administrativas, los usarios normales no podrán.</p>

   <p>Detalles:</p>

   <ul>
    <li>Las contraseñas deberán tener de 4 a 14 caracteres de longitud</li>
    <li>No utilizaremos comunicaciones encriptadas (SSL) para este sitio</li>
    <li>DETALLE</li>
   </ul>
  </dd>


  <dt>¿Cuáles son los requerimientos de desempeño y escalabilidad?</dt>

  <dd class="sample1">
   <p>PÁRRAFO</p>

   <p>PÁRRAFO</p>

   <p>Detalles:</p>

   <ul>
    <li>DETALLE</li>
    <li>DETALLE</li>
    <li>DETALLE</li>
   </ul>
  </dd>


  <dt>¿Cuáles son los requerimientos de mantenimiento y actualización?</dt>

  <dd class="sample1">
   <p>La capacidad de mantenimiento es nuestra habilidad para realizar cambios al producto
   en el tiempo.  Necesitamos una capacidad de mantenimiento fuerte para retener a nuestros
   primeros clientes.  Resolveremos esto anticipando varios tipos de cambios
   y documentando cuidadosamente nuestro diseño y nuestra
   implementación.</p>

   <p>La capacidad de actualización es nuestra habilidad para entregar nuevas versiones del producto
   a bajo costo a los clientes con un mínimo de tiempo de descarga o
   disrupción.  Una característica clave para apoyar este objetivo es la descarga
   automática de parches o actualizaciones y actualizaciones del equipo del usuario final. También
   debemos utilizar formatos para archivos de datos que incluyan suficientes meta-datos para
   permitirnos trasformar con seguridad la información existente del usuario durante
   una actualización.</p>

   <p>Detalles:</p>

   <ul>
    <li>DETALLE</li>
    <li>DETALLE</li>
    <li>DETALLE</li>
   </ul>
  </dd>


  <dt>¿Cuáles son los requerimientos de soportabilidad y operabilidad?</dt>

  <dd class="sample1">

   <p>La soportabilidad es nuestra habilidad de proveer soporte técnico
   eficiente y a buen precio.  Nuestro objetivo es limitar nuestros costos de soporte a solo
   5% de las tarifas de licenciamiento anual.  Las caracteísticas de actualización automática
   del producto no ayudará a entregar fácilmente parches a los usuarios finales. La
   guía del usuario y el sitio web del producto incluyen una guía de resolución de problemas
   y una lista de información que debe tener a la mano antes de contactar a 
   soporte técnico.</p>

   <p>La operabilidad es nuestra habilidad de hospedar y operar el software
   como un ASP (Proveedor de Servicios de Aplicaciones).  Las características del producto deberán
   ayudarnos a alcanzar nuestros objetivos de 99.9% en línea (con 43 minutos máximo
   fuera de línea por mes).  Las características principales que soporten esto son la capacidad de crear
   respaldos de datos en tiempo de operación, y el monitoreo de la aplicación.</p>

   <p>Detalles:</p>

   <ul>
    <li>DETALLE</li>
    <li>DETALLE</li>
    <li>DETALLE</li>
   </ul>
  </dd>


  <dt>¿Cuáles son los requerimientos del ciclo de vida del negocio?</dt>

  <dd class="sample1">

   <p>El ciclo de vida del negocio de un producto incluye todo lo
   que le pasa a ese producto sobre un periodo de varios años, desde
   la decisión inicial de compra, a través de improtantes pero poco frecuentes casos de uso,
   hasta el retiro del producto.  Los requerimientos principales de del ciclo de vida son
   listados abajo.</p>

   <p>Detalles:</p>

   <ul>
    <li>Los clinetes deberán se capaces de manejar el número de licencias
    con el que ya cuentan y de hacer decisiones informadas sobre las compras de más licencias
    cuando sea necesario</li>

    <li>el producto deberá soportar operación diaria y nuestra auditoría
    de fin de año</li>

    <li>La información del cliente deberá ser almacenada en un formato que sea
    accesible incluso después de que la aplicación sea retirada.</li>
   </ul>
  </dd>

 </dl>



 <a name="environmental"></a>
 <h3>Requerimientos Ambientales</h3>

 <div class="sticky">
  TAREAS: Describa los requerimientos ambientales para esta entrega.
  Los requerimientos ambientales describen el sistema más grande hardware,
  software, y los data con el que este producto debe trabajar.  Se
  proveen algunos ejemplos más abajo.
 </div>

 <dl>

  <dt>¿Cuáles son los requerimientos de hardware del sistema?</dt>

  <dd class="sample1">
   <p>PÁRRAFO</p>

   <p>PÁRRAFO</p>

   <p>Detalles:</p>

   <ul>
    <li>DETALLE</li>
    <li>DETALLE</li>
    <li>DETALLE</li>
   </ul>
  </dd>


  <dt>¿Cuáles son los requerimientos de software del sistema?</dt>

  <dd class="sample1">
   <p>PÁRRAFO</p>

   <p>PÁRRAFO</p>

   <p>Detalles:</p>

   <ul>
    <li>DETALLE</li>
    <li>DETALLE</li>
    <li>DETALLE</li>
   </ul>
  </dd>


  <dt>¿Qué Interfaces de Aplicación del Programa (APIs) deben incluirse?</dt>

  <dd class="sample1">
   <p>PÁRRAFO</p>

   <p>PÁRRAFO</p>

   <p>Detalles:</p>

   <ul>
    <li>Debemos implementar esta <a href="LINK-TO-STANDARD">API estándar</a>.</li>
    <li>DETALLE</li>
    <li>DETALLE</li>
   </ul>
  </dd>


  <dt>¿Cuáles son los requerimientos de importación y exportación de datos?</dt>

  <dd class="sample1">
   <p>PÁRRAFO</p>

   <p>PÁRRAFO</p>

   <p>Detalles:</p>

   <ul>
    <li>El sistema deberá almacenar todos los datos en una base de datos SQL estándar, donde pueda ser accesado por otros programas.</li>

    <li>El sistema podrá almacenar todos los datos en  un archivo XML, usando una <a href="LINK-TO-STANDARD"> DTD estándar</a>.</li>

    <li>El sistema deberá leer y escribir archivos .XYZ válidos para ser usados por OTRA APLICACIÓN</li>

    <li>DETALLE</li>
   </ul>
  </dd>

 </dl>

</div>


 <div class="sticky">
  TAREAS: Revisar las <a
  href="http://readyset.tigris.org/words-of-wisdom/overview.html">notas de 
  sabiduría</a> y discutir formas de mejorar esta plantilla.
 </div>

<div class="legal1">Compañía Propietaria</div>

<div class="footnote">
 Copyright &#169; 2003 Jason Robbins.  Todos los derechos reservados. <a href="readyset-license.html">Términos de la Licencia</a>.
 Mantenga esta leyenda derechos donde utilice este archivo como 
 plantilla - Traducción al español por <a href="http://www.interplanet.com.mx">Interplanet</a>, México, D.F.
</div>

</div>
</body>
</html>
