<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//Tigris//DTD XHTML 1.0 Transitional//EN"
"http://style.tigris.org/tigris_transitional.dtd">
<html>
<head>
 <style type="text/css">
/* <![CDATA[ */ 
@import "css/readyset.css"; 
@import "css/inst.css";
/*  ]]> */
 </style>

<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
 <title>Reporte de Estado</title>
</head>

<body>
<div class="app">
<div class="readyset">
 <h2>Reporte de Estado</h2>

 <a name="projectinfo"></a>
 <h3>Project Information</h3>
 <div class="sticky">
  TAREAS: Copiar este archivo para cada reporte de estado. Llene la 
  información que se le pide abajo.  Envie un e-mail para notificar a los inversionistas a partir de cuándo este
  reporte estará disponible.
 </div>

 <div class="sticky">
  TAREAS: Edite las filas en la siguiente tabla. En algunas filas hay
  múltiples ejemplos escritos. Ud. debería seleccionar/editar solo uno.
 </div>

 <div class="axial">
 <table border="1" cellpadding="3" cellspacing="2">
  <tr>
   <th>Projecto:</th> 
   <td>NOMBREDELPROYECTO</td>
  </tr>
  <tr>
   <th>Fecha del Reporte de Estado:</th> 
   <td>DÍA/MES/AÑO</td>
  </tr>
  <tr>
   <th>Siguiente Número Interno de Versión:</th> 
   <td>X.Y.Z</td>
  </tr>
  <tr>
   <th>Fecha de Liberación:</th> 
   <td>
    <div>Estimado original: DÍA/MES/AÑO</div>
    <div>Estimado actual: DÍA/MES/AÑO</div>

    <div class="sample1">Cambios desde el Último Reporte: Ninguno</div>
    <div class="sample2">Cambios desde el Último Reporte: Atraso de 2 días</div>
    <div class="sample3">Cambios desde el Último Reporte: Adelanto de 4 días</div>
   </td>
  </tr>
  <tr>
   <th>
    <div>Pendientes Abiertos:</div>
    <div>(es necesario desarrollarlos)</div>
   </th> 
   <td class="sample1">
    <div><a href="ISSUE-TRACKER-QUERY">17 defectos</a></div>
    <div><a href="ISSUE-TRACKER-QUERY">8 mejoramientos</a></div>
   </td>
  </tr>
  <tr>
   <th>
    <div>Pendientes Resueltos:</div>
    <div>(verificación pendiente)</div>
   </th> 
   <td class="sample1">
    <div><a href="ISSUE-TRACKER-QUERY">0 defectos</a></div>
    <div><a href="ISSUE-TRACKER-QUERY">2 mejoramientos</a></div>
   </td>
  </tr>
  <tr>
   <th>Problemas Cerrados:</th> 
   <td class="sample1">
    <div><a href="ISSUE-TRACKER-QUERY">34 defectos</a></div>
    <div><a href="ISSUE-TRACKER-QUERY">3 mejoramientos</a></div>
   </td>
  </tr>
  <tr>
   <th>Recursos utilizados en este periodo:</th> 
   <td class="sample1">
    <div>NOMBREDELAPERSONA: 18 horas.</div>
    <div>NOMBREDELAPERSONA: 15 horas.</div>
    <div>NOMBREDELAPERSONA: 10 horas.</div>
    <div>NOMBREDELAPERSONA: 12 horas.</div>
   </td>
  </tr>
  <tr>
   <th>Resumen del Estado:</th> 
   <td>
    <div class="sample1">Proyectp terminado. Este es el reporte final de estado.</div>
    <div class="sample2">Riesgo controlado. El proyecto está en línea.</div>
    <div class="sample3">Riesgo medio.  Se están resolviendo algunos problemas.</div>
    <div class="sample4">Riesgo alto.  Es necesario consejo de administración y de los inversionistas.</div>
    <div class="sample1">Proyecto cancelado. Este es el reporte final de estado.</div>
   </td>
  </tr>
  <tr>
   <th>Documentos Relacionados:</th> 
   <td>
    <div><a href="plan.html">Plan del Proyecto</a></div>
    <div><a href="qa-plan.html">Plan de QA</a></div>
    <div><a href="resource-needs.html">Recursos necesarios</a></div>
    <div><a href="glossary.html">Glosario de términos</a></div>
   </td>
  </tr>
 </table>
 </div>


 <a name="processimpact"></a>
 <p class="readonly"><strong>Impacto del proceso:</strong> Este paso ayuda a mantener
 a los inversionistas informados del estado del proyecto para que puedan tener espectativas
 correctas.  Las explicaciones razonadas de los cambios pequeños en
 el plan de trabajo son mejores que desajustes sin explicación.</p>


 <a name="detailedstatus"></a>
 <h3>Estado Detallado</h3>
 <div class="sticky">
  TAREAS: Redacte de 1 a 4 párrafos que describan que ha ocurrido en este proyecto.
  El texto de abajo es solo un ejemplo, reemplácelo con sus propias palabras.
 </div>

 <div class="sample1">
 <p>Esta semana nos enfocaremos en...</p>

 <p>Dos problemas importantes que hemos descubierto...</p>

 <p>Estamos aproximadamente al 30% del plan del proyecto, y
 cerca de 2 días adelantados en la planeación...</p>
 
 <p>La razón para el cambio en la fecha estimada de entrega es...</p>

 <p>Para seguir en tiempo, hemos descartado las mejoras a<a
 href="ISSUE-TRACKER-URL">problema 92</a>, <a href="ISSUE-TRACKER-URL">problema 101</a>, and <a href="ISSUE-TRACKER-URL">problema 129</a> para
 una entrega posterior. Se han seleccionado estos problemas debido a...</p>
 </div>


 <a name="upcomingactivity"></a>
 <h3>Próximas Actividades</h3>
 <div class="sticky">
  TAREAS: Incluya algunas viñetas que describan qué hará entre este reporte de estado
  y el siguiente.  El texto de abajo es solo un ejemplo,
  reemplácelo con sus propias palabras. Haga ligas a los problemas abiertos en
  el sistema de control de cambios siempre que sea posible.
 </div>

 <ul class="sample1">
  <li>Arreglar <a href="ISSUE-TRACKER-URL">problema 130</a></li>
  <li>Arreglar <a href="ISSUE-TRACKER-URL">problema 133</a></li>
  <li>Verificar <a href="ISSUE-TRACKER-URL">problema 102</a>,
             <a href="ISSUE-TRACKER-URL">problema 103</a>,
             <a href="ISSUE-TRACKER-URL">problema 107</a>, y
             <a href="ISSUE-TRACKER-URL">problema 109</a>
  </li>
  <li>Organizar la junta normal con el equipo: Martes, 1 hora</li>
  <li>Realizar junta de revisión:: Miércoles, 2 horas</li>
  <li>Hacer un mayor progreso en COMPONENTE</li>
  <li>Trabajar en la siguiente lista de pendientes de la entrega</li>
  <li>Continuar con pruebas de funcionalidad</li>
  <li>Revizar nuestro procedimiento de integración</li>
  <li>Versión de la entrega X.Y.Z</li>
 </ul>



 <a name="trackingtoplan"></a>
 <h3>Seguimiento del Plan</h3>
 <div class="sticky">
  TAREAS: Copie el WBS del <a href="plan.html">plan del proyecto</a> y
  péguelo aquí.  Añada una nueva columna para el esfuerzo que se está inviertiendo hasta ahora por
  todos los miembros del equipo.
 </div>

 <div class="sample1">
 <table border="1" cellpadding="3" cellspacing="2">
 <tr><th>Step</th><th>Descripción</th><th><div>Horas</div><div>Planeadas</div></th><th><div>Invertido</div><div>a la fecha</div></th></tr>

 <tr><th>1.</th><td>Preparación</td><td></td><td></td></tr>

 <tr><th>1.1.</th><td class="level2">Capacitación a Desarrollo</td><td>30h</td><td>0h</td></tr>


 <tr><th>2.</th><td>Inicio</td><td></td><td></td></tr>

 <tr><th>2.1.</th><td class="level2">Levantamiento de Requerimientos</td><td>30h</td><td>0h</td></tr>

 <tr><th>2.2.</th><td class="level2">Especificación de Requerimientos</td><td>20h</td><td>0h</td></tr>

 <tr><th>2.3.</th><td class="level2">Validación de Requerimientos</td><td>10h</td><td>0h</td></tr>


 <tr><th>3.</th><td>Elaboración</td><td></td><td></td></tr>

 <tr><th>3.1.</th><td class="level2">Diseño de Alto nivel</td><td>5h</td><td>0h</td></tr>

 <tr><th>3.2.</th><td class="level3">Diseño de Bajo nivel (descompóngalo por componente)</td><td></td><td></td></tr>

 <tr><th>3.2.A.</th><td class="level4">Diseño por Objectos</td><td>10h</td><td>0h</td></tr>

 <tr><th>3.2.B.</th><td class="level4">Diseño de la interfaz del Usuario</td><td>10h</td><td>0h</td></tr>

 <tr><th><a name="3.2.C"></a>3.2.C.</th><td class="level4">Diseño de la Base de Datos</td><td>3h</td><td>0h</td></tr>

 <tr><th>3.3.</th><td class="level3">Revisión y evaluación del Diseño</td><td>5h</td><td>0h</td></tr>


 <tr><th>4.</th><td>Construcción</td><td></td><td></td></tr>

 <tr><th>4.1.A.</th><td class="level2">Implementación del Sistema</td><td></td><td></td></tr>

 <tr><th>4.1.A.1.</th><td class="level3">Implementación del Componente 1</td><td>25h</td><td>0h</td></tr>

 <tr><th>4.1.A.2.</th><td class="level3">Implementación del Componente 2</td><td>25h</td><td>0h</td></tr>

 <tr><th>4.1.A.3.</th><td class="level3">Implementación del Componente 3</td><td>25h</td><td>0h</td></tr>

 <tr><th>4.1.A.4.</th><td class="level3">Implementación del Componente 4</td><td>25h</td><td>0h</td></tr>

 <tr><th>4.1.A.5.</th><td class="level3">
  <div>Integración de Componentes</div>
  <div>(hecho en su mayoría durante la implementación de componentes)</div>
 </td><td>5h</td><td>0h</td></tr>

 <tr><th>4.1.B.</th><td class="level2">Documentación Técnica (descompóngala por componente)</td><td>10h</td><td>0h</td></tr>

 <tr><th>4.1.C.</th><td class="level2">Documentación del Usuario (descompóngala por componente)</td><td>10h</td><td>0h</td></tr>

 <tr><th>4.1.D.</th><td class="level2">Pruebas</td><td></td><td></td></tr>

 <tr><th>4.1.D.1.</th><td class="level3">Planeación de Pruebas</td><td>10h</td><td>0h</td></tr>

 <tr><th>4.1.D.2.</th><td class="level3">Implementación de pruebas de código (descompóngala por componente)</td><td>30h</td><td>0h</td></tr>

 <tr><th>4.1.D.3.</th><td class="level3">Ejecución de pruebas</td><td>10h</td><td>0h</td></tr>

 <tr><th>4.2.</th><td class="level2">Revisión y evaluación de pruebas</td><td>15h</td><td>0h</td></tr>


 <tr><th>5.</th><td>Transición</td><td></td><td></td></tr>

 <tr><th>5.A.</th><td class="level2">Empaque para entrega</td><td>3h</td><td>0h</td></tr>
 
 <tr><th>5.B.</th><td class="level2">Documentación por otros grupos</td><td>3h</td><td>0h</td></tr>


 <tr><th>6.</th><td>Reflexiones</td><td></td><td></td></tr>

 <tr><th>6.1. </th><td class="level2">Reporte Postmortem</td><td>10h</td><td>0h</td></tr>


 <tr><th></th><th>Total</th><th>329 horas</th><th>0h</th></tr>
 </table>
 </div>


 <div class="sticky">
  TAREAS: Revisar las <a
  href="http://readyset.tigris.org/words-of-wisdom/overview.html">notas de 
  sabiduría</a> y discutir formas de mejorar esta plantilla.
  
 </div>


<div class="legal1">Compañía Propietaria</div>

<div class="footnote">
 Copyright &#169; 2003 Jason Robbins.  Todos los derechos reservados. <a href="readyset-license.html">Términos de la Licencia</a>.
 Mantenga esta leyenda derechos donde utilice este archivo como 
 plantilla - Traducción al español por <a href="http://www.interplanet.com.mx">Interplanet</a>, México, D.F.
</div>

</div>
</body>
</html>
