<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//Tigris//DTD XHTML 1.0 Transitional//EN"
"http://style.tigris.org/tigris_transitional.dtd">
<html>
<head>
 <style type="text/css">
/* <![CDATA[ */ 
@import "css/readyset.css"; 
@import "css/inst.css";
/*  ]]> */
 </style>

<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
 <title>Mercado Objetivo u beneficios</title>
</head>

<body>
 <h2><a href="proposal.html">Propuesta del Proyecto</a> &gt; Público Objetivo y Beneficios</h2>

 <div class="app">
 <div class="readyset">

 <a name="projectinfo"></a>
 <h3>Información del Proyecto</h3>
 <div class="axial">
 <table border="1" cellpadding="3" cellspacing="2">
  <tr>
   <th>Proyecto:</th> 
   <td>NOMBRE DEL PROYECTO</td>
  </tr>
  <tr>
   <th>Número Interno de Versión:</th> 
   <td>X.Y.Z</td>
  </tr>
  <tr>
   <th>Documentos Relacionados:</th> 
   <td>
    <div><a href="proposal.html">Propuesta del proyecto</a></div>
    <div><a href="user-needs.html">Necesidades del usuario</a></div>
    <div><a href="glossary.html">Glosario de términos</a></div>
   </td>
  </tr>
 </table>
 </div>

 <a name="processimpact"></a>
 <p class="readonly"><strong>Impacto del proceso:</strong> Este documento
 ayuda a identificar clientes potenciales y a definir sus caracterñisticas.  Esto
 ayuda a sugerir y dar peso a sus requerimientos. La lista de 
 beneficios le da al equipo de ventas información sobre cómo vender el producto,
 y remarca importantes casos de uso y los casos de prueba.</p>

 <a name="targetaudience"></a>
 <h3>Público Objetivo</h3>
 <div class="sticky">
  TAREAS: Complete la información que falata rriba y abajo. Las respuestas que aparecen
  son sólo ejemplos.  Bórrelas y responda con sus propias palabras.
 </div>

 <dl>
  <dt>¿En qué segmento de mercado se encuentra localizado este producto?</dt>
  <dd class="sample1">Videojuegos de consola.  Especificamente juegos de tiro en primera persona.</dd>
  <dd class="sample2">Softwrae Anti-virus para teléfonos celulares.</dd>
  <dd class="sample3">Herramientas de desarrollo Open-source para diseño de bases de datos con SQL.</dd>


  <dt>¿Cuál es el público objetivo para este producto? Incluya características 
  específicas.</dt>
  <dd class="sample1">Jugadores experimentados de 13 a 35 años que disfruten de 
  juegos de tiro en primera persona con modelos de animación detallados
  y segmentos de animación.</dd>

  <dd class="sample2">Usuarios de teléfonos celulares que bajan frecuentemente tonos, videojuegos,
  y otro tipo de contenido a teléfonos de última generación y que están preocupados
  por posibles virus.</dd>


  <dt>¿Cuál es el tamaño del mercado total disponible? Cite referencias 
  si las usa.</dt>
  <dd class="sample1">10,000 usuarios [<a href="#">artículo de revista</a>].</dd>
  <dd class="sample2"> $100 millones, con una tasa de crecimiento anual del 4% [<a href="#">análisis de la
  industria</a>].</dd>


  <dt>¿Cuáles son otras opciones con las que cuentan los usuarios o que productos comerciales ya atienden
  estas mismas necesidades?</dt>
  <dd class="sample1">
   <ul>
    <li><a href="#">Competidor No. 1</a></li>
    <li><a href="#">Competidor No. 2</a></li>
    <li><a href="#">Soluciones "hágalo-Ud.-mismo"</a></li>
   </ul>
  </dd>

 </dl>


 <a name="benefits"></a>
 <h3>Beneficios</h3>
 <div class="sticky">
  TAREAS: Haga una lista de los principales beneficios que este producto traerá.  Para
  cada uno, identifique al beneficiario. Cada beneficio deberá ser descrito en términos
  reales, sin referirse exclusivamente a este producto.
 </div>

 <div class="sticky">
  SUGERENCIA: Si puede categorizar los beneficios por orden de importancia, utilice listas numeradas (con la etiqueta HTML
  &lt;ol>), de lo contrario utilice listas normales (con la etiqueta HTML &lt;ul>).
 </div>


 <ul class="sample1">
  <li>Incremente el valor del juego
   <ul>
    <li>Muchos jugadores disfrutan los juegos más cuando juegan en euqipos.</li>

    <li>Los Clanes pueden ayudar a incrementar el tiempo que un jugador pasa en un juego,
    reduciendo el gasto en juegos nuevos.</li>
   </ul>
  </li>
  <li>Incrementa la población de clientes
   <ol>
    <li>Los jugadores miembros de clanes con frecuencia alientan a sus amigos a jugar los mismos
    juegos, lo cual reditua al distribuidor en más ventas.</li>

    <li>Los clanes ayudan a organizar el mercado y a crear canales de comunicación
    para que información de ventas (por ejemplo, sobre
    nuevos títulos) se difunda más rápido con un menor gasto en publicidad.</li>

    <li>Los clanes atraen a los jugadores con más experiencia que pueden dar una mejor
    retroalimentación a los distribuidores de videojuegos.</li>
   </ol>
  </li>
  <li>Reduce los costos actuales
   <ul>
    <li>Reduce los costos de personal</li>
    <li>Reduce los costos de entrenamiento</li>
    <li>Reduce los costos de mantenimiento</li>
    <li>Reduce los costos de infraestructura</li>
    <li>hace más eficientes los procesos actuales</li>
    <li>Evita las cláusulas de penalización de los contratos actuales</li>
   </ul>
  </li>
  <li>Abre nuevas oportunidades de negocios
   <ul>
    <li>Abre nuevas oportunidades de ventas</li>
    <li>Mejora el tamaño o la tasa de éxito de ventas</li>
    <li>Abre oportunidades de nuevos socios comerciales</li>
    <li>Dispara nuevas cláusulas en los contratos actuales</li>
   </ul>
  </li>
  <li>Satisface a los inversionistas
   <ul>
    <li>Satisface a los dueños</li>
    <li>Satisface a los socios</li>
    <li>Satisface a la administración o a los ejecutivos</li>
    <li>Satisface las regulaciones guvernamentales o las políticas corporativas</li>
    <li>Mejora la moral en general</li>
   </ul>
  </li>
  <li>Ayuda a tomar ventaja del mercado cambiante
   <ul>
    <li>Inventario reducido o necesidad de planear por adelantado</li>
    <li>Agiliza las entregas al público</li>
    <li>Mejora la cadena de suministro</li>
    <li>Reduce los costos fijos</li>
   </ul>
  </li>
  <li>Tipo de beneficios 
   <ol>
    <li>El mejor beneficio</li>
    <li>Beneficio</li>
    <li>Beneficio</li>
   </ol>
  </li>
  <li>Tipo de beneficio
   <ul>
    <li>Beneficio</li>
    <li>Beneficio</li>
    <li>Beneficio</li>
   </ul>
  </li>
 </ul>

 <a name="downsides"></a>
 <h3>Problemas potenciales</h3>
 <div class="sticky">
  TAREAS: ¿Podría alguien salir lastimado o puesto en desventaja por del sistema
  propuesto?  Enumere como arriba. Es importanter recalcar que que estos no son riesgos para el
  éxito de su implementación; asuma que ha construido el sistema como
  lo especificó respecto sus tiempos.
 </div>

 <ul class="sample1">
  <li>Privacidad
   <ul>
    <li>Cuando los jugadores se unen a los clanes, también puden decidir si reciben o no
    información de ventas de los distribuidores de videojuegos. Normalmente esto es algo bueno
    si los jugadores están interesados, pero también puede ser considerado
    molesto

    <li>Las personas que hagan trampa serán públicamente etiquetados como tales y y bloqueados por
    los servidores de jeugos, para que así pierdan la oportunidad de jugar/hacer trampa.</li>
   </ul>
  </li>
  <li>Tipos de problemas 
   <ol>
    <li>Peor problema posible</li>
    <li>Problema posible</li>
    <li>Problema posible</li>
   </ol>
  </li>
 </ul>



 <div class="sticky">
  TAREAS: Revisar las <a
  href="http://readyset.tigris.org/words-of-wisdom/overview.html">notas de 
  sabiduría</a> y discutir formas de mejorar esta plantilla.
 </div>

<div class="legal1">Compañía Propietaria</div>

<div class="footnote">
 Copyright &#169; 2003 Jason Robbins.  Todos los derechos reservados. <a href="readyset-license.html">Términos de la Licencia</a>.
 Mantenga esta leyenda derechos donde utilice este archivo como 
 plantilla - Traducción al español por <a href="http://www.interplanet.com.mx">Interplanet</a>, México, D.F.
</div>

</div>
</body>
</html>
