/* $Id: inst.css,v 1.12 2003/06/24 22:48:57 jrobbins Exp $

This file contains rules that extend or override the more basic
formatting defined in readyset.css. Edit it to customize the fonts and
colors. You are responsible for maintaining your own set of (optional)
deltas from readyset.css defaults; this file is intended as an
example.

*/


.footnote {
  /* To hide footnotes, change "block" to "none". */
   display: block;
}

body {
 background: #fff;
 color: #000;
}

h3, h4 {
 background-image: none;
 background: #ccc;
 color: #000;
}

h3 {
 border-left: solid 1.2em #666;
}

h4 {
 border-left: solid 0.7em #666;
}

#bodycol h3, #bodycol h4 { border: 0; }

.readyset td { background: #eee !important; }

.readyset .axial td { background: #fff !important; }

.readyset th { background-color: #ccc; }

body, th, td, input, select {
 font-family: Verdana, Helvetica, Arial, sans-serif;
}

code, pre, textarea {
 font-family: 'Andale Mono', Courier, monospace;
}


.sticky {
 background: #ffc;
 border-right-color: #aaa;
 border-bottom-color: #aaa;
}

.readonly {
 background: #eee;
 border-color: #aaa;
}

.reusablefragment {
 background: #eee;
 border: 2px dashed;
}

.sample1 { border-right: 4px double #500; }
.sample2 { border-right: 4px double #050; }
.sample3 { border-right: 4px double #005; }
.sample4 { border-right: 4px double #505; }

a.def { 
 text-decoration: none; 
 border-bottom: dashed 1px blue; 
}
