/* $Id: inst.css,v 1.3 2003/06/18 17:22:47 jrobbins Exp $

This file contains rules that extend or override the more basic
formatting defined in readyset.css. Edit it to customize the fonts and
colors. You are responsible for maintaining your own set of (optional)
deltas from readyset.css defaults; this file is intended as an
example.

*/


.footnote {
  /* To hide footnotes, change "block" to "none". */
   display: block;
}

body {
 background: #fff;
 color: #000;
}

h3, h4 {
 border: solid 2px #666;
 background: #eee;
 color: #000;
}

h3 {
 border-left: solid 1em #666;
}

h4 {
 border-left: solid 0.5em #666;
}

td { background: #ddd; }

.axial td { background: #fff; }

th { background-color: #bbb; }

body, th, td, input, select {
 font-family: Verdana, Helvetica, Arial, sans-serif;
}

code, pre, textarea {
 font-family: 'Andale Mono', Courier, monospace;
}


.sticky {
 background: #ffc;
 border-right-color: #aaa;
 border-bottom-color: #aaa;
}

.readonly {
 background: #eee;
 border-color: #aaa;
}

.reusablefragment {
 background: #eee;
 border: 2px dashed;
}

.sample1 {
 border-right: 4px double #500;
}

.sample2 {
 border-right: 4px double #050;
}

.sample3 {
 border-right: 4px double #005;
}

.sample4 {
 border-right: 4px double #505;
}
