
h3, h4 {
 font-size: x-small;
}

body, textarea, pre, code {
 font-size: xx-small;
}

small, div.tabs th, div.tabs td, input, select {
 font-size: xx-small;
}

table {
 font-size: xx-small;
}

.sticky, .footnote {
 display: none;
}
