/* $Id: inst.css,v 1.1 2003/06/09 20:08:08 jrobbins Exp $

This file contains rules that extend or override the more basic formatting defined in tigris.css. Edit it to customize the look of applications using tigris.css (instances). You are responsible for maintaining your own set of (optional) deltas from tigris.css defaults; this file is intended as an example.

*/

/* colors, backgrounds, borders, link indication */


.app h3, #banner, #banner td, #toptabs {
	background-color: #036;
	color: #fff;
}

.footnote {
   width: 80%;
   border-top: solid #aaa 1px;
   font-size: x-small;
   padding-top: 3px;
   margin-top: 3em;
}

.sticky {
 background: #ffc;
 border-right: 1px solid #aaa;
 border-bottom: 1px solid #aaa;
 padding: 3px;
 }
